{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Documents &mid; {{ block.super }}{% endblock title %}

{% block column_main %}

<header class="card">
    <h1 class="card-header">Documents</h1>
    <div class="card-body">
        <p>Browse all documents (notes, sheets and maps) in database.</p>
        <div id="journal" class="calendar"></div>
    </div>
</header>

<script src="{% static 'orgapy/js/specials/journal.js' %}"></script>
<script>fetchJournalData(null)</script>

{% endblock column_main %}