{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{{ category | title }} &mid; {{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/specials/journal.css' %}" />
{% endblock head %}

{% block main_content %}

<header class="card card-fake-transparent">
    <h1>{{ category | title }}</h1>
    <div id="journal"></div>
</header>

<script src="{% static 'orgapy/js/specials/journal.js' %}"></script>
<script>fetchJournalData("{{ category }}");</script>

{% endblock main_content %}

{% block artworks %}
<img class="artwork" src="{% static 'orgapy/artworks/journal.png' %}" />
{% endblock artworks %}
