{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{{ category | title }}{% endblock title %}

{% block column_main %}

<header class="card">
    <h1 class="card-header">{{ category | title }}</h1>
    <div class="card-body">
        <div id="journal" class="calendar"></div>
    </div>
</header>

<script src="{% static 'orgapy/js/specials/journal.js' %}"></script>
<script>fetchJournalData("{{ category }}");</script>

{% endblock column_main %}

{% block artworks %}
<img class="artwork" src="{% static 'orgapy/artworks/journal.png' %}" />
{% endblock artworks %}
