{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Quotes{% endblock title %}

{% block column_main %}
<div class="card">
    <h1 class="card-header">Quotes</h1>
    <div class="card-body" id="quotesContainer"></div>
</div>
<script>
fetchApi(URL_API + "?action=search&category=quote", "get", null, searchResults => {
    const authors = {};
    for (const obj of searchResults.objects) {
        const titleMatch = obj.title.match(/^(.*?) \- /);
        const author = titleMatch == null ? obj.title : titleMatch[1];
        if (!(author in authors)) {
            authors[author] = [];
        }
        authors[author].push(obj);
    }
    quotesContainer.innerHTML = "";
    const authorsList = [...Object.keys(authors)];
    authorsList.sort();
    for (const author of authorsList) {
        create(quotesContainer, "b").textContent = author;
        const ul = create(quotesContainer, "ul");
        ul.style.marginTop = ".2rem";
        authors[author].sort((a, b) => a.title < b.title ? -1 : 1);
        for (const obj of authors[author]) {
            const a = create(create(ul, "li"), "a", "link-hidden");
            a.href = obj.href;
            a.textContent = obj.title.replace(author + " - ", "");
        }
    }
});
</script>
{% endblock column_main %}

{% block artworks %}
<img class="artwork" src="{% static 'orgapy/artworks/quote.png' %}" />
{% endblock artworks %}
