{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block main_content %}

<h1>Welcome to Orgapy</h1>

<h2>What is it?</h2>

<p>
    It is a <a href="https://www.djangoproject.com/">Django</a> application,
    whose purpose is to act as a notebook. You can keep <b>notes</b>, manage
    <b>tasks</b> and track <b>objectives</b>.
    It is open-source, more precisely developped under the MIT License. You can
    find the source code on <a href="https://github.com/ychalier/orgapy">GitHub</a>).
</p>

<p>
    Originally, it was developped as an alternative to Google Keep.
    It now has more advanced features you might want, such as
    <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> markup, code
    syntax highlighting, objective tracking, ...
</p>

<h2>Try it yourself</h2>

<h3>Install the application on your Django server</h3>

<p>
    The repository's <a href="https://github.com/ychalier/orgapy/blob/master/README.rst">README</a>
    contains all the information you need.
</p>

<h3>Apply for a demo</h3>

<p>
    I can create demo accounts. <a href="https://chalier.fr/#contact">Feel free to contact me.</a> 
</p>

{% endblock main_content %}
