{% extends "orgapy/skeleton.html" %}
{% load static from staticfiles %}

{% block section %}
<h1>Welcome to Orgapy!</h1>

<h2>What is this?</h2>

<p>
    It is a <a href="https://www.djangoproject.com/">Django</a> application,
    whose purpose is to act as a notebook. You can keep <b>notes</b> and manage
    the <b>tasks</b> that you need to do. Also, notes can be arranged into a
    <b>blog</b> for anyone to see!
</p>

<p>
    It is open-source, more precisely developped under the MIT License. You can
    find the source code on GitHub (check out this repository:
    <a href="https://github.com/ychalier/orgapy">https://github.com/ychalier/orgapy</a>).
</p>

<h2>Why would anyone use this?</h2>

<p>
    For the <b>DARK THEME!</b>
</p>

<p>
    For real, mainly, because you can keep control over your data. No need to share your
    thoughts with Google Keep or Microsoft's OneNote! Also, there are advanced
    features you might want to use, such as
    <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> markup, code
    syntax highlighting, and much more!
</p>

<p>
    Moreover, you can enter the code and tweak it the way you want, the way you need!
</p>

<h2>Alright then, but how do I use it?</h2>

<p>
    Check out the <a href="https://github.com/ychalier/orgapy">repository</a>,
    it has <a href="https://github.com/ychalier/orgapy/releases">releases</a>
    with <code>.tar.gz</code> attached files, one per released version.
    Download the latest one, and install it to your Python environment with:
</p>

<div class="highlight">
    <pre>pip install django-orgapy-v0.3.2.tar.gz</pre>
</div>

<p>
    Then add <code>"orgapy"</code> to the <code>INSTALLED_APPS</code> of your
    Django project, migrate the database, update your URLs, and voilà!
</p>

{% endblock section %}
