{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Blog | {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/blog.css' %}" />
{% endblock head %}

{% block section %}
<h1>Blog</h1>

<section class="publication_list">
{% for publication in publications %}
<article class="publication">
    <a href="{% url 'orgapy:view_public_note' slug=publication.note.slug %}"><h2 class="publication__title">{{publication.note.title}}</h2></a>
    <p class="publication__meta">
        {{publication.author}} &middot; {{publication.date_publication|date}}
    </p>
    <p class="publication__abstract">
        {{publication.abstract}}
    </p>
</article>
{% endfor %}
</<section>

<nav class="navbar">
    <span class="step-links">
        {% if publications.has_previous %}
        <a href="?page=1{% if query %}&query={{query|urlencode}}{% endif %}">&laquo; first</a>
        <a href="?page={{ publications.previous_page_number }}{% if query %}&query={{query|urlencode}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ publications.number }} of {{ publications.paginator.num_pages }}.
        </span>

        {% if publications.has_next %}
        <a href="?page={{ publications.next_page_number }}{% if query %}&query={{query|urlencode}}{% endif %}">next</a>
        <a href="?page={{ publications.paginator.num_pages }}{% if query %}&query={{query|urlencode}}{% endif %}">last &raquo;</a>
        {% endif %}
    </span>
</nav>

{% endblock section %}
