{% extends "orgapy/layout/documents.html" %}

{% block title %}#{{ category.name }}{% endblock title %}

{% block content_title %}
<header class="card">
    <h1 class="card-header">{{ category.name | title }}</h1>
    <div class="card-actions">
        <a class="button" href="{% url 'orgapy:edit_category' category.name %}" title="Rename"><i class="ri-pencil-fill"></i> Edit</a>
        <a class="button button-danger link-confirm" message="Are you sure to delete '{{ category.name }}'?" href="{% url 'orgapy:delete_category' category.name %}" title="Delete"><i class="ri-delete-bin-line"></i> Delete</a>
    </div>
</header>
{% endblock content_title %}