{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} Categories &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}


{% block main_content %}

<h1>Categories</h1>

<table class="table table-hover table-striped table-condensed sortable">

    <thead>
        <tr>
            <th>Count</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for category in categories %}
        <tr>
            <td>
                <span class="label">{{ category.note_set.count }}</span>
            </td>
            <td>
                <a class="link-hidden" href="{% url 'orgapy:notes' %}?query=%23{{ category.name }}">{{ category.name | capfirst }}</a>
            </td>
            <td style="width: 100%">
                <a class="btn-inline" href="{% url 'orgapy:edit_category' cid=category.id %}" title="Rename"><i class="icon icon-edit"></i></a>
                <a class="btn-inline link-confirm" href="{% url 'orgapy:delete_category' cid=category.id %}" title="Delete"><i class="icon icon-delete"></i></a>
            </td>           
        </tr>
        {% endfor %}
        <tr>
            <td>
                <span class="label">{{ uncategorized }}</span>
            </td>
            <td>
                <a class="link-hidden" href="{% url 'orgapy:notes' %}?uncategorized=1">Uncategorized</a>
            </td>
            <td></td>       
        </tr>
    </tbody>

</table>



{% endblock main_content %}
