{% extends "orgapy/layout/documents.html" %}

{% block title %}#{{ category.name }}{% endblock title %}

{% block content_title %}
<header class="card">
    <h1 class="card-header">{{ category.name | title }}</h1>
    <div class="card-actions">
        <a class="button" href="?edit=1" title="Rename"><i class="ri-pencil-fill"></i> Edit</a>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" name="delete" value="on" class="button-danger submit-confirm" message="Do you want to delete '{{ category.name }}'?"><i class="ri-delete-bin-line"></i> Delete</a>
        </form>
    </div>
</header>
{% endblock content_title %}