{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} Categories &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

<header class="card">
    <h1>Categories</h1>
</header>

<div class="card categories">
    {% for category in categories %}
    <div class="category">
        <span><a class="oneline-truncate link-hidden" href="{{ category.get_absolute_url }}">{{ category.name | capfirst }}</a> <span class="label {% if category.count == 0 %}label-red{% endif %}">{{ category.count }}</span></span>
    </div>
    {% endfor %}
    <div class="category">
        <span><a class="oneline-truncate link-hidden" href="{% url 'orgapy:category' name='uncategorized' %}">Uncategorized</a>  <span class="label {% if uncategorized == 0 %}label-grey{% endif %}">{{ uncategorized }}</span></span>
    </div>
</div>

<script>document.querySelectorAll(".show-on-parent-hover .dropdown").forEach(bindDropdown);</script>

{% endblock main_content %}
