{% extends "orgapy/layout/documents.html" %}
{% block title %}Documents{% endblock title %}
{% block content_title %}
<div class="card">
    <div class="card-body">{% include 'orgapy/partials/document_search.html' %}</div>
    <div class="card-actions">
        <a class="button" href="{% querystring calendar=1 %}"><i class="ri-calendar-line"></i><span>Calendar</span></a>
        <a class="button" href="{% querystring format='tsv' %}"><i class="ri-download-line"></i><span>Export</span></a>
        <button popovertarget="create-menu"><i class="ri-add-line"></i><span>Create</span></button>
    </div>
</div>
{% endblock content_title %}
