{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Documents{% endblock title %}

{% block column_main %}
<div class="card">
    <div class="card-body">{% include 'orgapy/partials/document_search.html' %}</div>
    <div class="card-actions">
        <a class="button" href="{% querystring calendar=None %}"><i class="ri-menu-line"></i> List view</a>
        <a id="buttonExport" class="button"><i class="ri-download-line"></i><span>Export</span></a>
        <button popovertarget="create-menu"><i class="ri-add-line"></i><span>Create</span></button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div id="calendarContainer"></div>
    </div>
</div>

<script type="text/javascript">bindCalendar(calendarContainer, buttonExport, {defaultMode: "monthly"})</script>
{% endblock %}



