{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Documents{% endblock title %}

{% block column_main %}
<div class="card">
    <div class="card-body">{% include 'orgapy/partials/document_search.html' %}</div>
    <div class="card-actions">
        <a class="button" href="{% querystring calendar=None %}"><i class="ri-menu-line"></i> List view</a>
        <a id="buttonExport" class="button"><i class="ri-download-line"></i><span>Export</span></a>
        <div class="dropdown">
            <button class="dropdown-toggle"><i class="ri-add-line"></i><span>Create</span></button>
            <ul class="menu">
                <form id="createDocFormAux" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="title">
                    <li class="menu-item"><button type="submit" name="type" value="note"><i class="ri-sticky-note-line"></i> Note</button></li>
                    <li class="menu-item"><button type="submit" name="type" value="sheet"><i class="ri-table-line"></i> Sheet</button></li>
                    <li class="menu-item"><button type="submit" name="type" value="map"><i class="ri-map-2-line"></i> Map</button></li>
                </form>
            </ul>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div id="calendarContainer"></div>
    </div>
</div>

<script type="text/javascript">
bindCalendar(calendarContainer, buttonExport, {defaultMode: "monthly"});
bindCreateForm(createDocFormAux);
</script>
{% endblock %}



