{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit sheet group &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}
<div class="card">
    <h2>Edit sheet group</h2>
    <form action="{% url 'orgapy:save_sheet_group' %}" method="post">
        {% csrf_token %}
        {% if group %}<input type="hidden" name="id" value="{{group.id}}">{% endif %}
        <p>
            <label for="input-title">Title</label>
            <input id="input-title" type="text" name="title" placeholder="Title" maxlength="255" value="{{ group.title }}" />
        </p>
        <button class="btn btn-primary mb-2">Save</button>
    </form>
</div>
{% endblock main_content %}
