{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit {% if sheet %}'{{ sheet.title }}'{% else %}sheet{% endif %} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block column_main %}

<form id="form-note-edit" action="{% url 'orgapy:save_sheet' %}" method="post">
    {% csrf_token %}
    {% if sheet %}<input type="hidden" name="id" value="{{sheet.id}}" />{% endif %}
    <input hidden type="text" name="modification" value="{% if sheet %}{{ sheet.date_modification.timestamp }}{% endif %}" />
    {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
    <div class="card">
        <h1 class="card-header">
            <input class="input-inline" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ sheet.title }}{% endif %}" />
        </h1>
        <div class="card-body colll">
            {% include 'orgapy/partials/categories_input.html' with obj=sheet %}
            <div>
                <label for="input-content">Description</label>
                <textarea id="input-content" rows="12" name="content" placeholder="Write content using Markdown">{{ sheet.description }}</textarea>
            </div>
            <div class="col">
                <label class="toggle">
                    <input type="checkbox" name="public" {% if sheet.public %}checked{% endif %} />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">Public</span>
                </label>
                <label class="toggle">
                    <input type="checkbox" name="pinned" {% if sheet.pinned %}checked{% endif %} />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">Pinned</span>
                </label>
                <label class="toggle">
                    <input type="checkbox" name="hidden" {% if sheet.hidden %}checked{% endif %} />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">Hidden</span>
                </label>
            </div>
        </div>
        <div class="card-actions">
            <button>Save</button>
        </div>
    </div>
</form>
{% endblock column_main %}

