{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit sheet &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

<div class="card">
    <h2>{% block form_title %}Edit sheet{% endblock %}</h2>
    <form id="form-note-edit" action="{% url 'orgapy:save_sheet' %}" method="post">
        {% csrf_token %}
        {% if sheet %}<input type="hidden" name="id" value="{{sheet.id}}" />{% endif %}
        <p>
            <label for="input-title">Title</label>
            <input id="input-title" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ sheet.title }}{% endif %}" />
        </p>
        <p>
            <label for="input-group">Group</label>
            <select name="group" id="input-group">
                <option value="" class="text-gray">None</option>
                {% for group in sheet_groups %}
                <option value="{{group.id}}" {% if group == sheet.group %}selected{% endif %}>{{group.title}}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="input-content">Description</label>
            <textarea id="input-content" rows="12" name="content" placeholder="Write content using Markdown">{{ sheet.description }}</textarea>
        </p>
        <p>
            <label class="toggle">
                <input type="checkbox" name="public" {% if sheet.public %}checked{% endif %} />
                <span class="toggle-slider"></span>
                <span class="toggle-text">Public</span>
            </label>
        </p>
        <div class="row">
            <button>Save</button>
        </div>
    </form>
</div>

{% endblock main_content %}
