{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit quote &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}{% include 'orgapy/partials/menu_quotes.html' %}<hr class="menu-separator">{{ block.super }}{% endblock %}

{% block main_content %}

<div class="card">
    <h2>{% block form_title %}Edit quote{% endblock %}</h2>
    <form action="{% url 'orgapy:save_quote' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ quote.id }}" />
        <p>
            <label for="input-reference">Reference</label>
            <input  id="input-reference" type="text" name="reference" value="{{ quote.reference }}" placeholder="Albert Camus, *L'Étranger*" />
        </p>
        <p>
            <label for="input-content">Content</label>
            <textarea id="input-content" name="content" placeholder="Quote content" rows="8">{{ quote.content | safe }}</textarea>
        </p>
        <div class="row">
            <button>Save</button>
        </div>
    </form>
</div>

{% endblock main_content %}
