{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit sheet &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block before_columns %}
<form id="form-note-edit" action="{% url 'orgapy:save_sheet' %}" method="post">
{% csrf_token %}
{% if sheet %}<input type="hidden" name="id" value="{{sheet.id}}">{% endif %}
{% endblock before_columns %}

{% block main_content %}
    <div class="form-group">
        <label class="form-label" for="input-title">Title</label>
        <input class="form-input" id="input-title" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ sheet.title }}{% endif %}" />
    </div>

    <div class="form-group">
        <label class="form-label" for="input-group">Group</label>
        <select name="group" class="form-select" id="input-group">
            <option value="" class="text-gray">None</option>
            {% for group in sheet_groups %}
            <option value="{{group.id}}" {% if group == sheet.group %}selected{% endif %}>{{group.title}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label class="form-label" for="input-content">Description</label>
        <textarea class="form-input" id="input-content" rows="12" name="content" placeholder="Write content using Markdown">{{ sheet.description }}</textarea>
    </div>

    <br>
{% endblock main_content %}

{% block right_column %}
<div class="side-menu-xl container">
    
    <button class="btn btn-primary mb-2">Save</button>
    
    <span class="btn mb-2" onclick="showModal('modal-create-sheet-group')">Add group</span>

    <div class="form-group">
        <label class="form-switch">
            <input type="checkbox" name="public" {% if sheet.public %}checked{% endif %} />
            <i class="form-icon"></i> Public
        </label>
    </div>
    
</div>
{% endblock right_column %}

{% block after_columns %}
</form>

{% include 'orgapy/partials/modal_create_sheet_group.html' %}

{% endblock after_columns %}
