{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit note &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/simplemde.min.css' %}" />
<script src="{% static 'orgapy/dependencies/simplemde.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/js/notes.js' %}"></script>
{% endblock %}

{% block menu %}{% include 'orgapy/partials/menu_notes.html' %}<hr class="menu-separator">{{ block.super }}{% endblock menu %}

{% block main_content %}

<form id="form-note-edit-primary" action="{% url 'orgapy:save_note' %}" method="post">
    {% csrf_token %}
    {% if note %}<input type="hidden" name="id" value="{{note.id}}">{% endif %}
    <input hidden type="text" name="modification" value="{% if note %}{{ note.date_modification.timestamp }}{% endif %}" />
    <input hidden type="checkbox" name="pinned" {% if note.pinned %}checked{% endif %} />
    <input hidden type="checkbox" name="public" {% if note.public %}checked{% endif %} />
    <header class="card">
        <input class="note-form-title" id="input-title" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ note.title }}{% endif %}" />
        <div id="categories-input">
            <input id="categories-input-hidden" type="hidden" name="categories" value="{% for category in note.categories.all %}{% if not forloop.first %};{% endif %}{{ category.id }}{% endfor %}" />
            <div id="categories-input-current"></div>
            <div id="categories-suggestions">
                <input id="categories-input-new" type="text" placeholder="new category" />
                <div id="categories-suggestions-items"></div>
            </div>
        </div>
    </header>
    <textarea class="note-form-content" id="input-content" name="content" placeholder="Write content using Markdown">{{ note.content }}</textarea>
</form>

{% endblock main_content %}

{% block right_column %}
<div id="save-note-buttons">
    <button id="btn-save-note-exit" class="button-block">Save and exit</button>
    {% block save_and_continue %}<button id="btn-save-note-continue" class="button-block">Save and continue</button>{% endblock %}
</div>
<form id="form-note-edit-secondary">
    <label class="toggle">
        <input type="checkbox" name="pinned" {% if note.pinned %}checked{% endif %} />
        <span class="toggle-slider"></span>
        <span class="toggle-text">Pinned</span>
    </label>
    <label class="toggle">
        <input type="checkbox" name="public" {% if note.public %}checked{% endif %} />
        <span class="toggle-slider"></span>
        <span class="toggle-text">Public</span>
    </label>
</form>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    const CATEGORIES = [{% for category in categories %}{% if not forloop.first %}, {% endif %}{name: "{{ category.name }}", id: {{ category.id }}}{% endfor %}];
    if (window.innerWidth > 800) {
        const simplemde = new SimpleMDE({
            element: document.getElementById("input-content"),
            autoDownloadFontAwesome: false,
            autofocus: true,
            autosave: false,
            forceSync: true, // ?
            indentWithTabs: false,
            initialValue: document.getElementById("input-content").value,
            lineWrapping: true,
            status: false,
            toolbar: false,
            toolbarTips: false,
            spellChecker: false,
            renderingConfig: {
                singleLineBreaks: true,
                codeSyntaxHighlighting: true,
            }
        });
        window.addEventListener("load", () => {
            simplemde.codemirror.refresh();
        });
    } else {
        document.getElementById("input-content").style.height = (window.innerHeight - 290) + "px";
    }
    setupCategoryInput();
    bindSaveNoteButtons();
</script>
{% endblock body_scripts %}
