{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Edit {% if note %}'{{ note.title }}'{% else %}note{% endif %}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/simplemde.min.css' %}" />
<script src="{% static 'orgapy/dependencies/simplemde.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/js/notes.js' %}"></script>
{% endblock %}

{% block column_main %}

<form id="noteForm" action="{% url 'orgapy:save_note' %}" method="post">
    {% csrf_token %}
    {% if note %}
    <input type="hidden" name="id" value="{{note.id}}">
    {% if note.public %}<input type="hidden" name="public" checked>{% endif %}
    {% if note.pinned %}<input type="hidden" name="pinned" checked>{% endif %}
    {% if note.hidden %}<input type="hidden" name="hidden" checked>{% endif %}
    {% endif %}
    <input hidden type="text" name="modification" value="{% if note %}{{ note.date_modification.timestamp }}{% endif %}" />
    <header class="card card--nobottom">
        <h1 class="card-header">
            <input class="input-inline" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ note.title }}{% endif %}" />
        </h1>
        <div class="card-body">{% include 'orgapy/partials/categories_input.html' with obj=note %}</div>
    </header>
    <div class="card-actions card-actions--standalone" style="position: sticky; top: -1px">
        <button id="buttonSaveExit"><i class="ri-save-line"></i> Save</button>
        {% block save_and_continue %}<button id="buttonSaveContinue"><i class="ri-save-line"></i> Save and continue</button>{% endblock %}
    </div>
    <textarea class="note-form-content" id="noteContentInput" name="content" placeholder="Write content using Markdown">{{ note.content }}</textarea>
</form>

{% endblock column_main %}

{% block body_scripts %}
{{ block.super }}
<script>
    if (window.innerWidth > 800) {
        const simplemde = new SimpleMDE({
            element: noteContentInput,
            autoDownloadFontAwesome: false,
            autofocus: true,
            autosave: false,
            forceSync: true, // ?
            indentWithTabs: false,
            initialValue: noteContentInput.value,
            lineWrapping: true,
            status: false,
            toolbar: false,
            toolbarTips: false,
            spellChecker: false,
            renderingConfig: {
                singleLineBreaks: true,
                codeSyntaxHighlighting: true,
            }
        });
        simplemde.codemirror.on("cursorActivity", onCmCursorActivity);
        simplemde.codemirror.on("change", () => {
            if (buttonSaveContinue != null) buttonSaveContinue.removeAttribute("disabled");
        });
        window.addEventListener("load", () => {
            simplemde.codemirror.refresh();
        });
    } else {
        noteContentInput.style.height = (window.innerHeight - 290) + "px";
    }
    bindSaveNoteButtons(noteForm, buttonSaveExit, buttonSaveContinue);
</script>
{% endblock body_scripts %}
