{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} #{{ category.name }} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}{% include 'orgapy/partials/menu_notes.html' %}<hr class="menu-separator">{{ block.super }}{% endblock menu %}

{% block main_content %}

<header class="card">
    <h1>#{{ category.name }}</h1>
</header>

<div class="card">
    <p>{{ category.note_set.count }} note{{ category.note_set.count | pluralize }} with this tag.</p>
    <form method="post" action="">
        {% csrf_token %}
        <p>
            <label for="input-name">Name</label>
            <input id="input-name" type="text" name="name" value="{{ category.name }}" placeholder="Category name" />
        </p>
        <button>Save</button>
    </form>
</div>

{% endblock main_content %}
