{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Edit note &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block before_columns %}
<form id="form-note-edit" action="{% url 'orgapy:save_note' %}" method="post">
{% csrf_token %}
{% if note %}<input type="hidden" name="id" value="{{note.id}}">{% endif %}
{% endblock before_columns %}

{% block main_content %}
    <div class="form-group">
        <!--<label class="form-label" for="input-title">Title</label>-->
        <input class="form-input" id="input-title" type="text" name="title" placeholder="Title" maxlength="255" value="{% if request.GET.title %}{{ request.GET.title }}{% else %}{{ note.title }}{% endif %}" />
    </div>

    <div class="form-group">
        <!--<label class="form-label" for="input-content">Content (Markdown)</label>-->
        <textarea class="form-input" id="input-content" rows="12" name="content" placeholder="Write content using Markdown">{{ note.content }}</textarea>
    </div>

    <input type="hidden" name="categories" id="input-categories" />

    <div class="form-group">
        <label class="form-label">Categories</label>
        {% for category in categories %}
        <span class="category-chip chip {% if category.id in note_category_ids %}active{% endif %}">{{ category.name }}</span>
        {% endfor %}
    </div>

    <div class="form-group">
        <div class="input-group">
            <label class="form-label input-group-addon addon-sm" for="input-extra-categories">Other</label>
            <input class="form-input input-sm" id="input-extra-categories" type="text" name="extra" placeholder="foo;bar" />
        </div>
        <div class="form-input-hint">Separate them with a semicolon.</div>
    </div>

    <br>
{% endblock main_content %}

{% block right_column %}
<div class="side-menu-xl container">
    <button class="btn mb-2" id="btn-save-note">Save</button>   
    
    <button class="btn btn-primary mb-2">Done</button>

    <div class="form-group">
        <label class="form-switch">
            <input type="checkbox" name="pinned" {% if note.pinned %}checked{% endif %} />
            <i class="form-icon"></i> Pinned
        </label>
    </div>

    <div class="form-group">
        <label class="form-switch">
            <input type="checkbox" name="public" {% if note.public %}checked{% endif %} />
            <i class="form-icon"></i> Public
        </label>
    </div>
    
</div>
{% endblock right_column %}

{% block after_columns %}
</form>
{% endblock after_columns %}

{% block body_scripts %}
{{ block.super }}
<script>
    let btn_save_note = document.getElementById("btn-save-note");
    btn_save_note.classList.add("disabled");
    btn_save_note.addEventListener("click", (event) => {
        event.preventDefault();
        btn_save_note.classList.add("disabled");
        let form = document.getElementById("form-note-edit");
        let formdata = new FormData(form);
        fetch(form.action, {method: form.method, body: formdata}).then(res => {
            toast("Saved!", 600);
        });
    });
    document.querySelectorAll("input,textarea").forEach(input => {
        input.addEventListener("input", () => {
            btn_save_note.classList.remove("disabled");
        });
    });
</script>
{% endblock body_scripts %}
