{% extends "orgapy/layout/skeleton.html" %}
{% load static %}
{% block title %}Groceries{% endblock title %}

{% block column_main %}
<form action="" method="post">
    {% csrf_token %}
    <div class="card">
        <h1 class="card-header">Groceries</h1>
        <div class="card-body">
            {% for section in request.user.settings.groceries.sections %}
            <h2>{{ section.label }}</h2>
            <ul class="checklist">
                {% for item in section.items %}
                <li><label><input type="checkbox" name="{{ section.label }};{{ item.label }}" />{{ item.label }}</label></li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
        <div class="card-actions">
            <button class="button-accent" type="submit">Create list</button>
        </div>
    </div>
</form>
{% endblock column_main %}
