{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/calendar.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/tasks.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/objectives.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/projects.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/mood.css' %}" />
<script>
    const OBJECTIVE_START_HOURS = {{ settings.objective_start_hours }};
</script>
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/calendar.js' %}"></script>
<script src="{% static 'orgapy/js/objectives.js' %}"></script>
<script src="{% static 'orgapy/js/projects.js' %}"></script>
<script src="{% static 'orgapy/js/mood.js' %}"></script>
{% endblock head %}

{% block column_main %}

<div class="card">
    <div class="card-body">
        <div id="eventsContainer" class="coll"></div>
    </div>
</div>

{% if pending_mood_logs %}{% include 'orgapy/partials/mood_log_forms.html' %}{% endif %}

{% if settings.beach_mode %}
<div class="card">
    <h2 class="card-header">🏖️ Beach Mode On 🌞</h2>
    <div class="card-body">
        <p>
            Tasks, objectives and projects are hidden.<br>
            <span class="hint">Change this in <a href="{% url 'orgapy:settings' %}?ref={{ request.get_full_path | urlencode }}">settings</a>.</span>
        </p>
    </div>
</div>
{% else %}
{% if task_groups %}
<div class="card">
    <div class="card-body">
        <div id="tasksContainer" class="coll">
            {% for task_group in task_groups %}
            <details {% if task_group.open %}open{% endif %}>
                <summary class="minititle">{{ task_group.label }}</summary>
                {% for task in task_group.tasks %}
                <div class="task {% if task.overdue %}task-overdue{% endif %}">
                    <form action="{% url 'orgapy:task' task.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                        <button type="submit" name="action" value="complete" title="Complete" class="task-button-complete submit-confirm" message="Complete '{{ task.title }}'?"><i class="ri-check-line"></i></button>
                    </form>
                    <a class="link-hidden" href="{{ task.get_absolute_url }}?next={{ request.get_full_path | urlencode }}" title="Start date: {{ task.start_date | date }}{% if task.due_date %} Due date: {{ task.due_date | date }}{% endif %}">{{ task.title }}</a>
                </div>
                {% endfor %}
            </details>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<div id="objectivesContainer" class="objectives" tabindex="-1"></div>
<div id="projectsContainer" class="projects coll" tabindex="-1">
    {% for project in projects %}
    <div class="project-container" href="{{ project.get_absolute_url }}"></div>
    {% endfor %}
</div>
{% endif %}

<dialog id="dialogAddEvent" closedby="any">
    <div class="card">
        <h2 class="card-header">Create event</h2>
        <form id="eventForm" method="post" action="{% url 'orgapy:api' %}?action=add-event" class="card-body colll">
            {% csrf_token %}
            <div>
                <label>Calendar</label>
                <select class="form-select" name="calendarid"></select>
            </div>
            <div>
                <label>Title</label>
                <input class="form-input" name="title" type="text" placeholder="Weekly Meeting, Launch, …" />
            </div>
            <div>
                <label class="toggle">
                    <input type="checkbox" name="allday" />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">All Day</span>
                </label>
            </div>
            <div>
                <label>Date start</label>
                <span class="actionbar">
                    <input name="dtstart-date" type="date" />
                    <input name="dtstart-time" type="time" />
                </span>
            </div>
            <div>
                <label>Date end</label>
                <span class="actionbar">
                    <input name="dtend-date" type="date" />
                    <input name="dtend-time" type="time" />
                </span>
            </div>
            <div>
                <label>Location</label>
                <input class="form-input" name="location" type="text" placeholder="Paris, Room 5, …" />
            </div>
        </form>
        <div class="card-actions">
            <button id="buttonSubmitEvent">Add</button>
            <button onclick="dialogAddEvent.close()">Cancel</button>
        </div>
    </div>
</dialog>
{% include 'orgapy/partials/objective_dialogs.html' %}
{% endblock column_main %}

{% block menu_create %}
<li class="menu-item"><form action="{% url 'orgapy:tasks' %}" method="post">{% csrf_token %}<input type="hidden" name="next" value="{{ request.get_full_path }}"><button tabindex="3"><i class="ri-task-line"></i> Task</button></form></li>
<li class="menu-item"><button id="buttonCreateObjective" tabindex="3"><i class="ri-focus-2-line"></i> Objective</button></li>
<li class="menu-item"><button id="buttonCreateProject" tabindex="3"><i class="ri-briefcase-line"></i> Project</button></li>
<li class="menu-item"><button id="buttonCreateEvent" tabindex="3"><i class="ri-calendar-line"></i> Event</button></li>
<hr>
{{ block.super }}
{% endblock menu_create %}

{% block menu %}
<li class="menu-item"><button id="buttonRefreshEvents" tabindex="3"><i class="ri-reset-left-line"></i> Refresh Events</button></li>
<hr>
{{ block.super }}
{% endblock menu %}

{% block body_scripts %}
{{ block.super }}
<script>
fetchEvents(eventsContainer, false);
buttonCreateEvent.onclick = () => { dialogAddEvent.showModal() };
buttonSubmitEvent.onclick = () => { onEventSubmit(eventsContainer, eventForm, buttonRefreshEvents) };
buttonRefreshEvents.onclick = () => { onEventRefresh(eventsContainer, buttonRefreshEvents) };

const f = () => {fetchAndInflateObjectives(objectivesContainer, false, dialogObjective, dialogCompletion)};
bindObjectiveDialog(dialogObjective, dialogCompletion, f);
f();
buttonCreateObjective.onclick = () => {openObjectiveDialog(dialogObjective)};

for (const projectContainer of document.querySelectorAll(".project-container")) {
     bindProject(
        projectContainer,
        "{% url 'orgapy:suggestions' %}");
}
bindCreateProjectButton(
    buttonCreateProject,
    projectsContainer,
    "{% url 'orgapy:projects' %}",
    "{% url 'orgapy:suggestions' %}");
</script>
{% endblock body_scripts %}