{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/calendar.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/tasks.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/objectives.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/projects.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/mood.css' %}" />
<script>
    const URL_ADMIN_PROJECT_CHANGE = "{% url 'admin:orgapy_project_changelist' %}";
    const URL_ORGAPY_NOTE = "{% url 'orgapy:note' object_id='objectId' %}";
    const OBJECTIVE_START_HOURS = {{ settings.objective_start_hours }};
</script>
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/calendar.js' %}"></script>
<script src="{% static 'orgapy/js/tasks.js' %}"></script>
<script src="{% static 'orgapy/js/objectives.js' %}"></script>
<script src="{% static 'orgapy/js/projects.js' %}"></script>
<script src="{% static 'orgapy/js/mood.js' %}"></script>
{% endblock head %}

{% block column_main %}

<div class="card">
    <div class="card-body">
        <div id="events" class="coll"></div>
    </div>
</div>

{% if pending_mood_logs %}{% include 'orgapy/partials/mood_log_forms.html' %}{% endif %}

{% if settings.beach_mode %}
<div class="card">
    <h2 class="card-header">🏖️ Beach Mode On 🌞</h2>
    <p>
        Tasks, objectives and projects are hidden.
    </p>
    <p>
        <span class="hint">Change this in <a href="{% url 'orgapy:settings' %}?ref={{ request.get_full_path | urlencode }}">settings</a>.</span>
    </p>
</div>
{% else %}
<div class="card">
    <div class="card-body">
        <div id="tasks" class="coll"></div>
    </div>
</div>

<div id="objectives-card" class="card hidden" tabindex="-1">
    <div id="objgraph-wrapper" class="objgraph-wrapper" tabindex="-1"></div>
</div>

<div id="projects" class="projects coll" tabindex="-1"></div>
{% endif %}

<dialog id="dialogObjectiveForm" closedby="any">
    <form class="card">
        {% csrf_token %}
        <input hidden name="id" />
        <h2 class="card-header">Create objective</h2>
        <div class="card-body colll">
            <div>
                <label for="input-objective-name">Name</label>
                <input required minlength="1" name="name" type="text" id="input-objective-name" />
            </div>
            <div>
                <label cfor="input-objective-period">Period (days)</label>
                <input required name="period" type="number" id="input-objective-period" min="1" step="1" max="365" />
            </div>
            <div>
                <label for="input-objective-flexible" class="toggle">
                    <input name="flexible" type="checkbox" id="input-objective-flexible" />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">Flexible</span>
                </label>
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add"/>
            <input type="submit" name="save" value="Save"/>
            <input type="submit" name="archive" value="Archive"/>
            <input type="submit" name="completion" value="Add completion"/>
            <input type="submit" class="button-danger" name="delete" value="Delete"/>
        </div>
    </form>
</dialog>

<dialog id="dialogCompletionForm" closedby="any">
    <form class="card">
        {% csrf_token %}
        <input hidden name="id" />
        <input hidden name="timestamp" />
        <h2 class="card-header">Add completion</h2>
        <div class="card-body colll">
            <div>
                <label>Date</label>
                <input type="date" name="date" />
            </div>
            <div>
                <label>Time</label>
                <input type="time" name="time" step="1" />
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add"/>
            <input type="submit" name="save" value="Save"/>
            <input type="submit" class="button-danger" name="delete" value="Delete"/>
        </div>
    </form>
</dialog>

<dialog id="dialogExploreTasks" closedby="any">
    <div class="card">
        <h2 class="card-header">Tasks</h2>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start</th>
                        <th>Due</th>
                    </tr>
                </thead>
                <tbody id="tasksTable"></tbody>
            </table>
        </div>
        <form class="card-actions" method="dialog">
            <button>Close</button>
        </form>
    </div>
</dialog>

<dialog id="dialogAddEvent" closedby="any">
    <div class="card">
        <h2 class="card-header">Create event</h2>
        <form id="form-add-event" method="post" action="{% url 'orgapy:api' %}?action=add-event" class="card-body colll">
            {% csrf_token %}
            <div>
                <label>Calendar</label>
                <select class="form-select" name="calendarid"></select>
            </div>
            <div>
                <label>Title</label>
                <input class="form-input" name="title" type="text" placeholder="Weekly Meeting, Launch, …" />
            </div>
            <div>
                <label class="toggle">
                    <input type="checkbox" name="allday" />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">All Day</span>
                </label>
            </div>
            <div>
                <label>Date start</label>
                <span class="actionbar">
                    <input name="dtstart-date" type="date" />
                    <input name="dtstart-time" type="time" />
                </span>
            </div>
            <div>
                <label>Date end</label>
                <span class="actionbar">
                    <input name="dtend-date" type="date" />
                    <input name="dtend-time" type="time" />
                </span>
            </div>
            <div>
                <label>Location</label>
                <input class="form-input" name="location" type="text" placeholder="Paris, Room 5, …" />
            </div>
        </form>
        <div class="card-actions">
            <button id="btn-add-event">Add</button>
            <button onclick="dialogAddEvent.close()">Cancel</button>
        </div>
    </div>
</dialog>

<dialog id="dialogTaskForm" closedby="any">
    <form class="card">
        <h2 class="card-header">Create task</h2>
        {% csrf_token %}
        <input name="id" hidden />
        <div class="card-body colll">
            <div>
                <label>Title</label>
                <input name="title" type="text" placeholder="Housework, Call X, …" />
            </div>
            <div>
                <label>Date start</label>
                <input name="start_date" type="date" />
            </div>
            <div>
                <label>Date due</label>
                <input name="due_date" type="date" />
            </div>
            <div>
                <label>Recurring mode</label>
                <select class="form-select" name="recurring_mode">
                    <option value="ON" selected>Once</option>
                    <option value="DY">Daily</option>
                    <option value="WK">Weekly</option>
                    <option value="MN">Monthly</option>
                    <option value="YR">Yearly</option>
                </select>
            </div>
            <div>
                <label>Recurring period</label>
                <input name="recurring_period" type="number" />
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add" />
            <input type="submit" name="save" value="Save" />
            <input type="submit" class="button-danger" name="delete" value="Delete" />
        </div>
    </form>
</dialog>

{% endblock column_main %}

{% block menu_create %}
<li class="menu-item"><button id="tasks-add"><i class="ri-checkbox-circle-line"></i> Task</button></li>
<li class="menu-item"><button id="btn-objective-create"><i class="ri-focus-2-line"></i> Objective</button></li>
<li class="menu-item"><button id="btn-project-create"><i class="ri-briefcase-line"></i> Project</button></li>
<li class="menu-item"><button id="events-add"><i class="ri-calendar-line"></i> Event</button></li>
<hr>
{{ block.super }}
{% endblock menu_create %}

{% block menu %}
<li class="menu-item"><button id="tasks-explore"><i class="ri-search-line"></i> Explore Tasks</button></li>
<li class="menu-item"><button id="events-refresh"><i class="ri-reset-left-line"></i> Refresh Events</button></li>
<hr>
{{ block.super }}
{% endblock menu %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
    window.addEventListener("load", () => {
        window.addEventListener("click", clearContextMenus);
        const projectsContainer = document.getElementById("projects");
        document.getElementById("btn-project-create").addEventListener("click", () => {
            onButtonProjectCreate(projectsContainer, null, false);
        });
        fetchProjects(projectsContainer,
            noteId=null,
            forceExpand=false,
            statusFilter="AC",
            projectId=null);
    });
</script>
{% endblock body_scripts %}