{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{map.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/leaflet.css' %}" />
<script src="{% static 'orgapy/dependencies/leaflet.js' %}"></script>
<script src="{% static 'orgapy/dependencies/Leaflet.Editable.js' %}"></script>
<script src="{% static 'orgapy/dependencies/Path.Drag.js' %}"></script>
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/maps.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/maps.css' %}" />
{% endblock head %}

{% block main_content %}

<div class="map-seed" map-id="{{map.id}}"></div>

{% endblock %}

{% block body_scripts %}
{{ block.super }}
<script>
    window.addEventListener("load", () => {
        initializeMaps(false);
    });
</script>
{% endblock body_scripts %}