{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{map.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/leaflet.css' %}" />
<script src="{% static 'orgapy/dependencies/leaflet.js' %}"></script>
<script src="{% static 'orgapy/dependencies/Leaflet.Editable.js' %}"></script>
<script src="{% static 'orgapy/dependencies/Path.Drag.js' %}"></script>
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/maps.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/maps.css' %}" />
<script>
    const URL_IMAGE_CROSSHAIR = "{% static 'orgapy/remixicon/crosshair-line.png' %}";
</script>
{% endblock head %}

{% block main_content %}

<div class="map-layout{% if request.GET.embed == '1' %} embedded{% endif %}" map-id="{{map.id}}">
    <div class="map-dashboard"></div>
    <div class="map-seed"></div>
</div>

{% if not readonly and map.referenced_in %}
<template id="template-refs">
    <div class="map-refs">
        {% for ref in map.referenced_in.all %}
        <a class="reference" href="{% url 'orgapy:note' ref.id %}"><i class="ri-links-line"></i> {{ ref.title }}</a>
        {% endfor %}
    </div>
</template>
{% endif %}

{% endblock %}

{% block body_scripts %}
{{ block.super }}
<script>
    window.addEventListener("load", () => {
        initializeMaps({% if readonly %}true{% else %}false{% endif %});
    });
</script>
{% endblock body_scripts %}