{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Maps &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

<form id="map-searchbar" class="searchbar" action="{% url 'orgapy:maps' %}" method="get">
    <div class="searchbar-container">         
        <input class="searchbar-input" type="text" name="query" placeholder="Search a map" value="{% if query %}{{query}}{% endif %}" />
        <i class="searchbar-icon ri-close-line"></i>
        <div class="searchbar-suggestions"></div>
    </div>
    <button class="searchbar-search">Search</button>
    <a class="searchbar-create button" href="{% url 'orgapy:create_map' %}{% if query %}?title={{query}}{% endif %}">Create map</a>
</form>

<script>
    bindSearchbarSuggestions(document.getElementById("map-searchbar"), "map-suggestions");
</script>

{% if maps %}
<div class="card card-oneline">
    {% for map in maps %}
    <div class="oneline oneline-striped">{% include 'orgapy/partials/map_list_item.html' %}</div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no map</p>
    <p class="empty-subtitle">Click the button to create a map.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_map' %}{% if query %}?title={{query}}{% endif %}">Create map</a>
    </div>
</div>
{% endif %}

{% endblock main_content %}
