{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Maps &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}{% include 'orgapy/partials/menu_maps.html' %}<hr class="menu-separator">{{ block.super }}{% endblock menu %}

{% block main_content %}

{% if maps %}
<div class="card card-oneline">
    {% for map in maps %}
    <div class="oneline oneline-striped">{% include 'orgapy/partials/map_list_item.html' %}</div>
    {% endfor %}
</div>
{% else %}
<div class="card">
    <p>You have no map.</p>
    <div class="card-commands">
        <a class="button button-primary" href="{% url 'orgapy:create_map' %}{% if query %}?title={{query}}{% endif %}"><i class="ri-map-2-line"></i> Create map</a>
    </div>
</div>
{% endif %}

{% endblock main_content %}
