{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Mood tracker{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/mood.css' %}" />
<script src="{% static 'orgapy/js/mood.js' %}"></script>
{% endblock head %}

{% block column_main %}
{% if pending_mood_logs %}{% include 'orgapy/partials/mood_log_forms.html' %}{% endif %}
<div class="card">
    <h1 class="card-header">Mood tracker</h1>
    <div class="card-body">
        <div id="moodCalendar"></div>
    </div>
</div>
<script>
    fetch(URL_API + `?action=list-mood-logs`).then(res => res.json()).then(data => {
        inflateCalendar(moodCalendar, data, {
            key: "level",
            classname: "mood-palette",
            inflatePopover: (popover, entries) => {
                const entry = entries[0];
                create(popover, "span").textContent = entry.label;
                const col = create(popover, "div", "coll");
                const trackers = create(col, "div", "actionbar");
                create(trackers, "button", "mood-tracker " + entry.mood).title = "Mood";
                create(trackers, "button", "mood-tracker " + entry.energy).title = "Energy";
                create(trackers, "button", "mood-tracker " + entry.health).title = "Health";
                create(trackers, "button", "mood-tracker " + entry.stress).title = "Stress";
                if (entry.activities != "") {
                    create(col, "div").textContent = entry.activities;
                }
                const buttons = create(col, "div", "actionbar");
                const editButton = create(buttons, "a", "button");
                editButton.href = entry.editUrl;
                editButton.innerHTML = `<i class="ri-pencil-fill"></i>`;
                const deleteButton = create(buttons, "a", "button button-danger");
                deleteButton.href = entry.deleteUrl;
                deleteButton.innerHTML = `<i class="ri-delete-bin-line"></i>`;
                bindLinkConfirm(deleteButton);
            }
        });
    });
</script>
{% endblock column_main %}
