{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Notally &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/dependencies/zip.min.js' %}"></script>
<script src="{% static 'orgapy/dependencies/sql-wasm.min.js' %}"></script>
<script>
    const STATIC_DEPENDENCIES_URL = "{% static 'orgapy/dependencies/' %}";
</script>
<script src="{% static 'orgapy/js/notally.js' %}"></script>
{% endblock %}

{% block menu %}
{% include 'orgapy/partials/menu_notes.html' %}
<hr class="menu-separator">
{{ block.super }}
{% endblock menu %}

{% block main_content %}

{% if notes %}
Imported {{ notes|length }} note{{ notes|length|pluralize }}.

<div class="card card-oneline">
    {% for note in notes %}
    {% include 'orgapy/partials/note_list_item.html' %}
    {% endfor %}
</div>
{% else %}
<div class="card">
    <h1>Import Notally Backup</h1>
    <p>
        In Notally, go to <i>Settings</i>, then <i>Export Backup</i>.
        This create a ZIP archive you can upload here.
        Behind the scene, the archive contains a SQLite database.
    </p>
    <h2>Select File</h2>
    <input type="file" id="input-db" accept=".zip, application/zip, application/x-zip-compressed" />
    <h2>Select Notes</h2>
    <div id="selection">
        –
    </div>
    <p>
        <button id="button-import" disabled>Import</button>
    </p>
</div>

<form id="form-import" method="post" action="{% url 'orgapy:notally' %}">
    {% csrf_token %}
    <input id="input-data" hidden name="data" value="" />
</form>

<script>
    window.addEventListener("load", () => {
        setupNotallyImportProcess();
    });
</script>

{% endif %}

{% endblock main_content %}
