{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Notally &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/dependencies/zip.min.js' %}"></script>
<script src="{% static 'orgapy/dependencies/sql-wasm.min.js' %}"></script>
{% endblock %}

{% block menu %}
{% include 'orgapy/partials/menu_notes.html' %}
<hr class="menu-separator">
{{ block.super }}
{% endblock menu %}

{% block main_content %}

<div>
    <input type="file" id="input-db" />
</div>


<script>
    config = {
      locateFile: filename => `{% static 'orgapy/dependencies/' %}${filename}`
    }

    initSqlJs(config).then(SQL => {
        const inputDb = document.getElementById("input-db");
        inputDb.addEventListener("change", async (event) => {
            const file = event.target.files[0];
            if (!file) return;
            const blobReader = new zip.BlobReader(file);
            const zipReader = new zip.ZipReader(blobReader);
            const entries = await zipReader.getEntries();
            if (entries.length === 0) {
                console.error("No files found in ZIP archive");
                return;
            }
            const firstEntry = entries[0];
            const blob = await firstEntry.getData?.(new zip.BlobWriter());
            const fileReader = new FileReader();
            fileReader.onload = () => {
                const Uints = new Uint8Array(fileReader.result);
                db = new SQL.Database(Uints);
                const stmt = db.prepare("SELECT * FROM BaseNote");
                while(stmt.step()) {
                    const row = stmt.getAsObject();
                    console.log('Here is a row: ' + JSON.stringify(row));
                }
            }
            fileReader.readAsArrayBuffer(blob);
            await zipReader.close();
        });
    });
  </script>

{% endblock main_content %}
