{% extends "orgapy/skeleton.html" %}
{% load static from staticfiles %}

{% block title %}{% block subtitle %}{{note.title}} | {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/monokai.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/markdown.css' %}" />
{% endblock head %}

{% block section %}
<h1>{{note.title}}</h1>

<div class="note_content">
    {{ note.markdown | safe }}
</div>

<footer>
    <hr>
    {% if note.publication %}
    <p>
        <b>{{note.publication.author}}</b>  &middot;  {{note.publication.date_publication|date}}
    </p>
    {% endif %}
</footer>

{% endblock section %}
