{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{{note.title}}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/katex.min.css' %}" />
<script src="{% static 'orgapy/dependencies/showdown-katex.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/js/notes.js' %}"></script>
{% endblock head %}

{% block column_main %}
<div class="card card-note" style="border: none; border-radius: 0"><h1>{{ note.title }}</h1>{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>
{% endblock column_main %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".card-note", true, true, true);
</script>
{% endblock body_scripts %}