{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{note.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{% endblock head %}

{% block main_content %}

<header class="card">
    <h1 class="note-title">{{note.title}}</h1>
    <div class="note-meta">
        {% if note.categories.all %}
        {% for category in note.categories.all %}
        <a href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
        {% endfor %}
        {% else %}
        <a href="{% url 'orgapy:notes' %}?uncategorized=1">uncategorized</a>
        {% endif %}
        · <span title="Created on {{ note.date_creation | date }}"><i class="ri-calendar-line"></i> {{ note.date_creation | date }}</span>
        {% if note.date_creation.date != note.date_modification.date %}
        · <span title="Edited on {{ note.date_modification | date }}"><i class="ri-edit-circle-line"></i> {{ note.date_modification | date }}</span>
        {% endif %}
    </div>
</header>

<div class="card markdown">{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>

{% endblock main_content %}

{% block right_column %}
<div class="action-buttons">
    <a href="{% url 'orgapy:edit_note' nid=note.id %}" class="action-button" title="Edit"><i class="ri-pencil-fill"></i></a>
    <a href="{% url 'orgapy:toggle_note_pin' nid=note.id %}?next={{ request.path }}" class="action-button" title="{% if note.pinned %}Unpin{% else %}Pin{% endif %} this note"><i class="ri-bookmark-fill"></i></a>
    <a href="{% url 'orgapy:toggle_note_public' nid=note.id %}?next={{ request.path }}" class="action-button" title="{% if note.public %}Make private{% else %}Make public{% endif %}"><i class="ri-lock-line"></i></a>
    <a href="{% url 'orgapy:export_note' nid=note.id %}" class="action-button" title="Download as Markdown"><i class="ri-download-line"></i></a>
    <a href="{% url 'orgapy:delete_note' nid=note.id %}" class="action-button link-confirm" title="Delete"><i class="ri-delete-bin-line"></i></a>
</div>
<div class="card" id="toc"></div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
    createToc(document.querySelector(".markdown"), document.querySelector("#toc"));
</script>
{% endblock body_scripts %}