{% extends "orgapy/layout/objects.html" %}

{% block title %}{% block subtitle %}Notes &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}
<li class="menu-item"><a href="{% url 'orgapy:notally' %}"><i class="ri-upload-line"></i> Notally</a></li>
<hr>
{{ block.super }}
{% endblock menu %}

{% block empty %}
<div class="card">
    Empty 👀
    <div class="card-actions">
        <a class="button" href="{% url 'orgapy:create_note' %}{% if query %}?title={{query}}{% endif %}"><i class="ri-add-line"></i><span>Create note<span></a>
    </div>
</div>
{% endblock empty %}
