{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Notes &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

{% include "orgapy/partials/note_searchbar.html" %}

{% include "orgapy/partials/note_list.html" %}

{% include 'orgapy/partials/pagination.html' with paginator=note_paginator %}

{% endblock main_content %}

{% block right_column %}

<div class="container right-column-panel">
    <b><a class="link-hidden" href="{% url 'orgapy:categories' %}">Categories</a></b>
    <br>
    {% for category in categories %}
    <a class="mr-2" href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
    {% endfor %}
</div>

{% endblock right_column %}
