{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{note.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}


{% block head %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{% endblock head %}


{% block right_column %}
<div class="side-menu container mt-1">
    <a href="{% url 'orgapy:toggle_pin' nid=note.id %}?next={{ request.path }}" class="btn btn-action mb-1 mr-1 {% if note.pinned %}btn-primary{% endif %}" title="{% if note.pinned %}Unpin{% else %}Pin{% endif %} this note"><i class="icon icon-bookmark"></i></a>
    <a href="{% url 'orgapy:toggle_public' nid=note.id %}?next={{ request.path }}" class="btn btn-action mb-1 mr-1 {% if note.public %}btn-primary{% endif %}" title="{% if note.public %}Make private{% else %}Make public{% endif %}"><i class="icon icon-lock"></i></a>
    <a href="{% url 'orgapy:edit_note' nid=note.id %}" class="btn btn-action mb-1 mr-1" title="Edit"><i class="icon icon-edit"></i></a>
    <a href="{% url 'orgapy:export_note' nid=note.id %}" class="btn btn-action mb-1 mr-1" title="Download as Markdown"><i class="icon icon-download"></i></a>
    <a href="{% url 'orgapy:delete_note' nid=note.id %}" class="btn btn-action mb-1 mr-1 link-confirm" title="Delete"><i class="icon icon-delete"></i></a>
</div>
{% endblock right_column %}


{% block main_content %}
<h1>{{note.title}}</h1>

<p>
    <span class="chip mr-2">{{ note.date_modification | date }}</span>
    {% for category in note.categories.all %}
    <a class="mr-2" href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
    {% endfor %}
</p>

{% if note.content %}
<div class="markdown p-4">{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>
{% endif %}

{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script src="{% static 'orgapy/js/markdown.js' %}"></script>
{% endblock body_scripts %}