{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{note.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/js/notes.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
<script src="{% static 'orgapy/dependencies/showdown.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/dependencies/darcula.min.css' %}">
<script src="{% static 'orgapy/dependencies/highlight.min.js' %}"></script>
{% endblock head %}

{% block left_column %}<div style="height: {% if note.project_set.all %}11.4rem{% else %}10.2rem{% endif %}"></div><div class="toc"></div>{% endblock left_column %}

{% block main_content %}

<header class="card">
    <h1 class="note-title">{{note.title}}</h1>
</header>

<div class="card markdown">{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>

{% endblock main_content %}

{% block right_column %}
<div class="card" id="toc"></div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
    createToc(document.querySelector(".markdown"), document.querySelector("#toc"));
</script>
{% endblock body_scripts %}