{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{note.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/dependencies/katex.min.css' %}" />
<script src="{% static 'orgapy/dependencies/showdown-katex.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/notes.css' %}" />
<script src="{% static 'orgapy/js/notes.js' %}"></script>
{% endblock head %}

{% block main_content %}
<div class="container">
    <div class="card markdown novmargin">{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>
</div>
{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true, true);
</script>
{% endblock body_scripts %}