{% if notes %}
<table class="table table table-striped table-hover table-condensed">
    {% for note in notes %}
    <tr>
        <td>
            <a class="link-hidden mr-2" href="{% url 'orgapy:view_note' nid=note.id %}">{{note.title}}</a>
            {% if note.categories.all %}
                <span class="mr-2">
                {% for category in note.categories.all %}
                <a href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
                {% endfor%}
                </span>
            {% else %}
                <span class="chip mr-2"><a class="link-hidden" href="{% url 'orgapy:notes' %}?uncategorized=1">uncategorized</a></span>
            {% endif %}
            {% if note.pinned %}
            <a class="mr-2" href="{% url 'orgapy:toggle_pin' nid=note.id %}?next={{ request.path }}" title="Unpin"><i class="icon icon-bookmark"></i></a>
            {% endif %}
            {% if note.public %}
            <a class="mr-2" href="{% url 'orgapy:toggle_public' nid=note.id %}?next={{ request.path }}" title="Make private"><i class="icon icon-lock"></i></a>
            {% endif %}
            <div class="show-on-parent-hover">
                <a href="{% url 'orgapy:edit_note' nid=note.id %}" class="btn-inline" title="Edit"><i class="icon icon-edit"></i></a>
                <div class="dropdown">
                    <a class="btn-inline c-hand dropdown-toggle" title="More options" tabindex="0"><i class="icon icon-more-horiz"></i></a>
                    <ul class="menu">
                        {% if not note.pinned %}
                        <li class="menu-item"><a href="{% url 'orgapy:toggle_pin' nid=note.id %}?next={{ request.path }}" title="Mark as favorite"><i class="icon icon-bookmark"></i> Pin</a></li>
                        {% endif %}
                        {% if not note.public %}
                        <li class="menu-item"><a href="{% url 'orgapy:toggle_public' nid=note.id %}?next={{ request.path }}" title="Make public"><i class="icon icon-unlock"></i> Publish</a></li>
                        {% endif %}
                        <li class="menu-item"><a href="{% url 'orgapy:export_note' nid=note.id %}" title="Download as Markdown"><i class="icon icon-download"></i> Download</a></li>
                        <li class="menu-item"><a href="{% url 'orgapy:delete_note' nid=note.id %}" class="link-confirm" title="Delete"><i class="icon icon-delete"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no note</p>
    <p class="empty-subtitle">Click the button to write a note.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_note' %}{% if query %}?title={{query}}{% endif %}">Create note</a>
    </div>
</div>
{% endif %}
