{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{note.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{% endblock head %}

{% block main_content %}
<h1>{{note.title}}</h1>

{% if note.content %}
<div class="markdown p-4">{% if note.content %}{{ note.content | safe }}{% else %}This note has no content.{% endif %}</div>
{% endif %}

{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script src="{% static 'orgapy/js/markdown.js' %}"></script>
{% endblock body_scripts %}