{% if notes %}
<table class="table table table-striped table-hover table-condensed">
    {% for note in notes %}
    <tr>
        <td>
            <a class="link-hidden mr-2" href="{% url 'orgapy:view_note' nid=note.id %}">{{note.title}}</a>
            {% if note.categories %}
                <span class="mr-2">
                {% for category in note.categories.all %}
                <a href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
                {% endfor%}
                </span>
            {% endif %}
            {% if note.public %}
            <a class="mr-2" href="{% url 'orgapy:view_public_note' nid=note.id %}" title="View public note"><i class="icon icon-external"></i></a>
            {% endif %}
            {% if note.pinned %}
            <a class="mr-2" href="{% url 'orgapy:toggle_pin' nid=note.id %}?next={{ request.path }}" title="Toggle pinned note"><i class="icon icon-bookmark"></i></a>
            {% endif %}
            <span class="show-on-parent-hover">
                {% if not note.pinned %}
                <a class="btn-inline" href="{% url 'orgapy:toggle_pin' nid=note.id %}?next={{ request.path }}" title="Toggle pinned note"><i class="icon icon-bookmark"></i></a>
                {% endif %}
                <a href="{% url 'orgapy:edit_note' nid=note.id %}" class="btn-inline" title="Edit"><i class="icon icon-edit"></i></a>
                <a href="{% url 'orgapy:export_note' nid=note.id %}" class="btn-inline" title="Download as Markdown"><i class="icon icon-download"></i></a>
                <a href="{% url 'orgapy:delete_note' nid=note.id %}" class="btn-inline link-confirm" title="Delete"><i class="icon icon-delete"></i></a>
                <span class="hint">last&nbsp;edit:&nbsp;{{ note.get_modification_date_display }}</span>
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no note</p>
    <p class="empty-subtitle">Click the button to write a note.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_note' %}{% if query %}?title={{query}}{% endif %}">Create note</a>
    </div>
</div>
{% endif %}
