{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Objectives{% endblock title %}

{% block column_main %}
<div class="card">
    <h1 class="card-header">Objectives</h1>
    <div class="card-actions">
        <button id="buttonCreateObjective"><i class="ri-add-line"></i> Create</button>
    </div>
</div>
<div class="card">
    {% if objectives %}
    {% for objective in objectives %}
    <div class="line">
        <a class="link-hidden" href="{{ objective.get_absolute_url }}">{{ objective.name }}</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="card-body">
        <div>Nothing found 😔</div>
    </div>
    {% endif %}
</div>
{% endblock column_main %}
