{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{ year }} Progress &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/progress.css' %}" />
<script src="{% static 'orgapy/js/progress.js' %}"></script>
{% endblock head %}

{% block main_content %}

<header class="card">
    <h1>{% if dt_filter %}{{ dt_start | date }}{% if dt_start != dt_end %} — {{ dt_end | date }}{% endif %}{% else %}{{ year }} Progress{% endif %}</h1>
    {% if counter %}<div class="progress-chart" year="{{ counter.year }}" url="{% url 'orgapy:progress' %}"></div>{% endif %}
</header>

{% if logs %}
<div class="card card-oneline">
    {% for log in logs %}
    <div class="oneline oneline-striped">
        {% if log.type == "PR" %}
        <i class="ri-briefcase-line" title="{{ log.get_type_display }}"></i>
        {% elif log.type == "TA" %}
        <i class="ri-checkbox-circle-line" title="{{ log.get_type_display }}"></i>
        {% elif log.type == "OB" %}
        <i class="ri-focus-2-line" title="{{ log.get_type_display }}"></i>
        {% endif %}
        <span class="secondary" title="{{ log.dt | date:"Y-m-d H:i:s" }}">{{ log.dt | date:"M d" }}</span>
        <span class="oneline-truncate">{{ log.description }}</span>
        <span class="show-on-parent-hover">
            <a href="{% url 'orgapy:edit_progress_log' lid=log.id %}" class="button-inline" title="Edit"><i class="ri-pencil-fill"></i></a>
            <a href="{% url 'orgapy:delete_progress_log' lid=log.id %}" class="button-inline link-confirm" title="Delete"><i class="ri-delete-bin-line"></i></a>
        </span>
    </div>
    {% endfor %}
</div>

{% include 'orgapy/partials/pagination.html' with paginator=paginator %}

{% else %}
<div class="card">
    <p>No log at this date.</p>
</div>
{% endif %}

<p>
    {% if counter %}
    <a class="button" href="{% url 'orgapy:progress_compute' year=counter.year %}"><i class="ri-bar-chart-2-line"></i> Recompute</a>
    {% endif %}
    <a class="button" href="{% url 'orgapy:create_progress_log' %}"><i class="ri-add-line"></i> Create Log</a>
</p>

{% endblock main_content %}

{% if counter %}
{% block body_scripts %}
{{ block.super }}
<script>initializeProgressChart(document.querySelector(".progress-chart"));</script>
{% endblock body_scripts %}
{% endif %}