{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{ year }} Progress &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/progress.css' %}" />
<script src="{% static 'orgapy/js/progress.js' %}"></script>
{% endblock head %}

{% block main_content %}

<header class="card">
    <h1>{% if dt_filter %}{{ dt_start | date }}{% if dt_start != dt_end %} — {{ dt_end | date }}{% endif %}{% else %}{{ year }} Progress{% endif %}</h1>
    {% if counter %}<div class="progress-chart" year="{{ counter.year }}" url="{% url 'orgapy:progress' %}"></div>{% endif %}
</header>

{% if logs %}
<div class="card card-oneline">
    {% for log in logs %}
    <div class="oneline oneline-striped">
        {% if log.type == "PR" %}
        <i class="ri-briefcase-line" title="{{ log.get_type_display }}"></i>
        {% elif log.type == "TA" %}
        <i class="ri-checkbox-circle-line" title="{{ log.get_type_display }}"></i>
        {% elif log.type == "OB" %}
        <i class="ri-focus-2-line" title="{{ log.get_type_display }}"></i>
        {% endif %}
        <span class="secondary" title="{{ log.dt | date:"Y-m-d H:i:s" }}">{{ log.dt | date:"M d" }}</span>
        <span class="oneline-truncate">{{ log.description }}</span>
    </div>
    {% endfor %}
</div>

{% include 'orgapy/partials/pagination.html' with paginator=paginator %}

{% else %}
<div class="card">
    <p>No log at this date.</p>
</div>
{% endif %}

{% endblock main_content %}

{% if counter %}
{% block body_scripts %}
{{ block.super }}
<script>initializeProgressChart(document.querySelector(".progress-chart"));</script>
{% endblock body_scripts %}
{% endif %}