{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Projects &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/projects.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/objectives.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/calendar.css' %}" />
<script>
    const URL_ADMIN_PROJECT_CHANGE = "{% url 'admin:orgapy_project_changelist' %}";
    const URL_ORGAPY_NOTE = "{% url 'orgapy:note' nid='NID' %}";
</script>
{% endblock head %}

{% block main_content %}

{% include "orgapy/partials/note_searchbar.html" %}

<div class="objgraph-ref my-4 hidden"><div id="objgraph-wrapper" class="objgraph-wrapper"></div></div>

<div class="modal modal-sm" id="modal-objective-form">
    <span class="modal-overlay" onclick="closeModal('modal-objective-form')"></span>
    <div class="modal-container">
        <form>
            {% csrf_token %}
            <input hidden name="id" />
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label label-sm pt-0" for="input-objective-name">Name</label>
                    <input required minlength="1" name="name" class="form-input input-sm" type="text" id="input-objective-name" />
                </div>
                <div class="form-group">
                    <label class="form-label label-sm" for="input-objective-type">Type</label>
                    <select required name="type" class="form-select select-sm" id="input-objective-type">
                        <option value="strict">Strict</option>
                        <option value="flexible">Flexible</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label label-sm" for="input-objective-period">Period</label>
                    <input required name="period" class="form-input input-sm" type="number" id="input-objective-period" min="0" step="0.5" />
                </div>
                <div class="form-group">
                    <label class="form-label label-sm" for="input-objective-cooldown">Cooldown</label>
                    <input required name="cooldown" class="form-input input-sm" type="number" id="input-objective-cooldown" min="0" step="0.5" />
                </div>
            </div>
            <div class="modal-footer modal-footer-buttons">
                <input type="submit" class="btn btn-sm btn-primary" name="add" value="Add"/>
                <input type="submit" class="btn btn-sm btn-primary" name="save" value="Save"/>
                <input type="submit" class="btn btn-sm" name="archive" value="Archive"/>
                <input type="submit" class="btn btn-sm" name="delete" value="Delete"/>
                <input type="submit" class="btn btn-sm" name="completion" value="Completion"/>
            </div>
        </form>
    </div>
</div>

<div class="modal modal-sm" id="modal-completion-form">
    <span class="modal-overlay" onclick="closeModal('modal-completion-form')"></span>
    <div class="modal-container">
        <form>
            {% csrf_token %}
            <input hidden name="id" />
            <input hidden name="timestamp" />
            <div class="modal-body">
                <div class="form-group">
                    <label class="form-label">Completion</label>
                    <div class="input-group">
                        <input class="form-input input-sm" type="date" name="date" />
                        <input class="form-input input-sm" type="time" name="time" step="1" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-sm" name="add" value="Add"/>
                <input type="submit" class="btn btn-sm" name="save" value="Save"/>
                <input type="submit" class="btn btn-sm" name="delete" value="Delete"/>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="modal-tasks">
    <span class="modal-overlay" onclick="closeModal('modal-tasks')"></span>
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Tasks</div>
        </div>
        <div class="modal-body">
            <div class="tasks"></div>
        </div>
        <div class="modal-footer">
            <button class="btn" onclick="closeModal('modal-tasks')">Close</button>
        </div>
    </div>
</div>

<div id="todays-plan"></div>

<div id="projects" class="projects"></div>

<div class=""><span id="project-count">No project</span></div>

<div class="project-buttons">
    <button id="btn-project-create" class="projects-button"><i class="icon icon-plus"></i> Project</button>
    <button id="btn-todaysplan-create" class="projects-button"><i class="icon icon-plus"></i> Today's Plan</button>
    <button id="btn-objective-create" class="projects-button"><i class="icon icon-plus"></i> Objective</button>
</div>
<div class="project-buttons">
    {% if not request.GET.archivedProjects %}
    <a class="projects-button projects-button-small" href="{% url 'orgapy:projects' %}?archivedProjects=1{% if request.GET.archivedObjectives %}&archivedObjectives=1{% endif %}">View Archived Projects</a>
    {% else %}
    <a class="projects-button projects-button-small" href="{% url 'orgapy:projects' %}{% if request.GET.archivedObjectives %}?archivedObjectives=1{% endif %}">Hide Archived Projects</a>
    {% endif %}
    {% if not request.GET.archivedObjectives %}
    <a class="projects-button projects-button-small" href="{% url 'orgapy:projects' %}?archivedObjectives=1{% if request.GET.archivedProjects %}&archivedProjects=1{% endif %}">View Archived Objectives</a>
    {% else %}
    <a class="projects-button projects-button-small" href="{% url 'orgapy:projects' %}{% if request.GET.archivedProjects %}?archivedProjects=1{% endif %}">Hide Archived Objectives</a>
    {% endif %}
</div>

{% include "orgapy/partials/modal_add_event.html" %}

{% endblock main_content %}

{% block right_column %}
<div class="container sticky-top">
    <div class="mb-2 text-primary"><b>Events</b></div>
    <div id="events"></div>
    <div id="calendar-sync"></div>
    <div class="my-2 text-primary c-hand" id="tasks-title"><b>Tasks</b></div>
    <div id="tasks"></div>
</div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/markdown.js' %}"></script>
<script>
    markdown_to_html(".markdown", true);
</script>
<script src="{% static 'orgapy/js/projects.js' %}"></script>
<script src="{% static 'orgapy/js/objectives.js' %}"></script>
<script src="{% static 'orgapy/js/calendar.js' %}"></script>
{% endblock body_scripts %}