{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Projects &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/projects.css' %}" />
<script>
    const URL_ADMIN_PROJECT_CHANGE = "{% url 'admin:orgapy_project_changelist' %}";
    const URL_ORGAPY_NOTE = "{% url 'orgapy:note' nid='NID' %}";
</script>
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/projects.js' %}"></script>
{% endblock head %}

{% block main_content %}

{% include "orgapy/partials/note_searchbar.html" %}

<div id="objectives-card" class="card hidden">
    <div id="objgraph-wrapper" class="objgraph-wrapper"></div>
</div>

<div id="objectives-footer" class="card card-slim">
    <div class="card-commands">
        <span id="objective-count">No objective</span>
        {% if not request.GET.archivedObjectives %}
        <a class="button" href="{% url 'orgapy:projects' %}?archivedObjectives=1{% if request.GET.archivedProjects %}&archivedProjects=1{% endif %}">View Archived</a>
        {% else %}
        <a class="button" href="{% url 'orgapy:projects' %}{% if request.GET.archivedProjects %}?archivedProjects=1{% endif %}">Hide Archived</a>
        {% endif %}
        <button id="btn-objective-create"><i class="ri-add-line"></i> Add</button>
    </div>
</div>

<div id="projects" class="projects"></div>

<div id="projects-footer" class="card card-slim">
    <div class="card-commands">
        <span id="project-count">No project</span>
        {% if not request.GET.archivedProjects %}
        <a class="button" href="{% url 'orgapy:projects' %}?archivedProjects=1{% if request.GET.archivedObjectives %}&archivedObjectives=1{% endif %}">View Archived</a>
        {% else %}
        <a class="button" href="{% url 'orgapy:projects' %}{% if request.GET.archivedObjectives %}?archivedObjectives=1{% endif %}">Hide Archived</a>
        {% endif %}
        <button id="btn-project-create"><i class="ri-add-line"></i> Add</button>
    </div>
</div>

<div class="modal" id="modal-objective-form">
    <span class="modal-overlay" onclick="closeModal('modal-objective-form')"></span>
    <div class="modal-container">
        <form>
            {% csrf_token %}
            <input hidden name="id" />
            <div class="card">
                <b>Objective</b>
                <p>
                    <label for="input-objective-name">Name</label>
                    <input required minlength="1" name="name" type="text" id="input-objective-name" />
                </p>
                <p>
                    <label for="input-objective-type">Type</label>
                    <select required name="type" id="input-objective-type">
                        <option value="strict">Strict</option>
                        <option value="flexible">Flexible</option>
                    </select>
                </p>
                <p>
                    <label cfor="input-objective-period">Period</label>
                    <input required name="period" type="number" id="input-objective-period" min="0" step="0.5" />
                </p>
                <p>
                    <label for="input-objective-cooldown">Cooldown</label>
                    <input required name="cooldown" type="number" id="input-objective-cooldown" min="0" step="0.5" />
                </p>
                <div class="row">
                    <input type="submit" class="button" name="add" value="Add"/>
                    <input type="submit" class="button" name="save" value="Save"/>
                    <input type="submit" class="button" name="archive" value="Archive"/>
                    <input type="submit" class="button" name="delete" value="Delete"/>
                    <input type="submit" class="button" name="completion" value="Completion"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="modal-completion-form">
    <span class="modal-overlay" onclick="closeModal('modal-completion-form')"></span>
    <div class="modal-container">
        <form>
            {% csrf_token %}
            <input hidden name="id" />
            <input hidden name="timestamp" />
            <div class="card">
                <b>Completion</b>
                <p>
                    <label>Date</label>
                    <input type="date" name="date" />
                </p>
                <p>
                    <label>Time</label>
                    <input type="time" name="time" step="1" />
                </p>
                <div class="row">
                    <input type="submit" class="button" name="add" value="Add"/>
                    <input type="submit" class="button" name="save" value="Save"/>
                    <input type="submit" class="button" name="delete" value="Delete"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="modal-tasks">
    <span class="modal-overlay" onclick="closeModal('modal-tasks')"></span>
    <div class="modal-container">
        <div class="card">
            <b>Tasks</b>
            <div class="tasks"></div>
            <button onclick="closeModal('modal-tasks')">Close</button>
        </div>
    </div>
</div>

<div id="modal-add-event" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-add-event')"></span>
    <div class="modal-container">
        <div class="card">
            <b>Add Event</b>
            <form id="form-add-event" method="post" action="{% url 'orgapy:api' %}?action=add-event">
                {% csrf_token %}
                <p>
                    <label>Calendar</label>
                    <select class="form-select" name="calendarid"></select>
                </p>
                <p>
                    <label>Title</label>
                    <input class="form-input" name="title" type="text" placeholder="Weekly Meeting, Launch, …" />
                </p>
                <p>
                    <label class="toggle">
                        <input type="checkbox" name="allday" />
                        <span class="toggle-slider"></span>
                        <span class="toggle-text">All Day</span>
                    </label>
                </p>
                <p>
                    <label>Date start</label>
                    <div class="row">
                        <input name="dtstart-date" type="date" />
                        <input name="dtstart-time" type="time" />
                    </div>
                </p>
                <p>
                    <label>Date end</label>
                    <div class="row">
                        <input name="dtend-date" type="date" />
                        <input name="dtend-time" type="time" />
                    </div>
                </p>
                <p>
                    <label>Location</label>
                    <input class="form-input" name="location" type="text" placeholder="Paris, Room 5, …" />
                </p>
            </form>
            <div class="row">
                <button id="btn-add-event">Add</button>
                <button onclick="closeModal('modal-add-event')">Cancel</button>
            </div>
        </div>
        
    </div>
</div>

<div id="modal-task-form" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-task-form')"></span>
    <div class="modal-container">
        <div class="card">
            <b>Add Task</b>
            <form>
                {% csrf_token %}
                <input name="id" hidden />
                <p>
                    <label>Title</label>
                    <input name="title" type="text" placeholder="Housework, Call X, …" />
                </p>
                <p>
                    <label>Date start</label>
                    <input name="start_date" type="date" />
                </p>
                <p>
                    <label>Date due</label>
                    <input name="due_date" type="date" />
                </p>
                <p>
                    <label>Recurring mode</label>
                    <select class="form-select" name="recurring_mode">
                        <option value="ON" selected>Once</option>
                        <option value="DY">Daily</option>
                        <option value="WK">Weekly</option>
                        <option value="MN">Monthly</option>
                        <option value="YR">Yearly</option>
                    </select>
                </p>
                <p>
                    <label>Recurring period</label>
                    <input name="recurring_period" type="number" />
                </p>
                <div class="row">
                    <input type="submit" name="add" value="Add" />
                    <input type="submit" name="save" value="Save" />
                    <input type="submit" name="delete" value="Delete" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock main_content %}

{% block right_column %}
<div class="card">
    <div id="events"></div>
    <div class="card-commands">
        <button id="events-add"><i class="ri-add-line"></i> Add</button>
        <button id="events-refresh"><i class="ri-reset-left-line"></i> Refresh</button>
    </div>
</div>
<div class="card">
    <div id="tasks"></div>
    <div class="card-commands">
        <button id="tasks-add"><i class="ri-add-line"></i> Add</button>
        <button id="tasks-explore"><i class="ri-search-line"></i> Explore</button>
    </div>
</div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
</script>
{% endblock body_scripts %}