{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Projects &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{block.super}}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/projects.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/objectives.css' %}" />
<link rel="stylesheet" href="{% static 'orgapy/css/calendar.css' %}" />
<script>
    const CSRF_TOKEN = "{{ csrf_token }}";
    const URL_API_PROJECT_LIST = "{% url 'orgapy:api_project_list' %}";
    const URL_API_PROJECT_EDIT = "{% url 'orgapy:api_project_edit' %}";
    const URL_API_PROJECT_DELETE = "{% url 'orgapy:api_project_delete' %}";
    const URL_API_PROJECT_CREATE = "{% url 'orgapy:api_project_create' %}";
    const URL_API_PROJECT_RANKS = "{% url 'orgapy:api_project_edit_ranks' %}"
    const URL_API_OBJECTIVE_LIST = "{% url 'orgapy:api_objective_list' %}";
    const URL_API_OBJECTIVE_HISTORY = "{% url 'orgapy:api_objective_history' %}";
    const URL_API_CALENDAR_LIST = "{% url 'orgapy:api_calendar_list' %}";
    const URL_API_CALENDAR_DELETE = "{% url 'orgapy:api_calendar_delete' %}";
    const URL_ADMIN_PROJECT_CHANGE = "{% url 'admin:orgapy_project_changelist' %}";
    const URL_ORGAPY_NOTE = "{% url 'orgapy:view_note' nid='NID' %}";
    const URL_API_NOTE_TITLE = "{% url 'orgapy:api_note_title' %}";
</script>
{% endblock head %}

{% block main_content %}

{% include "orgapy/note_searchbar.html" %}

<div class="objgraph-ref my-4"><div id="objgraph-wrapper" class="objgraph-wrapper"></div></div>

<div id="todays-plan"></div>

<div id="projects" class="projects"></div>

<div class=""><span id="project-count">No project</span></div>

<div class="d-flex my-4">
    <button id="btn-project-create" class="projects-button"><i class="icon icon-plus"></i> Add project</button>
     
    <a id="btn-edit-objectives" href="{% url 'admin:orgapy_objective_changelist' %}" class="projects-button"><i class="icon icon-edit"></i> Edit objectives</a>
</div>

{% include "orgapy/modal_add_event.html" %}

{% endblock main_content %}

{% block right_column %}
<div class="container sticky-top">
    <div class="mb-2"><b>Calendar</b></div>
    <div id="events"></div>
</div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script src="{% static 'orgapy/js/dragrank.js' %}"></script>
<script src="{% static 'orgapy/js/markdown.js' %}"></script>
<script src="{% static 'orgapy/js/projects.js' %}"></script>
<script src="{% static 'orgapy/js/objectives.js' %}"></script>
<script src="{% static 'orgapy/js/calendar.js' %}"></script>
{% endblock body_scripts %}