{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Quotes &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
{% endblock head %}

{% block main_content %}

<form class="searchbar" action="{% url 'orgapy:quotes' %}" method="get">
    <div class="searchbar-container">         
        <input class="searchbar-input" type="text" name="query" placeholder="Search a quote content" value="{% if query %}{{query}}{% endif %}" />
        <i class="searchbar-icon"></i>
    </div>
    <button class="searchbar-search">Search</button>
    <a class="searchbar-create button" href="{% url 'orgapy:create_quote' %}">Create quote</a>
</form>

{% if work %}
<p>
    Filter: <i>{{work.title}}</i>, {{work.author.name}} <a class="button" href="{% url 'orgapy:quotes' %}">Clear</a>
</p>
{% elif author %}
<p>
    Filter: {{author.name}} <a class="button" href="{% url 'orgapy:quotes' %}">Clear</a>
</p>
{% endif %}

{% if authors %}
<div class="card card-oneline">
    <h2 class="card-oneline-title">Auteurs</h2>
    {% for author_ in authors %}
    <div class="oneline oneline-striped">
        <span class="oneline-truncate">
            <a class="link-hidden" href="{% url 'orgapy:quotes_author' author=author_.slug %}">{{ author_.name }}</a> :
            {% for work_ in author_.work_set.all %}{% if not forloop.first %}, {% endif %}<i><a class="link-hidden" href="{% url 'orgapy:quotes_work' author=author_.slug work=work_.slug %}">{{ work_.title }}</a></i>{% endfor %}
        </span>
    </div>
    {% endfor %}
</div>
{% else %}
<!-- TODO -->
{% endif %}

{% if quotes %}
<div>
    {% for quote in quotes %}
    <div class="card my-2">
        <div class="card-header" style="background: #101010;">
            <a href="{% url 'orgapy:quotes_work' author=quote.from_work.author.slug work=quote.from_work.slug %}">{{ quote.from_work.title }}</a>,
            <a href="{% url 'orgapy:quotes_author' author=quote.from_work.author.slug %}">{{ quote.from_work.author.name }}</a>
        </div>
        <div class="card-body markdown">{{ quote.content | safe }}</div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="empty my-2">
    <div class="empty-icon">
        <i class="icon icon-quote icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no quote</p>
    <p class="empty-subtitle">Click the button below to add a quote.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_quote' %}">Create quote</a>
    </div>
</div>
{% endif %}

{% include 'orgapy/partials/pagination.html' with paginator=quote_paginator %}

{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
</script>
{% endblock body_scripts %}