{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Quotes &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}{% include 'orgapy/partials/menu_quotes.html' %}{% endblock menu %}

{% block main_content %}

{% if recent_quotes %}

<div class="card">
    <h2>Recent</h2>
    {% for quote in recent_quotes %}
    <div class="card-block quote">
        <div class="markdown quote-content">{{ quote.content | safe }}</div>
        <div class="quote-reference">
            <a class="link-hidden" href="{% url 'orgapy:quotes_author' author=quote.from_work.author.slug %}">{{ quote.from_work.author.name }}</a>,
            <i><a class="link-hidden" href="{% url 'orgapy:quotes_work' author=quote.from_work.author.slug work=quote.from_work.slug %}">{{ quote.from_work.title }}</a></i>
        </div>
    </div>
    {% endfor %}
    <div class="card-commands">
        <a href="{% url 'orgapy:quotes_search' %}">View more</a>
    </div>
</div>
{% else %}
<div class="card">
    <p>You have no quote.</p>
    <div class="card-commands">
        <a class="button button-primary" href="{% url 'orgapy:create_quote' %}"><i class="ri-quote-line"></i> Create quote</a>
    </div>
</div>
{% endif %}

{% if authors %}
<div class="card card-oneline">
    <h2 class="card-oneline-title">Authors</h2>
    {% for author in authors %}
    <div class="oneline oneline-striped">
        <span class="oneline-truncate">
            <a class="link-hidden" href="{% url 'orgapy:quotes_author' author=author.slug %}">{{ author.name }}</a> :
            {% for work in author.work_set.all %}{% if not forloop.first %}, {% endif %}<i><a class="link-hidden" href="{% url 'orgapy:quotes_work' author=author.slug work=work.slug %}">{{ work.title }}</a></i>{% endfor %}
        </span>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if random_quotes %}

<div class="card">
    <h2>Random</h2>
    {% for quote in random_quotes %}
    <div class="card-block quote">
        <div class="markdown quote-content">{{ quote.content | safe }}</div>
        <div class="quote-reference">
            <a class="link-hidden" href="{% url 'orgapy:quotes_author' author=quote.from_work.author.slug %}">{{ quote.from_work.author.name }}</a>,
            <i><a class="link-hidden" href="{% url 'orgapy:quotes_work' author=quote.from_work.author.slug work=quote.from_work.slug %}">{{ quote.from_work.title }}</a></i>
        </div>
    </div>
    {% endfor %}
    <div class="card-commands">
        <a href="{% url 'orgapy:quotes_search' %}">View more</a>
    </div>
</div>

{% endif %}

{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script>
    markdownToHtml(".markdown", true);
</script>
{% endblock body_scripts %}