{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Quotes | {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
{% endblock head %}

{% block section %}
<h1>Quotes</h1>

<nav class="command_panel">
    <form class="form--row" action="{% url 'orgapy:quotes' %}" method="get">
        <input type="text" name="query" placeholder="Search a quote content" value="{% if query %}{{query}}{% endif %}" />
        <input class="button button--fixed" type="submit" name="" value="Search">
    </form>
    <a class="button button--fixed" href="{% url 'orgapy:create_quote' %}">Create quote</a>
</nav>

{% if work %}
<p>
    Filter: <i>{{work.title}}</i>, {{work.author.name}} <a class="button" href="{% url 'orgapy:quotes' %}">Clear</a>
</p>
{% elif author %}
<p>
    Filter: {{author.name}} <a class="button" href="{% url 'orgapy:quotes' %}">Clear</a>
</p>
{% endif %}


{% if authors %}
<p>
    {% for author_ in authors %}
    <a class="author" href="{% url 'orgapy:quotes_author' author=author_.slug %}">{{author_.name}}</a>
    {% endfor %}
</p>
{% endif %}

{% if quotes %}
<div class="quote_list">
    {% for quote in quotes %}
    <div class="quote">
        <div class="quote__text">
            {{ quote.markdown | safe }}
        </div>
        <div class="quote__info">
            <div class="quote__info__work">
                <a href="{% url 'orgapy:quotes_work' author=quote.work.author.slug work=quote.work.slug %}">{{ quote.work.title }}</a>
            </div>
            <div class="quote__info__author">
                <a href="{% url 'orgapy:quotes_author' author=quote.work.author.slug %}">{{ quote.work.author.name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>
    No quote to be shown.
</p>
{% endif %}

<nav class="navbar">
    {% if quotes.has_previous %}
    <a href="?page=1{% if query %}&query={{query|urlencode}}{% endif %}">&laquo; first</a>
    <a href="?page={{ quotes.previous_page_number }}{% if query %}&query={{query|urlencode}}{% endif %}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ quotes.number }} of {{ quotes.paginator.num_pages }}.
    </span>

    {% if quotes.has_next %}
    <a href="?page={{ quotes.next_page_number }}{% if query %}&query={{query|urlencode}}{% endif %}">next</a>
    <a href="?page={{ quotes.paginator.num_pages }}{% if query %}&query={{query|urlencode}}{% endif %}">last &raquo;</a>
    {% endif %}
</nav>

{% endblock section %}
