{% extends "orgapy/layout/objects.html" %}

{% block title %}{% block subtitle %}Search &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}
{% include 'orgapy/partials/menu_notes.html' %}
<hr class="menu-separator">
{% include 'orgapy/partials/menu_quotes.html' %}
<hr class="menu-separator">
{% include 'orgapy/partials/menu_sheets.html' %}
<hr class="menu-separator">
{% include 'orgapy/partials/menu_maps.html' %}
<hr class="menu-separator">
{{ block.super }}
{% endblock menu %}
