{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{group.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}
{% include 'orgapy/partials/menu_sheets.html' %}
<hr class="menu-separator">
<li class="menu-item"><a href="{% url 'orgapy:edit_sheet_group' group.id %}"><i class="ri-pencil-fill"></i> Edit sheet group</a></li>
<li class="menu-item"><a class="link-confirm" message="Please confirm deletion of '{{ group.title }}'" href="{% url 'orgapy:delete_sheet_group' group.id %}"><i class="ri-delete-bin-line"></i> Delete</a></li>
<hr class="menu-separator">
{{ block.super }}
{% endblock %}

{% block main_content %}

{% if group.sheet_set.all %}
<div class="card card-oneline">
    <h1 class="card-oneline-title">{{group.title}}</h1>
    {% for sheet in group.sheet_set.all %}
    <div class="oneline oneline-striped">{% include 'orgapy/partials/sheet_list_item.html' %}</div>
    {% endfor %}
</div>

{% else %}
<header class="card">
    <h1>{{group.title}}</h1>
</header>

<div class="card">
    <p>You have no sheet.</p>
    <div class="card-commands">
        <a class="button button-primary" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}"><i class="ri-table-line"></i> Create sheet</a>
    </div>
</div>
{% endif %}

{% endblock main_content %}

