{% if sheets %}
<table class="table table table-striped table-hover table-condensed">
    {% for sheet in sheets %}
    <tr>
        <td>
            <a class="link-hidden mr-2" href="{% url 'orgapy:view_sheet' sid=sheet.id %}">{{sheet.title}}</a>
            {% if sheet.public %}
            <a class="mr-2" href="?next={{ request.path }}" title="Make private"><i class="icon icon-lock"></i></a>
            {% endif %}
            <div class="show-on-parent-hover">
                <a href="" class="btn-inline" title="Edit"><i class="icon icon-edit"></i></a>
                <div class="dropdown">
                    <a class="btn-inline c-hand dropdown-toggle" title="More options" tabindex="0"><i class="icon icon-more-horiz"></i></a>
                    <ul class="menu">
                        {% if not sheet.public %}
                        <li class="menu-item"><a href="?next={{ request.path }}" title="Make public"><i class="icon icon-unlock"></i> Publish</a></li>
                        {% endif %}
                        <li class="menu-item"><a href="{% url 'orgapy:view_sheet_raw' sid=sheet.id %}" title="Download as Markdown"><i class="icon icon-download"></i> Download</a></li>
                        <li class="menu-item"><a href="" class="link-confirm" title="Delete"><i class="icon icon-delete"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no sheet</p>
    <p class="empty-subtitle">Click the button to create a sheet.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% if query %}?title={{query}}{% endif %}">Create sheet</a>
    </div>
</div>
{% endif %}
