{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Sheets &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

{% include 'orgapy/partials/sheet_searchbar.html' %}

{% if groups or standalone_sheets %}

<div class="card card-oneline">
    {% for group in groups %}
    <div class="oneline oneline-striped">
        <details>
            <summary>
                <a class="link-hidden" href="{{group.get_absolute_url}}">{{ group.title }}</a>
                <span class="show-on-parent-hover">
                    <a href="{% url 'orgapy:edit_sheet_group' sid=group.id %}" class="button-inline" title="Edit"><i class="ri-pencil-fill"></i></a>
                    <a href="{% url 'orgapy:delete_sheet_group' sid=group.id %}" class="link-confirm button-inline" title="Delete"><i class="ri-delete-bin-line"></i></a>
                </span>
            </summary>
            <ul>
                {% for sheet in group.sheet_set.all %}
                <li>{% include 'orgapy/partials/sheet_list_item.html' %}</li>
                {% endfor %}
            </ul>
        </details>
    </div>
    {% endfor %}
    {% for sheet in standalone_sheets %}
    <div class="oneline oneline-striped">{% include 'orgapy/partials/sheet_list_item.html' %}</div>
    {% endfor %}
</div>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no sheet</p>
    <p class="empty-subtitle">Click the button to create a sheet.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}">Create sheet</a>
    </div>
</div>
{% endif %}

<button onclick="showModal('modal-create-sheet-group')">Create sheet group</button>

<div id="modal-create-sheet-group" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-create-sheet-group')"></span>
    <div class="modal-container">
        <form method="post" action="{% url 'orgapy:create_sheet_group' %}?next={{ request.path }}">
            {% csrf_token %}
            <div class="card">
                <b>Create sheet group</b>
                <p>
                    <label for="input-sheet-group-title">Title</label>
                    <input required type="text" name="title" placeholder="My Sheet Group" id="input-sheet-group-title" />
                </p>
                <div class="row">
                    <button>Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock main_content %}
