{% extends "orgapy/layout/objects.html" %}

{% block title %}{% block subtitle %}Sheets &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block menu %}
{% include 'orgapy/partials/menu_sheets.html' %}
{{ block.super }}
{% endblock menu %}

{% block empty %}
<div class="card">
    <p>You have no sheet.</p>
    <div class="card-commands">
        <a class="button button-primary" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}"><i class="ri-table-line"></i> Create sheet</a>
    </div>
</div>
{% endblock empty %}
