{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{sheet.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
{% endblock head %}

{% block main_content %}
<h1>{{sheet.title}}</h1>

<p>
    <span class="text-small">
        {% if sheet.date_creation.date == sheet.date_modification.date %}
        Created on <b>{{ sheet.date_creation | date }}</b>
        {% else %}
        Created on <b>{{ sheet.date_creation | date }}</b>, edited on <b>{{ sheet.date_modification | date }}</b>
        {% endif %}
    </span>
</p>

<div class="sheet-seed" sheet-id="{{sheet.id}}"></div>
{% endblock main_content %}

{% block right_column %}
<div class="side-menu-xl container">
    <button class="btn mb-2" id="btn-save-sheet">Save</button>
    <a class="btn mb-2" href="{% url 'orgapy:view_sheet_raw' sid=sheet.id %}">Download as TSV</a>
</div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    const URL_API_SHEET_DATA = "{% url 'orgapy:api_sheet_data' %}";
    const URL_API_SHEET_SAVE = "{% url 'orgapy:api_sheet_save' %}";
    const CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
{% endblock body_scripts %}