{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}Sheets &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

{% include 'orgapy/sheet_searchbar.html' %}

{% if groups or standalone_sheets %}

<table class="table table-hover table-striped table-condensed sheets-table">
    {% for group in groups %}
    <tr>
        <td>
            <details>
                <summary>
                    <a class="link-hidden mr-2" href="{{group.get_absolute_url}}">{{group.title}}</a>
                    <span class="show-on-parent-hover">
                        <a href="{% url 'orgapy:delete_sheet_group' sid=group.id %}" class="link-confirm btn-inline" title="Delete"><i class="icon icon-delete"></i></a>
                    </span>
                </summary>
                <ul>
                    {% for sheet in group.sheet_set.all %}
                    <li>{% include 'orgapy/sheet_list_item.html' %}</li>
                    {% endfor %}
                </ul>
            </details>
        </td>
    </tr>
    {% endfor %}
    {% for sheet in standalone_sheets %}
    <tr><td>{% include 'orgapy/sheet_list_item.html' %}</td></tr>
    {% endfor %}
</table>
{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no sheet</p>
    <p class="empty-subtitle">Click the button to create a sheet.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}">Create sheet</a>
    </div>
</div>
{% endif %}

{% include 'orgapy/create_sheet_group_modal.html' %}

{% endblock main_content %}

{% block right_column %}

<span class="btn mb-2" onclick="showModal('modal-create-sheet-group')">Add group</span>

{% endblock right_column %}