{% extends "orgapy/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{group.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/darcula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
<script src="{% static 'orgapy/js/markdown.js' %}"></script>
{% endblock head %}

{% block main_content %}
<h1 class="mb-2">{{group.title}}</h1>
{% endblock main_content %}

{% block right_column %}
<div class="ml-2 mb-2">
    <a href="{% url 'orgapy:edit_sheet_group' sid=group.id %}" class="btn mb-1 mr-1" title="Edit">Edit</a>
    <a href="{% url 'orgapy:delete_sheet_group' sid=group.id %}" class="btn mb-1 mr-1 link-confirm" title="Delete">Delete</a>
</div>
{% endblock right_column %}

{% block fullscreen_content %}

<div class="sheet-tabs-titles">
    {% for sheet in group.sheet_set.all %}
    <div class="sheet-tab-title {% if forloop.first %}active{% endif %}" tab="{{ forloop.counter0 }}">{{ sheet.title }}</div>
    {% endfor %}
</div>

<div class="mb-2">
    {% for sheet in group.sheet_set.all %}
    <div class="sheet-tab {% if forloop.first %}active{% endif %}" tab="{{ forloop.counter0 }}">
        {% if sheet.description %}<div class="markdown-inline">{{sheet.description | safe}}</div>{% endif %}
        <div class="text-center">
            <a class="text-small text-gray" href="{% url 'orgapy:sheet' sid=sheet.id %}">Vien in editor</a>
            <span class="ml-2">    
                <a class="btn-inline mr-1 {% if sheet.public %}btn-primary{% endif %}" href="{% url 'orgapy:toggle_sheet_public' sid=sheet.id %}?next={{ request.path }}" title="{% if sheet.public %}Make private{% else %}Make public{% endif %}"><i class="icon icon-lock"></i></a>
                <a class="btn-inline mr-1" href="{% url 'orgapy:edit_sheet' sid=sheet.id %}" title="Edit"><i class="icon icon-edit"></i></a>
                <a class="btn-inline mr-1 link-confirm" href="{% url 'orgapy:delete_sheet' sid=sheet.id %}" title="Delete"><i class="icon icon-delete"></i></a>
            </span>
        </div>
    </div>
    {% endfor %}
</div>

{% if group.sheet_set.all %}

{% for sheet in group.sheet_set.all %}
<div class="sheet-tab {% if forloop.first %}active{% endif %} sheet-seed" tab="{{ forloop.counter0 }}" sheet-id="{{sheet.id}}"></div>
{% endfor %}

{% else %}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-note icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no sheet</p>
    <p class="empty-subtitle">Click the button to create a sheet.</p>
    <div class="empty-action">
        <a class="btn btn-primary" href="{% url 'orgapy:create_sheet' %}">Create sheet</a>
    </div>
</div>
{% endif %}

{% endblock fullscreen_content %}



{% block body_scripts %}
{{ block.super }}
<script>
    window.addEventListener("load", () => {
        markdown_to_html(".markdown-inline", false);
        initialize_sheets(false, false);
        document.querySelectorAll(".sheet-tab-title").forEach(tab_title => {
            tab_title.addEventListener("click", () => {
                document.querySelectorAll(".sheet-tab").forEach(tab => {
                    if (tab_title.getAttribute("tab") == tab.getAttribute("tab")) {
                        tab.classList.add("active");
                    } else {
                        tab.classList.remove("active");
                    }
                });
                document.querySelectorAll(".sheet-tab-title").forEach(tab_title_2 => {
                    if (tab_title.getAttribute("tab") == tab_title_2.getAttribute("tab")) {
                        tab_title_2.classList.add("active");
                    } else {
                        tab_title_2.classList.remove("active");
                    }
                });
            });
        });
    });
</script>
{% endblock body_scripts %}

