{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{sheet.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
{% endblock head %}

{% block main_content %}

<div class="sheet" sheet-id="{{sheet.id}}">
    <div class="sheet-toolbar">
        <a class="link-hidden" href="{% url 'orgapy:sheets' %}"><i class="ri-table-line"></i></a>
        <span class="sheet-title oneline-truncate">{{sheet.title}}</span>
        {% if sheet.group %}
        <a class="oneline-truncate" href="{{sheet.group.get_absolute_url}}">[{{sheet.group.title}}]</a>
        {% endif %}
        <span class="sheet-toolbar-buttons">
            <a class="button-inline" href="{% url 'orgapy:edit_sheet' sid=sheet.id %}" title="Edit"><i class="ri-pencil-fill"></i></a>
            <button title="Save" class="sheet-button-save"><i class="ri-save-line"></i></button>
            <div class="dropdown">
                <a class="button-inline dropdown-toggle" title="More" tabindex="0"><i class="ri-more-fill"></i></a>
                <ul class="menu">
                    <li class="menu-item"><a href="{% url 'orgapy:toggle_sheet_public' sid=sheet.id %}?next={{ request.path }}" title="{% if sheet.public %}Make private{% else %}Make public{% endif %}">{% if sheet.public %}<i class="ri-lock-line"></i> Make private{% else %}<i class="ri-lock-unlock-line"></i> Publish{% endif %}</li>
                    <li class="menu-item"><a class="link-confirm" message="Please confirm deletion of '{{ sheet.title }}'" href="{% url 'orgapy:delete_sheet' sid=sheet.id %}" title="Delete"><i class="ri-delete-bin-line"></i> Delete</a></li>
                    <li class="menu-item"><button title="Script" class="sheet-button-script">ℱ Script</button></li>
                    <li class="menu-item"><button title="Toggle shrink" class="sheet-button-shrink"><i class="ri-fullscreen-exit-line"></i> Shrink</button></li>
                    <li class="menu-item"><button title="Upload TSV" class="sheet-button-upload"><i class="ri-upload-line"></i> Upload TSV</button></li>
                    <li class="menu-item"><button title="Download as TSV" class="sheet-button-download"><i class="ri-download-line"></i> Download TSV</button></li>
                
                </ul>
            </div>
        </span>
        {% if sheet.description %}
        <span class="markdown-inline">{{sheet.description | safe}}</span>
        {% endif %}
    </div>
    <div class="sheet-head"></div>
    <div class="sheet-body"></div>
</div>

{% endblock %}

{% block body_scripts %}
{{ block.super }}
<script>
    window.addEventListener("load", () => {
        markdownToHtml(".markdown-inline", false);
        initializeSheets(false, false);
    });
</script>
{% endblock body_scripts %}