{% extends "orgapy/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{sheet.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
{% endblock head %}

{% block main_content %}
<h1>{{sheet.title}}</h1>

<p>
    {% if sheet.description %}
    <span>{{sheet.description | safe}}</span><br>
    {% endif %}
    {% if sheet.group %}
    <span>Group: <a href="{{sheet.group.get_absolute_url}}">{{sheet.group.title}}</a></span><br>
    {% endif %}
    <span class="text-small">
        {% if sheet.date_creation.date == sheet.date_modification.date %}
        Created on <b>{{ sheet.date_creation | date }}</b>
        {% else %}
        Created on <b>{{ sheet.date_creation | date }}</b>, edited on <b>{{ sheet.date_modification | date }}</b>
        {% endif %}
    </span>
</p>

<div class="sheet-seed" sheet-id="{{sheet.id}}"></div>

{% endblock main_content %}

{% block right_column %}
<div class="side-menu container mt-1">    
    <a href="{% url 'orgapy:toggle_sheet_public' sid=sheet.id %}?next={{ request.path }}" class="btn btn-action mb-1 mr-1 {% if sheet.public %}btn-primary{% endif %}" title="{% if sheet.public %}Make private{% else %}Make public{% endif %}"><i class="icon icon-lock"></i></a>
    <a href="{% url 'orgapy:edit_sheet' sid=sheet.id %}" class="btn btn-action mb-1 mr-1" title="Edit"><i class="icon icon-edit"></i></a>
    <a href="{% url 'orgapy:delete_sheet' sid=sheet.id %}" class="btn btn-action mb-1 mr-1 link-confirm" title="Delete"><i class="icon icon-delete"></i></a>
</div>
{% endblock right_column %}

{% block body_scripts %}
{{ block.super }}
<script>
    window.addEventListener("load", () => {
        initialize_sheets(false, false);
    });
</script>
{% endblock body_scripts %}