{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}{% block subtitle %}{{group.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block main_content %}

{% include 'orgapy/partials/sheet_searchbar.html' %}

<div class="card card-oneline">
    <h1 class="card-oneline-title">{{group.title}}</h1>
    {% if group.sheet_set.all %}
        {% for sheet in group.sheet_set.all %}
        <div class="oneline oneline-striped">{% include 'orgapy/partials/sheet_list_item.html' %}</div>
        {% endfor %}
    {% else %}
    <div class="empty">
        <div class="empty-icon">
            <i class="icon icon-note icon-2x"></i>
        </div>
        <p class="empty-title h5">You have no sheet</p>
        <p class="empty-subtitle">Click the button to create a sheet.</p>
        <div class="empty-action">
            <a class="btn btn-primary" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}">Create sheet</a>
        </div>
    </div>
    {% endif %}
</div>

<div class="row">
    <a class="button" href="{% url 'orgapy:edit_sheet_group' group.id %}"><i class="ri-pencil-fill"></i> Edit</a>
    <a class="button link-confirm" href="{% url 'orgapy:delete_sheet_group' group.id %}"><i class="ri-delete-bin-line"></i> Delete</a>
</div>


{% endblock main_content %}

