{% extends "orgapy/layout/fullscreen.html" %}
{% load static %}

{% block title %}{% block subtitle %} {{sheet.title}} &mid; {% endblock subtitle %}{{ block.super }}{% endblock title %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'orgapy/css/sheets.css' %}" />
<script src="{% static 'orgapy/js/sheets.js' %}"></script>
{% endblock head %}

{% block main_content %}
<header class="card">
    <h1>{{sheet.title}}</h1>
</header>

<div class="sheet-seed" sheet-id="{{sheet.id}}"></div>
{% endblock main_content %}

{% block body_scripts %}
{{ block.super }}
<script>
    initialize_sheets(true, false);
</script>
{% endblock body_scripts %}