{% load static %}

<!DOCTYPE html>

<html lang="{% block lang %}en{% endblock lang %}">

<head>
    <title>{% block title %}Piweb{% endblock title %}</title>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/ychalier/pifekit/pifekit.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ychalier/pifekit/pifekit.js"></script>
    {% endblock head %}
</head>

<body class="{% block body_class %}{% endblock body_class %}">
    {% block body %}
    <div class="columns col-gapless">
        <div class="column col-3 col-xl-2 col-lg-2 col-md-1 col-sm-12"></div>
        <div class="column col-6 col-xl-8 col-lg-8 col-md-10 col-sm-12">
        {% block center_column %}
            <div class="container">
                <header class="navbar navbar-float container">{% block navbar %}{% endblock navbar %}</header>
                <div>
                {% block main_content_prev %}{% endblock main_content_prev %}
                {% block main_content %}{% endblock main_content %}
                {% block main_content_next %}{% endblock main_content_next %}
                </div>
            </div>
        {% endblock center_column %}
        </div>
        <div class="column col-3 col-xl-2 col-lg-2 col-md-1 col-sm-12"></div>
    </div>
    {% endblock body %}
    {% block body_scripts %}{% endblock body_scripts %}
</body>

</html>
