{% extends 'orgapy/single_column.html' %}

{% load static %}

{% block title %}Orgapy{% endblock %}

{% block head %}
{{ block.super }}
<link rel="icon" href="{% static 'orgapy/logo/32.png' %}" sizes="32x32" />
<link rel="icon" href="{% static 'orgapy/logo/48.png' %}" sizes="48x48" />
<link rel="icon" href="{% static 'orgapy/logo/96.png' %}" sizes="96x96" />
<link rel="icon" href="{% static 'orgapy/logo/144.png' %}" sizes="144x144" />
<link rel="stylesheet" href="{% static 'orgapy/css/orgapy.css' %}" />
{% endblock head %}

{% block body_class %}dark-blue noise{% endblock body_class %}

{% block navbar %}
<section class="navbar-section">
    <a href="{% url 'orgapy:about' %}" class="navbar-brand mr-2">Orgapy</a>
    <a href="{% url 'orgapy:notes' %}" class="btn {% if active != 'notes' %}btn-link{% endif %}">Notes</a>
    <a href="{% url 'orgapy:tasks' %}" class="btn {% if active != 'tasks' %}btn-link{% endif %}">Tasks</a>
    <a href="{% url 'orgapy:quotes' %}" class="btn {% if active != 'quotes' %}btn-link{% endif %}">Quotes</a>
</section>
{% endblock navbar %}
