{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}Orgapy{% endblock title %}</title>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/ychalier/pifekit/pifekit.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/ychalier/pifekit/pifekit.min.js"></script>
    <link rel="icon" href="{% static 'orgapy/logo/32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'orgapy/logo/48.png' %}" sizes="48x48" />
    <link rel="icon" href="{% static 'orgapy/logo/96.png' %}" sizes="96x96" />
    <link rel="icon" href="{% static 'orgapy/logo/144.png' %}" sizes="144x144" />
    <link rel="stylesheet" href="{% static 'orgapy/css/orgapy.css' %}" />
    <script src="{% static 'orgapy/js/searchbar.js' %}"></script>
    <script src="{% static 'orgapy/js/misc.js' %}"></script>
    <script>
        const URL_API_SUGGESTIONS = "{% url 'orgapy:api_suggestions' %}";
    </script>
    {% endblock head %}
</head>

<body class="dark-blue noise">
    {% block body %}
    {% block before_columns %}{% endblock before_columns %}
    <div class="columns">
        <div class="column col-4 col-xl-3 col-lg-2 hide-md"></div>
        <div class="column col-4 col-xl-6 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        {% block center_column %}
            <div class="container">
                <header class="navbar navbar-float blackblock">
                    {% block navbar %}
                    <section class="navbar-section">
                        <a href="{% url 'orgapy:about' %}" class="navbar-brand mr-2">Orgapy</a>
                        <a href="{% url 'orgapy:notes' %}" class="btn {% if active != 'notes' %}btn-link{% else %}mr-2 ml-2{% endif %}">Notes</a>
                        <a href="{% url 'orgapy:quotes' %}" class="btn {% if active != 'quotes' %}btn-link{% else %}mr-2 ml-2{% endif %}">Quotes</a>
                        <a href="{% url 'orgapy:objectives' %}" class="btn {% if active != 'objectives' %}btn-link{% else %}mr-2 ml-2{% endif %}">Objectives</a>
                    </section>
                    {% endblock navbar %}
                </header>
                <div>
                {% block main_content_prev %}{% endblock main_content_prev %}
                {% block main_content %}{% endblock main_content %}
                {% block main_content_next %}{% endblock main_content_next %}
                </div>
            </div>
        {% endblock center_column %}
        </div>
        <div class="column col-4 col-xl-3 col-lg-2 col-md-12 col-sm-12 col-xs-12 p-relative"><div class="hide-md" style="height: 4.2rem"></div>{% block right_column %}{% endblock right_column %}</div>
    </div>
    {% block after_columns %}{% endblock after_columns %}
    {% endblock body %}
    <div class="mb-4">&nbsp;</div>
    {% block body_scripts %}{% endblock body_scripts %}
</body>

</html>
