{% extends "orgapy/layout/documents.html" %}

{% block title %}#{{ tag.name }}{% endblock title %}

{% block content_title %}
<form method="post" action="{% url 'orgapy:tag' tag.name %}">
    {% csrf_token %}
    <header class="card">
        <h1 class="card-header" style="display: flex">
            <span>#</span><input class="input-inline" type="text" name="name" value="{{ tag.name }}" placeholder="Name" />
        </h1>
        <div class="card-actions">
            <button>Save</button>
            <button type="submit" name="delete" value="on" class="button-danger submit-confirm" message="Do you want to delete '{{ tag.name }}'?"><i class="ri-delete-bin-line"></i> Delete</a>
        </div>
    </header>
</form>
{% endblock content_title %}