{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block title %}Tags{% endblock title %}

{% block column_main %}
<div class="card">
    <h1 class="card-header">Tags</h1>
    <div class="line gold">
        <span class="label {% if uncategorized == 0 %}label-grey{% endif %}">{{ uncategorized }}</span>
        <a class="link-hidden" href="{% url 'orgapy:tag' 'uncategorized' %}">Uncategorized</a>
    </div>
    {% for tag in tags %}
    <div class="line">
        <span class="label {% if tag.count == 0 %}label-red{% endif %}">{{ tag.count }}</span>
        <a class="link-hidden" href="{{ tag.get_absolute_url }}">{{ tag.name | capfirst }}</a>
    </div>
    {% endfor %}
</div>
{% endblock column_main %}
