{% if tasks %}
<table class="table table table-striped table-hover table-condensed my-2">
    <tr>
        <th>Due</th>
        <th>Title</th>
        <th class="text-center">Public</th>
        <th class="text-center">Categories</th>
        <th class="text-center">Done</th>
    </tr>
    {% for note in tasks %}
    <tr class="task{% if note.task.done %} task--done{% elif note.task.urgent %} task--urgent{% elif note.task.today %} task--today{% endif%}">
        <td>
            {% if note.task.date_due %}
            {{note.task.date_due|date:"M. d"}}
            {% else %}
            &ndash;
            {% endif %}
        </td>
        <td>
            <a class="link-hidden" href="{% url 'orgapy:view_note' nid=note.id %}">{{note.title}}</a>
        </td>
        <td class="text-center">
            {% if note.public %}
            <a class="link-hidden" href="{% url 'orgapy:view_public_note' nid=note.id %}">⁕</a>
            {% endif %}
        </td>
        <td class="text-center">
            {% for category in note.categories.all %}
            <a class="link-hidden" href="{% url 'orgapy:notes' %}?query=%23{{category.name}}">#{{category.name}}</a>
            {% endfor%}
        </td>
        <td class="text-center">
            {% if note.task.done %}
            <a class="link-hidden" href="{% url 'orgapy:delete_note' nid=note.id %}">✕</a>
            {% else %}
            <a class="link-hidden" href="{% url 'orgapy:task_done' note_id=note.id %}">✓</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty my-2">
    <div class="empty-icon">
        <i class="icon icon-task icon-2x"></i>
    </div>
    <p class="empty-title h5">You have no task</p>
    <p class="empty-subtitle">Use the above form to create a task.</p>
</div>
{% endif %}
