.card:has(#eventsContainer:empty) {
    display: none;
}

#eventsContainer {
    line-height: 1.6;
}

.event-dot {
    display: inline-block;
    margin-top: .1rem;
    width: .5rem;
    height: .5rem;
    background: var(--accent);
    border-radius: 50%;
    cursor: pointer;
}
