/* General layout */

html {
    height: 100%;
}

body.fullscreen {
    height: 100%;
}

.map-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.map-container .card,
.map-container .card * {
    font-size: 16px;
    line-height: 1;
}

.leaflet-control-container {
    height: 100%;
}

.leaflet-top.leaflet-left {
    height: 100%;
}

.map-control {
    height: 100%;
    max-height: calc(100% - .8rem);
    overflow-y: auto;
}

.map-panel {
    margin: 0;
    padding: .4rem;
    border-radius: .4rem;
    width: 240px;
}

@media (max-width: 500px) {

    .map-control {
        max-height: calc(50% - .8rem);
    }

    .map-panel {
        width: calc(100vw - 1.2rem);
    }

}

/* Form */

.form-inline {
    display: flex;
}

.form-inline input {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-inline button {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.feature-style {
    display: flex;
    flex-direction: column;
    margin-bottom: .4rem;
}

.feature-style-input {
    width: 100%;
}

.feature-style-input[type='color'] {
    border: 1px solid #8f8f9d;
    border-radius: .2rem;
    padding: 0;
    max-height: 24px;
}

.feature-style-input + .feature-style-label {
    margin-top: .2rem;
}

/* Controls */

.map-toolbar {
    display: flex;
    gap: .1rem;
}

.map-provider-select {
    margin: .2rem 0 .4rem 0;
}

.map-coordinates {
    color: #888;
}

/* Panel */

.map-title-container {
    display: flex;
    align-items: baseline;
}

.map-title-container a {
    color: inherit;
}

.map-title,
.map-title-input {
    display: block;
    font-weight: bold;
    padding: .4rem;
    height: 1.8rem;
    border: none;
}

.map-title-input:focus {
    outline: none;
}

.map-layers {
    display: flex;
    flex-direction: column;
    margin-top: .2rem;
    margin-bottom: .4rem;
}

.map-layer {
    padding: .4rem;
    border-radius: .2rem;
    margin-bottom: .2rem;
}

.map-layer.selected {
    background: #1b2931;
}

.map-layer summary {
    width: 100%;
    user-select: none;
}

.map-layer summary > * {
    height: 19px;
}

.map-layer summary input[type=text] {
    width: 75%;
    border-radius: .2rem;
    padding: .2rem;
}

.map-layer summary .dropdown {
    float: right;
    margin-right: .2rem;
}

.map-layer summary input[type=checkbox] {
    float: right;
    width: fit-content;
    margin: 0;
}

.map-layer-title {
    cursor: pointer;
    color: white;
}

.map-layer > details > summary {
    color:hsl(0, 0%, 50%)
}

.map-features {
    padding: 0;
    list-style: none;
    margin: .2rem 0 0 0;
    line-height: 1.6 !important;
}

.map-feature {
    cursor: pointer;
    color: #d0d0d0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.6 !important;
    user-select: none;
    
}

.map-feature button {
    display: none;
    line-height: inherit;
    padding: 0;
    border: none;
    border-radius: .1rem;
    margin-left: .4rem;
}

.map-feature:hover button {
    display: inline;
}

/* Dialogs */

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
}

.dialog-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25) !important;
    z-index: 1002;
}

.dialog-title {
    font-weight: bold;
}

/* Popup */

.leaflet-popup-content-wrapper {
    background: #101010;
    color: inherit;
    padding: .4rem;
    border-radius: .4rem;
    border: 1px solid black;
}

.leaflet-popup-content {
    margin: 0;
}

.feature-popup {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.feature-popup input,
.feature-popup button {
    background: #303030;
}

.feature-popup button.active {
    color: black;
    background: #8ed2ff;
}

.feature-popup button:hover {
    background: #1b2931;
}

.feature-properties {
    display: flex;
    margin: .4rem 0;
    flex-direction: column;
    max-height: 300px;
    overflow: auto;
}

.feature-property {
    display: flex;
    align-items: baseline;
    margin-bottom: .2rem;
    flex-direction: column;
}

.feature-property-label {
    font-weight: bold;
    text-transform: capitalize;
}

.feature-property-label,
.feature-property-value,
.feature-property-buttons {
    padding: 0;
    width: 100%;
}

.feature-property input {
    box-sizing: border-box;
    width: 100%;
    font-weight: inherit;
}