/**
 * Toc
 */

#toc {
    display: flex;
    flex-direction: column;
}

#toc>a {
    margin: .2rem 0;
}

/**
 * Note form
 */

.note-form-title {
    display: block;
    font-size: 32px;
    font-weight: bold;
    padding: 0;
    margin: .8rem 0;
}

.note-form-content {
    display: block;
    padding: .8rem;
    margin: .8rem 0;
    height: 100%;
    resize: none;
}

/**
 * Note categories input
 */

#categories-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .2rem;
}

#categories-input-current {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

#categories-input .category {
    font-size: small;
    background: #8ed2ff;
    color: black;
    padding: .2rem;
    border-radius: .2rem;
    transition: .2s ease-in-out;
}

#categories-input .category:hover {
    background: #7fbae1;
}

#categories-input .category i {
    cursor: pointer;
}

#categories-input-new {
    width: 6rem;
    font-size: small;
    padding: .2rem;
    border-radius: .2rem;
    background: #303030;
    border-color: #888;
}

#categories-suggestions {
    position: relative;
}

#categories-suggestions-items {
    position: absolute;
    left: 0;
    top: 1.3rem;
    width: 100%;
}

#categories-suggestions-items div {
    padding: .2rem;
    width: 100%;
    font-size: small;
    cursor: pointer;
    background: #303030;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    text-overflow: ellipsis;
    overflow: hidden;
}

#categories-suggestions-items div:first-child {
    border-top: 1px solid #555;
}

#categories-suggestions-items div:last-child {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-bottom: 1px solid #888;
}

#categories-suggestions-items div:hover {
    background: #404040;
}

/**
 * Note content textarea
 */

#input-content {
    font-family: "Fira Code", monospace;
}