.objgraph-wrapper {
    width: 100%;
    overflow-x: auto;
    background: rgb(38, 39, 40);
    border-radius: .4rem;
    padding: .4rem .4rem .8rem .4rem;
    border: 1px solid black;
}

.objgraph-head {
    margin-bottom: .4rem;
    user-select: none;
}

.objgraph-head,
.objgraph-objective {
    display: flex;
    flex-direction: row;
}

.objgraph-head-day {
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    width: 32px;
    height: 16px;
    flex-shrink: 0;
    font-size: small;
    line-height: 16px;
    padding-left: 2px;
}

.objgraph-head-week {
    border-left: 2px solid white;
}

.objgraph-head-today {
    background: var(--color-accent-5);
    border-right: 1px solid #ccc;
    border-radius: .2rem;
}

.objgraph-head-today::after {
    content: "⇣";
    color: black;
    text-align: center;
    padding-left: 10px;
}

.objgraph-head-today + .objgraph-head-day {
    border-left: none;
}

.objgraph-objective {
    display: flex;
    flex-direction: row;
    position: relative;
}

.objgraph-slot {
    box-sizing: border-box;
    flex-shrink: 0;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.objgraph-slot-background {
    margin: .1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: .2rem;
    overflow: hidden;
}

.objgraph-slot button {
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    padding: 0;
    background: #ccc;
    height: 100%;
}

.objgraph-slot button.early {
    background: #8CCD94 !important
}

.objgraph-slot button.late {
    background: #E69D73 !important
}

.bg-dark {
    background: #101010 !important;
}

.objgraph-ref {
    position: relative;
}

.objgraph-name {
    position: absolute;
    left: .4rem;
    margin-top: 4px;
    line-height: 24px;
    background: black;
    padding: 0 .4rem;
    border-radius: .4rem;
    cursor: default;
}

.objgraph-name.archived {
    background: rgb(0, 0, 30);
    border-color: rgb(17, 17, 73);
}

.objgraph-completion {
    position: absolute;
    height: 100%;
    width: .2rem;
    overflow: hidden;
    top: 0;
    padding-top: .2rem;
    padding-bottom: .2rem;
    cursor: help;
}

.objgraph-completion::after {
    display: block;
    content: " ";
    background: #389b45;
    border-radius: .2rem;
    height: 100%;
    opacity: 0;
}

.objgraph:hover .objgraph-completion::after{
    opacity: 1;
}

.bg-cooldown {
    background: #aaa;
}

.bg-future {
    background: #101010;
}

.bg-future-complete {
    background: #2e6f36;
}

.objective-popover {
    display: flex;
    flex-direction: column;
    padding: .4rem;
    border-radius: .2rem;
    background: var(--color-primary-0);
    border: 1px solid black;
    position: relative;
    z-index: inherit;
}