* {
    --color-secondary-3: hsl(217, 16%, 88%) !important;
    /* hsl(217, 16%, 93%); */
    --color-accent-0: hsl(200, 63%, 59%);
    --color-accent-1: hsl(200, 64%, 61%);
    --color-accent-2: hsl(200, 63%, 62%);
    --color-accent-3: hsl(200, 63%, 64%);
    --color-accent-4: hsl(200, 63%, 66%);
    --color-accent-5: hsl(200, 63%, 69%);
    --color-accent-6: hsla(200, 63%, 69%, 0.2);
    --color-accent-7: hsla(200, 63%, 69%, 0.95);
    --color-accent-8: hsl(200, 64%, 74%);
    --color-accent-9: hsl(200, 63%, 79%);
}

.icon-download {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%207.158857%2C12.726857%20c%20-0.401828%2C-0.401828%20-0.401828%2C-1.053257%200%2C-1.455086%200.401829%2C-0.401828%201.053257%2C-0.401828%201.455086%2C0%20L%2010.9728%2C13.630629%20V%201.0285714%20C%2010.9728%2C0.4608%2011.4336%2C0%2012.001371%2C0%20c%200.567772%2C0%201.028572%2C0.4608%201.028572%2C1.0285714%20V%2013.630629%20L%2015.3888%2C11.271771%20c%200.401829%2C-0.401828%201.053257%2C-0.401828%201.455086%2C0%200.401828%2C0.401829%200.401828%2C1.053258%200%2C1.455086%20L%2012.7296%2C16.841143%20c%20-0.200229%2C0.200228%20-0.463543%2C0.301714%20-0.726857%2C0.301714%20-0.263314%2C0%20-0.526629%2C-0.100114%20-0.726857%2C-0.301714%20L%207.1616%2C12.726857%20Z%20m%2015.812572%2C2.358857%20c%20-0.567772%2C0%20-1.028572%2C0.4608%20-1.028572%2C1.028572%20v%204.114285%20c%200%2C0.944915%20-0.769371%2C1.714286%20-1.714286%2C1.714286%20H%203.7714286%20c%20-0.9449143%2C0%20-1.7142857%2C-0.769371%20-1.7142857%2C-1.714286%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.0285715%2C-1.028572%20C%200.4608%2C15.085714%200%2C15.546514%200%2C16.114286%20v%204.114285%20C%200%2C22.309029%201.6909714%2C24%203.7714286%2C24%20H%2020.228571%20C%2022.309029%2C24%2024%2C22.309029%2024%2C20.228571%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.028571%2C-1.028572%20z%22%20style%3D%22stroke-width%3A1.37143%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%207.158857%2C12.726857%20c%20-0.401828%2C-0.401828%20-0.401828%2C-1.053257%200%2C-1.455086%200.401829%2C-0.401828%201.053257%2C-0.401828%201.455086%2C0%20L%2010.9728%2C13.630629%20V%201.0285714%20C%2010.9728%2C0.4608%2011.4336%2C0%2012.001371%2C0%20c%200.567772%2C0%201.028572%2C0.4608%201.028572%2C1.0285714%20V%2013.630629%20L%2015.3888%2C11.271771%20c%200.401829%2C-0.401828%201.053257%2C-0.401828%201.455086%2C0%200.401828%2C0.401829%200.401828%2C1.053258%200%2C1.455086%20L%2012.7296%2C16.841143%20c%20-0.200229%2C0.200228%20-0.463543%2C0.301714%20-0.726857%2C0.301714%20-0.263314%2C0%20-0.526629%2C-0.100114%20-0.726857%2C-0.301714%20L%207.1616%2C12.726857%20Z%20m%2015.812572%2C2.358857%20c%20-0.567772%2C0%20-1.028572%2C0.4608%20-1.028572%2C1.028572%20v%204.114285%20c%200%2C0.944915%20-0.769371%2C1.714286%20-1.714286%2C1.714286%20H%203.7714286%20c%20-0.9449143%2C0%20-1.7142857%2C-0.769371%20-1.7142857%2C-1.714286%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.0285715%2C-1.028572%20C%200.4608%2C15.085714%200%2C15.546514%200%2C16.114286%20v%204.114285%20C%200%2C22.309029%201.6909714%2C24%203.7714286%2C24%20H%2020.228571%20C%2022.309029%2C24%2024%2C22.309029%2024%2C20.228571%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.028571%2C-1.028572%20z%22%20style%3D%22stroke-width%3A1.37143%22%20/%3E%0A%3C/svg%3E");
}

.icon-fullscreen {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%209.2307692%2C0.92307692%20c%200%2C0.50953848%20-0.4135384%2C0.92307688%20-0.9230769%2C0.92307688%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C0.6904616%20-1.5384616%2C1.5384616%20v%204.9230769%20c%200%2C0.5095385%20-0.4135384%2C0.9230769%20-0.92307688%2C0.9230769%20C%200.41353846%2C9.2307692%200%2C8.8172308%200%2C8.3076923%20V%203.3846154%20C%200%2C1.5175385%201.5175385%2C0%203.3846154%2C0%20H%208.3076923%20C%208.8172308%2C0%209.2307692%2C0.41353846%209.2307692%2C0.92307692%20Z%20M%2020.615385%2C0%20h%20-4.923077%20c%20-0.509539%2C0%20-0.923077%2C0.41353846%20-0.923077%2C0.92307692%200%2C0.50953848%200.413538%2C0.92307688%200.923077%2C0.92307688%20h%204.923077%20c%200.848%2C0%201.538461%2C0.6904616%201.538461%2C1.5384616%20v%204.9230769%20c%200%2C0.5095385%200.413539%2C0.9230769%200.923077%2C0.9230769%20C%2023.586462%2C9.2307692%2024%2C8.8172308%2024%2C8.3076923%20V%203.3846154%20C%2024%2C1.5175385%2022.482462%2C0%2020.615385%2C0%20Z%20m%202.461538%2C14.769231%20c%20-0.509538%2C0%20-0.923077%2C0.413538%20-0.923077%2C0.923077%20v%204.923077%20c%200%2C0.848%20-0.690461%2C1.538461%20-1.538461%2C1.538461%20h%20-4.923077%20c%20-0.509539%2C0%20-0.923077%2C0.413539%20-0.923077%2C0.923077%200%2C0.509539%200.413538%2C0.923077%200.923077%2C0.923077%20h%204.923077%20C%2022.482462%2C24%2024%2C22.482462%2024%2C20.615385%20v%20-4.923077%20c%200%2C-0.509539%20-0.413538%2C-0.923077%20-0.923077%2C-0.923077%20z%20M%208.3076923%2C22.153846%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C-0.690461%20-1.5384616%2C-1.538461%20v%20-4.923077%20c%200%2C-0.509539%20-0.4135384%2C-0.923077%20-0.92307688%2C-0.923077%20C%200.41353846%2C14.769231%200%2C15.182769%200%2C15.692308%20v%204.923077%20C%200%2C22.482462%201.5175385%2C24%203.3846154%2C24%20h%204.9230769%20c%200.5095385%2C0%200.9230769%2C-0.413538%200.9230769%2C-0.923077%200%2C-0.509538%20-0.4135384%2C-0.923077%20-0.9230769%2C-0.923077%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%209.2307692%2C0.92307692%20c%200%2C0.50953848%20-0.4135384%2C0.92307688%20-0.9230769%2C0.92307688%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C0.6904616%20-1.5384616%2C1.5384616%20v%204.9230769%20c%200%2C0.5095385%20-0.4135384%2C0.9230769%20-0.92307688%2C0.9230769%20C%200.41353846%2C9.2307692%200%2C8.8172308%200%2C8.3076923%20V%203.3846154%20C%200%2C1.5175385%201.5175385%2C0%203.3846154%2C0%20H%208.3076923%20C%208.8172308%2C0%209.2307692%2C0.41353846%209.2307692%2C0.92307692%20Z%20M%2020.615385%2C0%20h%20-4.923077%20c%20-0.509539%2C0%20-0.923077%2C0.41353846%20-0.923077%2C0.92307692%200%2C0.50953848%200.413538%2C0.92307688%200.923077%2C0.92307688%20h%204.923077%20c%200.848%2C0%201.538461%2C0.6904616%201.538461%2C1.5384616%20v%204.9230769%20c%200%2C0.5095385%200.413539%2C0.9230769%200.923077%2C0.9230769%20C%2023.586462%2C9.2307692%2024%2C8.8172308%2024%2C8.3076923%20V%203.3846154%20C%2024%2C1.5175385%2022.482462%2C0%2020.615385%2C0%20Z%20m%202.461538%2C14.769231%20c%20-0.509538%2C0%20-0.923077%2C0.413538%20-0.923077%2C0.923077%20v%204.923077%20c%200%2C0.848%20-0.690461%2C1.538461%20-1.538461%2C1.538461%20h%20-4.923077%20c%20-0.509539%2C0%20-0.923077%2C0.413539%20-0.923077%2C0.923077%200%2C0.509539%200.413538%2C0.923077%200.923077%2C0.923077%20h%204.923077%20C%2022.482462%2C24%2024%2C22.482462%2024%2C20.615385%20v%20-4.923077%20c%200%2C-0.509539%20-0.413538%2C-0.923077%20-0.923077%2C-0.923077%20z%20M%208.3076923%2C22.153846%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C-0.690461%20-1.5384616%2C-1.538461%20v%20-4.923077%20c%200%2C-0.509539%20-0.4135384%2C-0.923077%20-0.92307688%2C-0.923077%20C%200.41353846%2C14.769231%200%2C15.182769%200%2C15.692308%20v%204.923077%20C%200%2C22.482462%201.5175385%2C24%203.3846154%2C24%20h%204.9230769%20c%200.5095385%2C0%200.9230769%2C-0.413538%200.9230769%2C-0.923077%200%2C-0.509538%20-0.4135384%2C-0.923077%20-0.9230769%2C-0.923077%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
}

.icon-save {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%2023.321846%2C4.6363077%2020.861538%2C1.3538462%20C%2020.225231%2C0.50584615%2019.213538%2C0%2018.153846%2C0%20H%203.3846154%20C%201.5175385%2C0%200%2C1.5175385%200%2C3.3846154%20V%2020.615385%20C%200%2C22.482462%201.5175385%2C24%203.3846154%2C24%20H%2020.615385%20C%2022.482462%2C24%2024%2C22.482462%2024%2C20.615385%20V%206.6670769%20C%2024%2C5.9396923%2023.76%2C5.2184615%2023.321846%2C4.6363077%20Z%20M%208%2C1.8461538%20h%208%20v%204%20C%2016%2C6.016%2015.862154%2C6.1538462%2015.692308%2C6.1538462%20H%208.3076923%20C%208.1378462%2C6.1538462%208%2C6.016%208%2C5.8461538%20Z%20M%205.5384615%2C22.153846%20v%20-7.692308%20c%200%2C-0.848%200.6904616%2C-1.538461%201.5384616%2C-1.538461%20h%209.8461539%20c%200.848%2C0%201.538461%2C0.690461%201.538461%2C1.538461%20v%207.692308%20z%20M%2022.153846%2C20.615385%20c%200%2C0.848%20-0.690461%2C1.538461%20-1.538461%2C1.538461%20h%20-0.307693%20v%20-7.692308%20c%200%2C-1.867076%20-1.517538%2C-3.384615%20-3.384615%2C-3.384615%20H%207.0769231%20c%20-1.8670769%2C0%20-3.3846154%2C1.517539%20-3.3846154%2C3.384615%20v%207.692308%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C-0.690461%20-1.5384616%2C-1.538461%20V%203.3846154%20c%200%2C-0.848%200.6904616%2C-1.5384616%201.5384616%2C-1.5384616%20h%202.7692308%20v%204%20C%206.1538462%2C7.0338462%207.12%2C8%208.3076923%2C8%20H%2015.692308%20C%2016.88%2C8%2017.846154%2C7.0338462%2017.846154%2C5.8461538%20v%20-4%20h%200.307692%20c%200.482462%2C0%200.942769%2C0.2301539%201.230769%2C0.6153847%20L%2021.846154%2C5.744%20c%200.198154%2C0.2646154%200.307692%2C0.592%200.307692%2C0.9230769%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%2023.321846%2C4.6363077%2020.861538%2C1.3538462%20C%2020.225231%2C0.50584615%2019.213538%2C0%2018.153846%2C0%20H%203.3846154%20C%201.5175385%2C0%200%2C1.5175385%200%2C3.3846154%20V%2020.615385%20C%200%2C22.482462%201.5175385%2C24%203.3846154%2C24%20H%2020.615385%20C%2022.482462%2C24%2024%2C22.482462%2024%2C20.615385%20V%206.6670769%20C%2024%2C5.9396923%2023.76%2C5.2184615%2023.321846%2C4.6363077%20Z%20M%208%2C1.8461538%20h%208%20v%204%20C%2016%2C6.016%2015.862154%2C6.1538462%2015.692308%2C6.1538462%20H%208.3076923%20C%208.1378462%2C6.1538462%208%2C6.016%208%2C5.8461538%20Z%20M%205.5384615%2C22.153846%20v%20-7.692308%20c%200%2C-0.848%200.6904616%2C-1.538461%201.5384616%2C-1.538461%20h%209.8461539%20c%200.848%2C0%201.538461%2C0.690461%201.538461%2C1.538461%20v%207.692308%20z%20M%2022.153846%2C20.615385%20c%200%2C0.848%20-0.690461%2C1.538461%20-1.538461%2C1.538461%20h%20-0.307693%20v%20-7.692308%20c%200%2C-1.867076%20-1.517538%2C-3.384615%20-3.384615%2C-3.384615%20H%207.0769231%20c%20-1.8670769%2C0%20-3.3846154%2C1.517539%20-3.3846154%2C3.384615%20v%207.692308%20H%203.3846154%20c%20-0.848%2C0%20-1.5384616%2C-0.690461%20-1.5384616%2C-1.538461%20V%203.3846154%20c%200%2C-0.848%200.6904616%2C-1.5384616%201.5384616%2C-1.5384616%20h%202.7692308%20v%204%20C%206.1538462%2C7.0338462%207.12%2C8%208.3076923%2C8%20H%2015.692308%20C%2016.88%2C8%2017.846154%2C7.0338462%2017.846154%2C5.8461538%20v%20-4%20h%200.307692%20c%200.482462%2C0%200.942769%2C0.2301539%201.230769%2C0.6153847%20L%2021.846154%2C5.744%20c%200.198154%2C0.2646154%200.307692%2C0.592%200.307692%2C0.9230769%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
}

.icon-shrink {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%209.2307692%2C0.92307692%20V%205.8461538%20c%200%2C1.867077%20-1.5175384%2C3.3846154%20-3.3846154%2C3.3846154%20H%200.92307692%20C%200.41353846%2C9.2307692%200%2C8.8172308%200%2C8.3076923%200%2C7.7981538%200.41353846%2C7.3846154%200.92307692%2C7.3846154%20H%205.8461538%20c%200.848%2C0%201.5384616%2C-0.6904616%201.5384616%2C-1.5384616%20V%200.92307692%20C%207.3846154%2C0.41353846%207.7981538%2C0%208.3076923%2C0%208.8172308%2C0%209.2307692%2C0.41353846%209.2307692%2C0.92307692%20Z%20M%2023.076923%2C14.769231%20h%20-4.923077%20c%20-1.867077%2C0%20-3.384615%2C1.517538%20-3.384615%2C3.384615%20v%204.923077%20c%200%2C0.509539%200.413538%2C0.923077%200.923077%2C0.923077%200.509538%2C0%200.923077%2C-0.413538%200.923077%2C-0.923077%20v%20-4.923077%20c%200%2C-0.848%200.690461%2C-1.538461%201.538461%2C-1.538461%20h%204.923077%20C%2023.586462%2C16.615385%2024%2C16.201846%2024%2C15.692308%2024%2C15.182769%2023.586462%2C14.769231%2023.076923%2C14.769231%20Z%20M%2018.153846%2C9.2307692%20h%204.923077%20C%2023.586462%2C9.2307692%2024%2C8.8172308%2024%2C8.3076923%2024%2C7.7981538%2023.586462%2C7.3846154%2023.076923%2C7.3846154%20h%20-4.923077%20c%20-0.848%2C0%20-1.538461%2C-0.6904616%20-1.538461%2C-1.5384616%20V%200.92307692%20C%2016.615385%2C0.41353846%2016.201846%2C0%2015.692308%2C0%2015.182769%2C0%2014.769231%2C0.41353846%2014.769231%2C0.92307692%20V%205.8461538%20c%200%2C1.867077%201.517538%2C3.3846154%203.384615%2C3.3846154%20z%20M%205.8461538%2C14.769231%20H%200.92307692%20C%200.41353846%2C14.769231%200%2C15.182769%200%2C15.692308%20c%200%2C0.509538%200.41353846%2C0.923077%200.92307692%2C0.923077%20H%205.8461538%20c%200.848%2C0%201.5384616%2C0.690461%201.5384616%2C1.538461%20v%204.923077%20C%207.3846154%2C23.586462%207.7981538%2C24%208.3076923%2C24%208.8172308%2C24%209.2307692%2C23.586462%209.2307692%2C23.076923%20v%20-4.923077%20c%200%2C-1.867077%20-1.5175384%2C-3.384615%20-3.3846154%2C-3.384615%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22M%209.2307692%2C0.92307692%20V%205.8461538%20c%200%2C1.867077%20-1.5175384%2C3.3846154%20-3.3846154%2C3.3846154%20H%200.92307692%20C%200.41353846%2C9.2307692%200%2C8.8172308%200%2C8.3076923%200%2C7.7981538%200.41353846%2C7.3846154%200.92307692%2C7.3846154%20H%205.8461538%20c%200.848%2C0%201.5384616%2C-0.6904616%201.5384616%2C-1.5384616%20V%200.92307692%20C%207.3846154%2C0.41353846%207.7981538%2C0%208.3076923%2C0%208.8172308%2C0%209.2307692%2C0.41353846%209.2307692%2C0.92307692%20Z%20M%2023.076923%2C14.769231%20h%20-4.923077%20c%20-1.867077%2C0%20-3.384615%2C1.517538%20-3.384615%2C3.384615%20v%204.923077%20c%200%2C0.509539%200.413538%2C0.923077%200.923077%2C0.923077%200.509538%2C0%200.923077%2C-0.413538%200.923077%2C-0.923077%20v%20-4.923077%20c%200%2C-0.848%200.690461%2C-1.538461%201.538461%2C-1.538461%20h%204.923077%20C%2023.586462%2C16.615385%2024%2C16.201846%2024%2C15.692308%2024%2C15.182769%2023.586462%2C14.769231%2023.076923%2C14.769231%20Z%20M%2018.153846%2C9.2307692%20h%204.923077%20C%2023.586462%2C9.2307692%2024%2C8.8172308%2024%2C8.3076923%2024%2C7.7981538%2023.586462%2C7.3846154%2023.076923%2C7.3846154%20h%20-4.923077%20c%20-0.848%2C0%20-1.538461%2C-0.6904616%20-1.538461%2C-1.5384616%20V%200.92307692%20C%2016.615385%2C0.41353846%2016.201846%2C0%2015.692308%2C0%2015.182769%2C0%2014.769231%2C0.41353846%2014.769231%2C0.92307692%20V%205.8461538%20c%200%2C1.867077%201.517538%2C3.3846154%203.384615%2C3.3846154%20z%20M%205.8461538%2C14.769231%20H%200.92307692%20C%200.41353846%2C14.769231%200%2C15.182769%200%2C15.692308%20c%200%2C0.509538%200.41353846%2C0.923077%200.92307692%2C0.923077%20H%205.8461538%20c%200.848%2C0%201.5384616%2C0.690461%201.5384616%2C1.538461%20v%204.923077%20C%207.3846154%2C23.586462%207.7981538%2C24%208.3076923%2C24%208.8172308%2C24%209.2307692%2C23.586462%209.2307692%2C23.076923%20v%20-4.923077%20c%200%2C-1.867077%20-1.5175384%2C-3.384615%20-3.3846154%2C-3.384615%20z%22%20style%3D%22stroke-width%3A1.23077%22%20/%3E%0A%3C/svg%3E");
}

.icon-upload {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%207.1588571%2C7.2411429%20c%20-0.4018285%2C-0.4018286%20-0.4018285%2C-1.0532572%200%2C-1.4550858%20L%2011.273143%2C1.6717714%20c%200.401828%2C-0.4018285%201.053257%2C-0.4018285%201.455086%2C0%20l%204.114285%2C4.1142857%20c%200.401829%2C0.4018286%200.401829%2C1.0532572%200%2C1.4550858%20-0.200228%2C0.2002285%20-0.463543%2C0.3017142%20-0.726857%2C0.3017142%20-0.263314%2C0%20-0.526628%2C-0.1001142%20-0.726857%2C-0.3017142%20L%2013.029943%2C4.8822857%20V%2016.112914%20c%200%2C0.567772%20-0.4608%2C1.028572%20-1.028572%2C1.028572%20-0.567771%2C0%20-1.028571%2C-0.4608%20-1.028571%2C-1.028572%20V%204.8836571%20L%208.6139429%2C7.2425143%20c%20-0.4018286%2C0.4018286%20-1.0532572%2C0.4018286%20-1.4550858%2C0%20z%20M%2022.971429%2C15.085714%20c%20-0.567772%2C0%20-1.028572%2C0.4608%20-1.028572%2C1.028572%20v%204.114285%20c%200%2C0.944915%20-0.769371%2C1.714286%20-1.714286%2C1.714286%20H%203.7714286%20c%20-0.9449143%2C0%20-1.7142857%2C-0.769371%20-1.7142857%2C-1.714286%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.0285715%2C-1.028572%20C%200.4608%2C15.085714%200%2C15.546514%200%2C16.114286%20v%204.114285%20C%200%2C22.309029%201.6909714%2C24%203.7714286%2C24%20H%2020.228571%20C%2022.309029%2C24%2024%2C22.309029%2024%2C20.228571%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.028571%2C-1.028572%20z%22%20style%3D%22stroke-width%3A1.37143%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2024%2024%27%20fill%3D%27white%27%3E%3Cpath%20d%3D%22m%207.1588571%2C7.2411429%20c%20-0.4018285%2C-0.4018286%20-0.4018285%2C-1.0532572%200%2C-1.4550858%20L%2011.273143%2C1.6717714%20c%200.401828%2C-0.4018285%201.053257%2C-0.4018285%201.455086%2C0%20l%204.114285%2C4.1142857%20c%200.401829%2C0.4018286%200.401829%2C1.0532572%200%2C1.4550858%20-0.200228%2C0.2002285%20-0.463543%2C0.3017142%20-0.726857%2C0.3017142%20-0.263314%2C0%20-0.526628%2C-0.1001142%20-0.726857%2C-0.3017142%20L%2013.029943%2C4.8822857%20V%2016.112914%20c%200%2C0.567772%20-0.4608%2C1.028572%20-1.028572%2C1.028572%20-0.567771%2C0%20-1.028571%2C-0.4608%20-1.028571%2C-1.028572%20V%204.8836571%20L%208.6139429%2C7.2425143%20c%20-0.4018286%2C0.4018286%20-1.0532572%2C0.4018286%20-1.4550858%2C0%20z%20M%2022.971429%2C15.085714%20c%20-0.567772%2C0%20-1.028572%2C0.4608%20-1.028572%2C1.028572%20v%204.114285%20c%200%2C0.944915%20-0.769371%2C1.714286%20-1.714286%2C1.714286%20H%203.7714286%20c%20-0.9449143%2C0%20-1.7142857%2C-0.769371%20-1.7142857%2C-1.714286%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.0285715%2C-1.028572%20C%200.4608%2C15.085714%200%2C15.546514%200%2C16.114286%20v%204.114285%20C%200%2C22.309029%201.6909714%2C24%203.7714286%2C24%20H%2020.228571%20C%2022.309029%2C24%2024%2C22.309029%2024%2C20.228571%20v%20-4.114285%20c%200%2C-0.567772%20-0.4608%2C-1.028572%20-1.028571%2C-1.028572%20z%22%20style%3D%22stroke-width%3A1.37143%22%20/%3E%0A%3C/svg%3E");
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 .6em 0;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: .9rem;
}

.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
    color: white;
    font-weight: bold;
}

.markdown h2 {
    font-size: 20pt;
}

.markdown h3 {
    font-size: 14pt;
}

.markdown h4 {
    font-size: 12pt;
}

p,
ul,
ol {
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 24px;
}

table:not(.sheet-table) {
    font-size: 15px;
    line-height: 24px;
}

table:not(.sheet-table),
pre {
    overflow-x: auto;
}

.table-wrapper {
    overflow-x: auto;
    margin-bottom: 24px;
}

.blackblock {
    background: #101010;
    padding: .4rem .8rem;
}

.navbar {
    margin: .8rem 0;
    padding: .4rem;
    justify-content: flex-start;
    border-radius: .4rem;
}

.navbar .btn {
    border-radius: .4rem;
}

.markdown {
    background: #101010;
}

.markdown-inline p,
.markdown-inline ul,
.markdown-inline table {
    margin-bottom: 0;
}

.markdown img {
    max-width: 100%;
}

.side-menu-filler {
    height: 12.8em;
}

.side-menu {
    position: sticky;
    top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 840px) {
    .side-menu {
        position: relative;
        top: 0;
        left: 0;
        flex-direction: row;
    }
    .side-menu-xl {
        flex-direction: column;
    }
    .markdown a {
        word-break: break-all;
    }
    .markdown table a {
        word-break: keep-all;
    }
}

.code code {
    background: #2b2b2b;
}

code {
    word-break: break-all;
}

#input-content {
    min-height: 50vh;
    font-family: "Fira Code", monospace;
}

.show-on-parent-hover {
    display: none;
}

*:hover>.show-on-parent-hover {
    display: unset;
}

.hint {
    opacity: 80%;
    font-size: 80%;
    line-height: 80%;
}

.right-column-panel {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 24em;
    margin: 0;
}

.search-create-bar {
    display: flex;
    flex-direction: row;
    margin: .8rem 0;
    width: 100%;
}

.search-create-bar div {
    width: 100%;
}

.search-create-bar input {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-create-bar .btn {
    border-radius: .4rem;
}

.search-create-bar .input-group-btn {
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-create-bar a {
    margin-left: .2rem;
}

.autocomplete-items>a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-left: 0;
}

.autocomplete-items {
    position: absolute;
    left: 0;
    z-index: 3;
}

.autocomplete-item {
    border: 1px solid var(--color-secondary-8);
    padding: .25rem .4rem;
    background: var(--color-primary-0);
}

.autocomplete-item:hover {
    cursor: pointer;
    background: black;
}

.btn-inline {
    margin: 0 .4rem 0 0;
    opacity: .6;
}

.btn-inline:hover {
    opacity: 1;
}

.btn-inline i {
    vertical-align: 0;
}

tr a i.icon {
    vertical-align: 0;
}

.category-chip {
    cursor: pointer;
    user-select: none;
}

body.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.fullscreen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-bottom: 1em;
    flex-grow: 0;
}

.sheets-table ul {
    margin: 0 0 0 .8rem;
}

.sheets-table li {
    margin: 0;
}

.toc {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: right;
}