@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-sans.min.css");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/fira-code.min.css");

/***** HTML ELEMENTS **********************************************************/

* {
    font-family: "Fira Sans", sans-serif;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background: #293c4a;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
}

code,
code * {
    font-family: "Fira Code", monospace;
}

a {
    color: #8ed2ff;
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 12pt;
    color: #f0f0f0;
    border: 1px solid black;
    padding: .4rem;
    border-radius: .4rem;
    background-color: #101010;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid #8ed2ff;
}

input[type=checkbox] {
    accent-color: #8ed2ff;
}

button {
    font-family: inherit;
    font-size: 12pt;
    color: #f0f0f0;
    border: 1px solid black;
    padding: .4rem;
    border-radius: .4rem;
    background-color: #101010;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover {
    background-color: #1b2931;
}

button:active,
button:focus {
    outline: 1px solid #8ed2ff;
}

/***** UTILITY CLASSES ********************************************************/

.hidden {
    display: none;
}

.link-hidden {
    color: inherit;
    text-decoration: none;
}

.link-tenuous {
    text-decoration: none;
}

.link-tenuous:hover,
.link-hidden:hover {
    text-decoration: underline;
}

.show-on-parent-hover {
    display: none;
}

*:hover>.show-on-parent-hover {
    display: unset;
    height: 0;
}

*:hover>i.show-on-parent-hover {
    height: fit-content;
}

.button-block {
    display: block;
    margin: .4rem 0;
}

.button-inline {
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    color: #6b9fc2;
    transition: .2s ease-in-out;
}

.button-inline:active,
.button-inline:focus,
.button-inline:hover {
    color: #8ed2ff;
}

/***** GENERAL COMPONENTS *****************************************************/

/**
 * Button
 */

.button {
    font-family: inherit;
    font-size: 12pt;
    color: #f0f0f0;
    border: 1px solid black;
    padding: .4rem;
    border-radius: .4rem;
    background-color: #101010;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.button:hover {
    background-color: #1b2931;
}

.button:active,
.button:focus {
    outline: 1px solid #8ed2ff;
}

/**
 * Modal
 */

.modal {
    display: none;
}

.modal.active {
    display: unset;
}

/**
 * Pagination
 */

.pagination {
    background: #101010;
    border-radius: .4rem;
    padding: .4rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    margin: .8rem 0;
}

.page-item a {
    text-decoration: none;
    color: inherit;
    padding: .4rem;
    border-radius: .4rem;
}

.page-item.disabled a {
    color: #888;
    cursor: default;
    pointer-events: none;
    user-select: none;
}

.page-item.active a {
    background: #8ed2ff;
    color: black;
}

/**
 * Action buttons
 */

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
}

.action-button {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: 12pt;
    color: #f0f0f0;
    border: 1px solid black;
    padding: .4rem;
    border-radius: .4rem;
    background-color: #101010;
    cursor: pointer;
    transition: .2s ease-in-out;
    width: 34.4px;
    height: 34.4px;
    text-align: center;
}

.action-button:hover {
    background-color: #1b2931;
}

/**
 * Menu
 */

.menu {
    background: black;
    border-radius: .1rem;
    box-shadow: 0 .05rem .2rem rgba(48, 53, 66, 0.3);
    list-style: none;
    margin: 0;
    min-width: 180px;
    padding: .4rem;
    border: 1px solid #8ed2ff;
}

.menu .menu-item {
    margin-top: 0;
    padding: 0 .4rem;
    position: relative;
    text-decoration: none;
}

.menu .menu-item>a {
    border-radius: .1rem;
    color: inherit;
    display: block;
    margin: 0 -.4rem;
    padding: .2rem .4rem;
    text-decoration: none;
    cursor: pointer;
}


.menu .menu-item>a:active,
.menu .menu-item>a.active,
.menu .menu-item>a:focus,
.menu .menu-item>a:hover {
    background: #8ed2ff;
    color: black;
}

.menu .menu-item+.menu-item {
    margin-top: .2rem;
}


/**
 * Dropdown
 */

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown .menu {
    animation: slide-down .2s ease-in-out 1;
    display: none;
    left: 0;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    z-index: 2;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-1.6rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown.active .menu,
.dropdown .dropdown-toggle:focus+.menu,
.dropdown .menu:hover {
    display: block;
}

/**
 * Card
 */

.card {
    margin: .8rem 0;
    padding: .8rem;
    border: 1px solid black;
    background-color: #101010;
    border-radius: .4rem;
}

.card>*:first-child {
    margin-top: 0;
}

.card>*:last-child {
    margin-bottom: 0;
}

.card-oneline {
    padding: 0;
}

header.card h1 {
    margin-bottom: .4rem;
}

.card-subtitle {
    display: block;
    font-size: small;
    font-weight: bold;
    margin-top: .4rem;
}

.card>*:first-child>*:first-child {
    margin-top: 0;
}

.card-commands {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;
    flex-wrap: wrap;
    margin-top: .4rem;
    font-size: small;
    line-height: 1;
}

.card-commands span,
.card-commands button,
.card-commands a.button {
    background: #303030;
    font-size: small;
    padding: .2rem;
    border-radius: .2rem;
    border: 1px solid #555;
    line-height: inherit;
}

.card-commands button:hover,
.card-commands a.button:hover {
    background: #1b2931;
}

.card-slim {
    padding: 0;
    background: none;
    border: none;
}

.card-slim .card-commands span,
.card-slim .card-commands button,
.card-slim .card-commands a.button {
    background: #101010;
    border-color: black;
}

/**
 * Oneline
 */

.oneline {
    display: flex;
    width: 100%;
    /*margin: .4rem 0;*/
    padding: .4rem;
    height: fit-content;
}

.card-oneline .oneline:first-child {
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.card-oneline .oneline:last-child {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.oneline>*+* {
    margin-left: .4rem;
}

.oneline-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.oneline>*:not(.oneline-truncate) {
    flex-shrink: 0;
}

.oneline-striped {
    position: relative;
    /*padding: .2rem 0;*/
}

.oneline-striped:nth-child(even) {
    background: #303030;
}

.oneline:hover {
    background: #304350;
}

/**
 * Toggle switch
 */

.toggle {
    display: flex;
    align-items: center;
    margin: .4rem 0;
    width: fit-content;
}

.toggle input {
    position: absolute;
    visibility: hidden;
}

.toggle-slider {
    position: relative;
    cursor: pointer;
    width: 2.4rem;
    height: 1.6rem;
    background-color: #101010;
    transition: .2s ease-in-out;
    border-radius: .8rem;
    margin-right: .4rem;
    outline: 1px solid black;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: .2rem;
    bottom: .2rem;
    background-color: #f0f0f0;
    transition: .2s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 0 2px black;
}

.toggle-text {
    color: #888;
    transition: .2s ease-in-out;
}

input:checked+.toggle-slider {
    background-color: #8ed2ff;
}

input:focus+.toggle-slider {
    box-shadow: 0 0 1px #8ed2ff;
}

input:checked+.toggle-slider:before {
    transform: translateX(.8rem);
}

input:checked+.toggle-slider+.toggle-text {
    color: inherit;
}

/**
 * Searchbar
 */

.searchbar {
    display: flex;
    margin: .8rem 0;
    width: 100%;
}

.searchbar-container {
    position: relative;
    width: 100%;
}

.searchbar-input {
    border-radius: .4rem 0 0 .4rem;
    border-color: black;
}

.searchbar-icon {
    position: absolute;
    top: 50%;
    right: .4rem;
    transform: translateY(-50%);
    font-style: normal;
    visibility: hidden;
    cursor: pointer;
}

.searchbar-container:hover .searchbar-icon,
.searchbar-input:focus+.searchbar-icon {
    visibility: visible;
}

.searchbar-search {
    border-radius: 0 .4rem .4rem 0;
}

.searchbar-create {
    margin-left: .4rem;
    white-space: nowrap;
}

.searchbar-suggestions {
    position: absolute;
    left: 0;
    top: 1.9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchbar-suggestion {
    background: #303030;
    z-index: 1;
    text-decoration: none;
    color: inherit;
    padding: .4rem;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.searchbar-suggestion:hover {
    background: #555;
}

.searchbar-suggestion:last-child {
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border-bottom: 1px solid black;
}

/***** SPECIFIC COMPONENTS ****************************************************/

/**
 * Main Layout Columns
 */

#columns {
    display: flex;
    flex-wrap: wrap;
}

#column-left {
    flex-grow: 1;
    flex-basis: 0;
}

@media (max-width: 1000px) {
    #column-left {
        flex-grow: 0;
    }
}

#column-main {
    flex-basis: 600px;
    padding: 0 .8rem;
    width: 0;
}

#column-right {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    padding-top: calc(42.2px + 1.6rem);
}

#column-right .button-block:first-child {
    margin-top: 0;
}

#column-right-sticky {
    position: sticky;
    top: .8rem;
    left: 0;
    margin-right: .8rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: .4rem;
}

#column-right-sticky>* {
    margin: 0;
}

/** 
 * Navbar
 */

#navbar {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    background: #07141d;
    margin: .8rem 0;
    padding: .4rem;
    justify-content: flex-start;
    border-radius: .4rem;
    border: 1px solid black;
}

.navbar-link {
    text-decoration: none;
    border-radius: .4rem;
    padding: .2rem .4rem;
    color: inherit;
    transition: .2s ease-in-out;
    border: 1px solid #07141d;
}

.navbar-link.active {
    border-color: #8ed2ff;
    color: #8ed2ff;
}

.navbar-link:hover {
    color: #8ed2ff;
}

/**
 * Markdown
 */

.card.markdown {
    padding-bottom: 1.6rem;
}

.markdown p {
    line-height: 1.6;
    font-size: 15px;
}

.markdown ul,
.markdown ol {
    line-height: 1.6;
    font-size: 15px;
    padding-left: 1.6rem;
}

.markdown table,
.markdown pre {
    overflow-x: auto;
}

.markdown code {
    font-size: 15px;
    border-radius: .4rem;
}

.markdown table {
    background: #303030;
    border-collapse: separate;
    border: 1px solid #888;
    border-radius: .4rem;
    border-spacing: 0;
}

.markdown th,
.markdown td {
    padding: .2rem .4rem;
    border-bottom: 1px solid black;
    font-size: 15px;
}

.markdown tr:last-child td {
    border-bottom: none;
}

.markdown thead tr {
    background: #282828;
}

.markdown tbody tr:nth-child(odd) {
    background: #404040;
}

.markdown tbody tr:hover {
    background: #304350;
}

.markdown img,
.markdown video {
    max-width: 100%;
    border-radius: .4rem;
}

.markdown .task-list-item input {
    width: auto;
}

/******************************************************************************
/* OLD STUFF                                                                  *
/******************************************************************************/

body.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.fullscreen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-bottom: 1em;
    flex-grow: 0;
}

.sheets-table ul {
    margin: 0 0 0 .8rem;
}

.sheets-table li {
    margin: 0;
}

.modal-footer-buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .2rem;
}