
.icon-clock {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2090%2090%27%20fill%3D%27white%27%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2045%2C0%20C%2020.186815%2C0%200%2C20.187384%200%2C45%200%2C69.812615%2020.186815%2C90%2045%2C90%2069.813185%2C90%2090%2C69.812615%2090%2C45%2090%2C20.187385%2069.813185%2C0%2045%2C0%20Z%20m%200%2C80.665215%20C%2025.333937%2C80.665215%209.334785%2C64.665493%209.334785%2C45%209.334785%2C25.334507%2025.333937%2C9.334785%2045%2C9.334785%2064.666063%2C9.334785%2080.665215%2C25.334507%2080.665215%2C45%2080.665215%2C64.665493%2064.666063%2C80.665215%2045%2C80.665215%20Z%22%20/%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2049.667393%2C43.087919%20V%2017.959662%20c%200%2C-2.57755%20-2.089844%2C-4.667393%20-4.667393%2C-4.667393%20-2.577549%2C0%20-4.667393%2C2.089843%20-4.667393%2C4.667393%20V%2045%20c%200%2C1.224963%200.482009%2C2.402066%201.341762%2C3.274923%20l%2014.585602%2C14.813502%20c%200.913309%2C0.927553%202.1189%2C1.392469%203.325631%2C1.392469%201.182231%2C0%202.365602%2C-0.446684%203.274923%2C-1.341191%201.836305%2C-1.808387%201.859664%2C-4.76425%200.05071%2C-6.601125%20z%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2090%2090%27%20fill%3D%27white%27%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2045%2C0%20C%2020.186815%2C0%200%2C20.187384%200%2C45%200%2C69.812615%2020.186815%2C90%2045%2C90%2069.813185%2C90%2090%2C69.812615%2090%2C45%2090%2C20.187385%2069.813185%2C0%2045%2C0%20Z%20m%200%2C80.665215%20C%2025.333937%2C80.665215%209.334785%2C64.665493%209.334785%2C45%209.334785%2C25.334507%2025.333937%2C9.334785%2045%2C9.334785%2064.666063%2C9.334785%2080.665215%2C25.334507%2080.665215%2C45%2080.665215%2C64.665493%2064.666063%2C80.665215%2045%2C80.665215%20Z%22%20/%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2049.667393%2C43.087919%20V%2017.959662%20c%200%2C-2.57755%20-2.089844%2C-4.667393%20-4.667393%2C-4.667393%20-2.577549%2C0%20-4.667393%2C2.089843%20-4.667393%2C4.667393%20V%2045%20c%200%2C1.224963%200.482009%2C2.402066%201.341762%2C3.274923%20l%2014.585602%2C14.813502%20c%200.913309%2C0.927553%202.1189%2C1.392469%203.325631%2C1.392469%201.182231%2C0%202.365602%2C-0.446684%203.274923%2C-1.341191%201.836305%2C-1.808387%201.859664%2C-4.76425%200.05071%2C-6.601125%20z%22%20/%3E%0A%3C/svg%3E");
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    position: relative;
    box-sizing: border-box;
    background: #101010;
    border-radius: .4rem;
    padding: .4rem;
    margin-bottom: .4rem;
    width: 100%;
    border: 1px solid #080808;
}

.project.openable {
    cursor: pointer;
}

.project-title {
    color: white;
    line-height: 1;
}

.project-corner {
    display: flex;
    flex-direction: row;
    font-size: 75%;
    text-transform: lowercase;
    position: absolute;
    top: .2rem;
    right: .4rem;
    opacity: .8;
}

.project-category {
    margin-right: .2rem;
}

.project-category::after {
    margin-left: .2rem;
    content: "·";
}

.project-summary {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-summary > * {
    margin-right: .4rem;
}

.project-summary > *:last-child {
    margin-right: 0;
}

.project-limitdate,
.project-checklist-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    padding: .1rem 0;
    border-radius: .2rem;
}

.project-limitdate .icon,
.project-checklist-summary .icon {
    margin-right: .2rem;
}

.project-limitdate-soon,
.project-limitdate-overdue,
.project-checklist-summary-done {
    padding: .1rem .2rem;
}

.project-limitdate-soon {
    color: black;
    background: var(--color-warning-1);
}

.project-limitdate-overdue {
    color: black;
    background: var(--color-error-5);
}

.project-checklist-summary-done {
    color: black;
    background: var(--color-success-5);
}

.project-progress {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
    border: none;
    height: .2rem;
}

.project.has_progress {
    padding-bottom: .6rem;
}

.project-progress::-moz-progress-bar,
.project-progress::-webkit-progress-value {
    background: var(--color-secondary-3);
}

.project-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 0;
    overflow-y: hidden;
    transition: .2s ease;
}

.project-details >* {
    margin-top: .4rem;
}

.project-description p,
.project-description table,
.project-description ul,
.project-description ol {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: unset;
}

.project-description>*:last-child {
    margin-bottom: 0;
}

.project-checklist-item input {
    margin-right: .2rem;
}

.project-checklist-item.checked label {
    text-decoration: line-through;
    opacity: .5;
}