/**
 * Projects
 */

.projects {
    display: flex;
    flex-direction: column;
}

.projects + .card {
    margin-top: .4rem;
}

.projects-withtitle:has(div)::before {
    content: "Projects";
    font-weight: bold;
    font-size: larger;
    display: block;
    margin-bottom: .8rem;
}

.project {
    position: relative;
    box-sizing: border-box;
    background: #101010;
    margin-bottom: .4rem;
    width: 100%;
    border: 1px solid black;
    border-radius: .4rem;
}

.project.inactive {
    background-color: #222222;
    border-color: #222;
    color: #888;
}

.project.inactive .project-body {
    background-color: #2f2f2f;
}

.project.archived {
    background-color: hsl(255, 52%, 9%);
    border-color: #000000;
}

.project.archived .project-body {
    background-color: hsl(255, 35%, 18%);
}

.project-header {
    padding: .8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1ch;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.project-note,
.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-note {
    color: white;
    cursor: pointer;
}

.project-note + .project-title {
    color: #888;
}

.project-status {
    width: 1.8rem;
    overflow: hidden;
    text-overflow: "";
}

.project-badge {
    font-size: small;
    padding: .1rem .2rem;
    border-radius: .2rem;
    background: #303030;
    cursor: pointer;
}

.project-badge.done {
    color: black;
    background-color: #30b041;
}

.project-badge.empty {
    color: #808080;
}

.project-body {
    padding: 0 .8rem;
    overflow-y: hidden;
    transition: .2s ease;
    background: #303030;
    border-radius: .4rem;
    min-height: 0;
}

.project-checklist {
    line-height: 1.6;
    margin: .8rem 0;
}

.project-checklist-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.project-checklist-item input[type="checkbox"] {
    width: fit-content;
    margin-right: .2rem;
}

.project-checklist-item-checked label {
    text-decoration: line-through;
    opacity: .5;
}

.project-title-input,
.project-checklist-item-input {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    color: inherit;
    border-radius: 0;
}

.project-title-input {
    flex-shrink: 1;
    width: unset;
    flex-grow: 1;
}

.project-note + .project-title-input {
    color: #888;
}

.project-checklist-item-input {
    font-family: "Fira Code", monospace;
}

.project-title-input:focus,
.project-checklist-item-input:focus {
    outline: none;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    margin-top: .2rem;
}

.project-button {
    font-size: small;
    background: #404040;
    color: inherit;
    border: 1px solid #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: .2rem;
    border-radius: .2rem;
    transition: none;
    cursor: pointer;
    margin-top: .2rem;
}

.project-button:hover {
    background: #22272b;
}

.glimpse {
    min-height: .8rem;
}

/* TODO: Generalize with smde dropdown */

.project-note-input {
    position: relative;
   
}

.project-note-input input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project-note-results {
    position: absolute;
    padding: .4rem;
    background: #404040;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    width: 100%;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.project-note-results > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    transition: none !important;
    padding: .2rem .2rem;
}

.project-note-results > div.active,
.project-note-results > div:hover {
    background: #00000040;
    border-radius: .2rem;
}

details:has(#noteProjects):not(:has(div.project)) {
    display: none;
}