/**
 * Projects
 */

.projects {
    display: flex;
    flex-direction: column;
}

.project {
    position: relative;
    box-sizing: border-box;
    background: #101010;
    margin-bottom: .4rem;
    width: 100%;
    border: 1px solid black;
    border-radius: .4rem;
    overflow: hidden;
}

.project.archived {
    background: #10101080;
    border-color: #00000080;
}

.project-header {
    padding: .8rem;
}

.project-title {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.note-link {
    margin-left: .4rem;
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #303030;
    border-radius: .4rem;
    padding: .2rem .4rem;
    font-size: small;
    text-decoration: none;
}

.note-link:hover {
    background: #1b2931;
}

.project-corner {
    display: flex;
    flex-direction: row;
    font-size: 75%;
    text-transform: lowercase;
    position: absolute;
    top: .2rem;
    right: .4rem;
}

.project-category,
.project-category-input {
    margin-right: .2rem;
}

.project-summary {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: .6rem;
}

.project-limitdate,
.project-checklist-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    padding: .1rem 0;
    border-radius: .2rem;
}

.project-checklist-summary i.ri-close-line {
    cursor: pointer;
}

.project-limitdate-soon,
.project-limitdate-overdue,
.project-checklist-summary-done {
    padding: .1rem .2rem;
}

.project-limitdate-soon {
    color: black;
    background: #ffb700;
}

.project-limitdate-overdue {
    color: black;
    background: #e65400;
}

.project-checklist-summary-done {
    color: black;
    background: #30b041;
}

.project-progress-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #202020;
    height: .8rem;
    overflow: hidden;
    width: 100%;
}

.project-progress {
    width: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
    border: none;
    height: inherit;
}

.project-progress-sub,
.project-progress-add {
    position: absolute;
    top: 0;
    font-size: small;
    background: #202020;
    padding: 0 .4rem;
    height: inherit;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: .1s ease;
    line-height: .8rem;
}

.project-progress-wrapper:hover .project-progress-sub,
.project-progress-wrapper:hover .project-progress-add {
    opacity: 1;
}

.project-progress-sub {
    left: 0;
}

.project-progress-add {
    right: 0;
}

.project.has_progress {
    padding-bottom: .8rem;
}

.project-progress::-moz-progress-bar,
.project-progress::-webkit-progress-value {
    background: #8ed2ff;
}

.project-body {
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: hidden;
    transition: .2s ease;
    background: #303030;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
    min-height: 0;
}

.project-body>*:first-child {
    margin-top: .8rem;
}

.project-body>* {
    margin-bottom: .4rem;
}

.project-body>*:last-child {
    margin-bottom: .8rem;
}

.project-description>*:first-child,
.project-description>*:first-child>*:first-child {
    margin-top: 0;
}

.project-description>*:last-child {
    margin-bottom: 0;
}

.project-checklist {
    line-height: 1.6;
}

.project-checklist-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.project-checklist-item input[type="checkbox"] {
    width: fit-content;
    margin-right: .2rem;
}

.project-checklist-item-checked label {
    text-decoration: line-through;
    opacity: .5;
}

.project-title-input,
.project-category-input,
.project-status-select,
.project-limitdate-input,
.project-description-textarea,
.project-checklist-item-input {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.project-title-input {
    color: #f0f0f0;
    width: 100%;
}

.project-category-input {
    text-align: right;
}

.project-limitdate-input {
    width: fit-content;
    background: #303030;
}

.project-status-select {
    background: #22272b;
}

.project-description-textarea {
    min-height: 5em;
    resize: none;
}

.project-checklist-item-input {
    width: 100%;
}

.project-title-input:focus,
.project-category-input:focus,
.project-status-select:focus,
.project-limitdate-input:focus,
.project-description-textarea:focus,
.project-checklist-item-input:focus {
    outline: none;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    margin-top: .2rem;
}

.project-button {
    font-size: small;
    background: #404040;
    color: inherit;
    border: 1px solid #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: .2rem;
    border-radius: .2rem;
    transition: .2s ease;
    cursor: pointer;
    margin-top: .2rem;
}

.project-button:hover {
    background: #22272b;
}

.contextmenu {
    background: #101010;
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid #8ed2ff;
    border-radius: .2rem;
    overflow: hidden;
}

.contextmenu-entry {
    padding: .4rem;
    cursor: pointer;
    border-bottom: 1px solid #375264;
}

.contextmenu-entry:hover {
    background: #8ed2ff;
    color: black;
}

.contextmenu-entry:last-child {
    border-bottom: none;
}

.glimpse {
    min-height: .8rem;
}

#projects-footer {
    margin-top: 0;
}

/**
 * Events
 */

#events {
    line-height: 1.6;
}

#events+.card-commands button {
    font-size: small;
    padding: .2rem;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-title {
    margin-left: .2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event-over {
    opacity: 0.5;
}

.event-dot-wrapper {
    margin-right: .2rem;
}

.event-dot {
    display: inline-block;
    margin-top: .1rem;
    width: 8px;
    height: 8px;
    background: #8ed2ff;
    border-radius: 50%;
    cursor: pointer;
}

/**
 * Tasks
 */

#tasks {
    line-height: 1.6;
}

#tasks+.card-commands button {
    font-size: small;
    padding: .2rem;
}

.task-overdue {
    color: #e65400;
}

.task-button-complete {
    margin-right: .3rem;
    height: 19px;
    width: 19px;
    border-radius: .2rem;
    background: #303030;
    padding: 0;
}

.task-button-complete i {
    visibility: hidden;
}

.task-button-complete:hover i {
    visibility: visible;
}