
.icon-clock {
    background-color: currentColor;
    mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2090%2090%27%20fill%3D%27white%27%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2045%2C0%20C%2020.186815%2C0%200%2C20.187384%200%2C45%200%2C69.812615%2020.186815%2C90%2045%2C90%2069.813185%2C90%2090%2C69.812615%2090%2C45%2090%2C20.187385%2069.813185%2C0%2045%2C0%20Z%20m%200%2C80.665215%20C%2025.333937%2C80.665215%209.334785%2C64.665493%209.334785%2C45%209.334785%2C25.334507%2025.333937%2C9.334785%2045%2C9.334785%2064.666063%2C9.334785%2080.665215%2C25.334507%2080.665215%2C45%2080.665215%2C64.665493%2064.666063%2C80.665215%2045%2C80.665215%20Z%22%20/%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2049.667393%2C43.087919%20V%2017.959662%20c%200%2C-2.57755%20-2.089844%2C-4.667393%20-4.667393%2C-4.667393%20-2.577549%2C0%20-4.667393%2C2.089843%20-4.667393%2C4.667393%20V%2045%20c%200%2C1.224963%200.482009%2C2.402066%201.341762%2C3.274923%20l%2014.585602%2C14.813502%20c%200.913309%2C0.927553%202.1189%2C1.392469%203.325631%2C1.392469%201.182231%2C0%202.365602%2C-0.446684%203.274923%2C-1.341191%201.836305%2C-1.808387%201.859664%2C-4.76425%200.05071%2C-6.601125%20z%22%20/%3E%0A%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2090%2090%27%20fill%3D%27white%27%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2045%2C0%20C%2020.186815%2C0%200%2C20.187384%200%2C45%200%2C69.812615%2020.186815%2C90%2045%2C90%2069.813185%2C90%2090%2C69.812615%2090%2C45%2090%2C20.187385%2069.813185%2C0%2045%2C0%20Z%20m%200%2C80.665215%20C%2025.333937%2C80.665215%209.334785%2C64.665493%209.334785%2C45%209.334785%2C25.334507%2025.333937%2C9.334785%2045%2C9.334785%2064.666063%2C9.334785%2080.665215%2C25.334507%2080.665215%2C45%2080.665215%2C64.665493%2064.666063%2C80.665215%2045%2C80.665215%20Z%22%20/%3E%0A%20%20%3Cpath%20class%3D%22cls-1%22%20d%3D%22M%2049.667393%2C43.087919%20V%2017.959662%20c%200%2C-2.57755%20-2.089844%2C-4.667393%20-4.667393%2C-4.667393%20-2.577549%2C0%20-4.667393%2C2.089843%20-4.667393%2C4.667393%20V%2045%20c%200%2C1.224963%200.482009%2C2.402066%201.341762%2C3.274923%20l%2014.585602%2C14.813502%20c%200.913309%2C0.927553%202.1189%2C1.392469%203.325631%2C1.392469%201.182231%2C0%202.365602%2C-0.446684%203.274923%2C-1.341191%201.836305%2C-1.808387%201.859664%2C-4.76425%200.05071%2C-6.601125%20z%22%20/%3E%0A%3C/svg%3E");
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    position: relative;
    box-sizing: border-box;
    background: #0a1b29;
    margin-bottom: .4rem;
    width: 100%;
    border: 1px solid #080808;
    border-radius: .4rem;
    overflow: hidden;
}

.project-idea,
.project-paused {
    background: #262728;
}

.project-finished {
    background: #22272b;
}

.project-header {
    padding: .8rem;
}

.project-title {
    color: white;
}

.project-corner {
    display: flex;
    flex-direction: row;
    font-size: 75%;
    text-transform: lowercase;
    position: absolute;
    top: .2rem;
    right: .4rem;
}

.project-category,
.project-category-input {
    margin-right: .2rem;
}

.project-category::after,
.project-category-input::after {
    margin-left: .2rem;
    content: "·";
}

.project-summary {
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.project-summary > * {
    margin-right: .4rem;
}

.project-summary > *:last-child {
    margin-right: 0;
}

.project-limitdate,
.project-checklist-summary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    padding: .1rem 0;
    border-radius: .2rem;
}

.project-limitdate .icon,
.project-checklist-summary .icon {
    margin-right: .2rem;
}

.project-limitdate-soon,
.project-limitdate-overdue,
.project-checklist-summary-done {
    padding: .1rem .2rem;
}

.project-limitdate-soon {
    color: black;
    background: var(--color-warning-1);
}

.project-limitdate-overdue {
    color: black;
    background: var(--color-error-5);
}

.project-checklist-summary-done {
    color: black;
    background: var(--color-success-5);
}

.project-progress-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #080808;
    height: .8rem;
    overflow: hidden;
    width: 100%;
}

.project-progress {
    width: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    background: none;
    border: none;
    height: inherit;
}

.project-progress-sub,
.project-progress-add {
    position: absolute;
    top: 0;
    font-size: small;
    background: #131329;
    padding: 0 .4rem;
    height: inherit;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: .1s ease;
    line-height: .8rem;
}

.project-progress-wrapper:hover .project-progress-sub,
.project-progress-wrapper:hover .project-progress-add {
    opacity: 1;
}

.project-progress-sub {
    left: 0;
}

.project-progress-add {
    right: 0;
}

.project.has_progress {
    padding-bottom: .8rem;
}

.project-progress::-moz-progress-bar,
.project-progress::-webkit-progress-value {
    background: var(--color-secondary-3);
}

.project-body {
    padding: 0 .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: hidden;
    transition: .2s ease;
    background: #101010;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.project-body >*:first-child {
    margin-top: .8rem;
}

.project-body >* {
    margin-bottom: .4rem;
}

.project-body >*:last-child {
    margin-bottom: .8rem;
}

.project-description p,
.project-description table,
.project-description ul,
.project-description ol {
    margin-bottom: 8px;
    font-size: 15px;
    line-height: unset;
}

.project-description>*:last-child {
    margin-bottom: 0;
}

.project-checklist-item input {
    margin-right: .2rem;
}

.project-checklist-item-checked label {
    text-decoration: line-through;
    opacity: .5;
}

.project-description,
.project-checklist {
    width: fit-content;
}

.project-title-input,
.project-category-input,
.project-status-select,
.project-limitdate-input,
.project-checklist-item-input {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.project-title-input {
    color: white;
}

.project-category-input {
    text-align: right;
}

.project-status-select {
    background: #22272b;
}

.project-description-textarea {
    margin: .2rem;
    color: inherit;
    background: none;
    border: none;
    font-family: "Fira Code", monospace;
    min-height: 5em;
    resize: none;
}

.project-title-input:focus,
.project-category-input:focus,
.project-status-select:focus,
.project-limitdate-input:focus,
.project-description-textarea:focus,
.project-checklist-item-input:focus {
    outline: none;
}

.project-button {
    font-size: small;
    background: none;
    color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: .2rem;
    border-radius: .2rem;
    transition: .2s ease;
    cursor: pointer;
    margin-top: .2rem;
}

.project-button:hover {
    background: #22272b;
}

.project-button i {
    margin-right: .4rem;
}


.contextmenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: .4rem;
    overflow: hidden;
}

.contextmenu-entry {
    background: #0f1112;
    padding: .4rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.contextmenu-entry:hover {
    background: grey;
}

.contextmenu-entry:last-child {
    border-bottom: none;
}

#btn-project-create {
    border: 1px solid black;
    background: #101010;
    border-radius: .4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    color: white;
    padding: .8rem;
    cursor: pointer;
    transition: .2s ease;
}

#btn-project-create:hover {
    background: #272729;
}

#btn-project-create i {
    margin-right: .4rem;
}

.filters {
    user-select: none;
}