/**
 * Projects
 */

.projects {
    display: flex;
    flex-direction: column;
}

.projects + .card {
    margin-top: .4rem;
}

.projects-withtitle:has(div)::before {
    content: "Projects";
    font-weight: bold;
    font-size: larger;
    display: block;
    margin-bottom: .8rem;
}

.project {
    position: relative;
    box-sizing: border-box;
    background: #101010;
    margin-bottom: .4rem;
    width: 100%;
    border: 1px solid black;
    border-radius: .4rem;
}

.project.archived {
    background: #10101080;
    border-color: #00000080;
}

.project-header {
    padding: .8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 1ch;
    user-select: none;
    position: relative;
    overflow: hidden;
}

.project-note,
.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-note {
    flex-shrink: 0;
    color: white;
    cursor: pointer;
    flex-basis: 0;
    flex-grow: 1;
}

.project-note + .project-title {
    color: #888;
}

.project-badge {
    font-size: small;
    padding: .1rem .2rem;
    border-radius: .2rem;
    background: #303030;
    cursor: pointer;
}

.project-badge.done {
    color: black;
    background-color: #30b041;
}

.project-badge.empty {
    color: #808080;
}

.project-body {
    padding: 0 .8rem;
    overflow-y: hidden;
    transition: .2s ease;
    background: #303030;
    border-radius: .4rem;
    min-height: 0;
}

.project-checklist {
    line-height: 1.6;
    margin: .8rem 0;
}

.project-checklist-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

.project-checklist-item input[type="checkbox"] {
    width: fit-content;
    margin-right: .2rem;
}

.project-checklist-item-checked label {
    text-decoration: line-through;
    opacity: .5;
}

.project-title-input,
.project-checklist-item-input {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    color: inherit;
    border-radius: 0;
}

.project-note + .project-title-input {
    color: #888;
}

.project-checklist-item-input {
    font-family: "Fira Code", monospace;
}

.project-title-input:focus,
.project-checklist-item-input:focus {
    outline: none;
}

.project-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: .2rem;
    margin-top: .2rem;
}

.project-button {
    font-size: small;
    background: #404040;
    color: inherit;
    border: 1px solid #555;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: .2rem;
    border-radius: .2rem;
    transition: none;
    cursor: pointer;
    margin-top: .2rem;
}

.project-button:hover {
    background: #22272b;
}

.glimpse {
    min-height: .8rem;
}

/* TODO: Generalize with smde dropdown */

.project-note-input {
    position: relative;
   
}

.project-note-input input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.project-note-results {
    position: absolute;
    padding: .4rem;
    background: #404040;
    display: flex;
    flex-direction: column;
    gap: .1rem;
    width: 100%;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

.project-note-results > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
    transition: none !important;
    padding: .2rem .2rem;
}

.project-note-results > div.active,
.project-note-results > div:hover {
    background: #00000040;
    border-radius: .2rem;
}

/**
 * Events
 */

#events {
    line-height: 1.6;
}

.event {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.event-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event-time ~ .event-title {
    margin-left: .2rem;
}

.event-over {
    opacity: 0.5;
}

.event-dot-wrapper {
    margin-right: .2rem;
}

.event-dot {
    display: inline-block;
    margin-top: .1rem;
    width: 8px;
    height: 8px;
    background: #8ed2ff;
    border-radius: 50%;
    cursor: pointer;
}

/**
 * Tasks
 */

#tasks {
    line-height: 1.6;
}

#tasks > details:first-child > .card-subtitle {
    margin-top: 0;
}

.task-overdue {
    color: #e65400;
}

.task-button-complete {
    margin-right: .3rem;
    height: 19px;
    width: 19px;
    border-radius: .2rem;
    background: #303030;
    padding: 0;
}

.task-button-complete i {
    visibility: hidden;
}

.task-button-complete:hover i {
    visibility: visible;
}

/** OBJECTIVES ****************************************************************/

#objectives-card {
    border: none;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.objgraph-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background: #101010;
    border-radius: .4rem;
    padding: .4rem .4rem .8rem .4rem;
    border: 1px solid black;
}

.objgraph-head {
    margin-bottom: .4rem;
    user-select: none;
}

.objgraph-head {
    position: relative;
    height: 16px;
}

.objgraph-objective {
    display: flex;
    flex-direction: row;
}

.objgraph-head-day {
    position: absolute;
    box-sizing: border-box;
    width: 32px;
    height: 16px;
    font-size: small;
    line-height: 16px;
    text-align: center;
}

.objgraph-head-day::before {
    position: absolute;
    left: -1px;
    width: 2px;
    content: " ";
    height: 10px;
    top: 3px;
    background: #888;
    border-radius: .2rem;
} 

.objgraph-head-week::before {
    background: white;
    height: 16px;
    top: 0;
}

.objgraph-head-day:hover::after,
.objgraph-head-today::after {
    position: absolute;
    left: 0px;
    top: -.4rem;
    content: "";
    background: #c7c7c780;
    width: 32px;
    height: 500px;
}

.objgraph-head-today::after {
    background: #8ed2ff80;;
}

.objgraph-objective {
    position: relative;
    height: 32px;
}

.objgraph-slot {
    position: absolute;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.objgraph-slot-background {
    margin: 1px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: .2rem;
    overflow: hidden;
}

.objgraph-slot button {
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    padding: 0;
    background: #ccc;
    height: 100%;
    border-radius: .2rem;
}

.objgraph-slot button:hover {
    background: #fff;
}

.objgraph-slot button.early {
    background: #8CCD94;
}

.objgraph-slot button.early:hover {
    background: rgb(195, 255, 202);
}

.objgraph-slot button.late {
    background: #E69D73;
}

.objgraph-slot button.late:hover {
    background: #ffc8a8;
}

.objgraph-name {
    position: absolute;
    left: .4rem;
    line-height: 1.6;
    background: #000000;
    padding: 0 .4rem;
    border-radius: .4rem;
    cursor: default;
}

.objgraph-name.archived {
    background: #00000080;
    border-color: rgb(17, 17, 73);
}

.objgraph-completion {
    position: absolute;
    height: 100%;
    width: 4px;
    overflow: hidden;
    top: 0;
    padding-top: .2rem;
    padding-bottom: .2rem;
    cursor: help;
}

.objgraph-completion::after {
    display: block;
    content: " ";
    background: #389b45;
    border-radius: 2px;
    height: 100%;
    opacity: 0;
}

.objgraph:hover .objgraph-completion::after {
    opacity: 1;
}

.bg-error {
    background: #ff6e1a;
}

.bg-success {
    background: #4bce5c;
}

.bg-cooldown {
    background: #aaa;
}

.bg-future {
    background: #303030;
}

.bg-future-complete {
    background: #2e6f36;
}

.objective-popover {
    display: flex;
    flex-direction: column;
    padding: .4rem;
    border-radius: .2rem;
    background: #101010;
    border: 1px solid black;
    position: relative;
    z-index: inherit;
}
