
.task--urgent, .task--urgent a, .task--urgent a:hover, .task--urgent a:focus, .task--urgent a:visited {
    color: crimson;
}

.task--done {
    opacity: .2;
}

.task--today, .task--urgent {
    font-weight: bold;
}
