#tasks {
    line-height: 1.6;
}

.task-overdue {
    color: var(--warning);
}

.task-button-complete {
    margin-right: .2rem;
    width: 1.18rem;
    height: 1.18rem;
    padding: 0;
}

.task-button-complete:not(:hover) i {
    visibility: hidden;
}
