<div id="categoriesInput" class="input-categories">
    <input type="hidden" name="categories" value="{% if obj %}{% for category in obj.categories.all %}{% if not forloop.first %};{% endif %}{{ category.name }}{% endfor %}{% elif request.GET.categories %}{{ request.GET.categories }}{% endif %}" />
    <div class="input-categories-current"></div>
    <div class="search">
        <div class="search-bar">
            <input type="text" placeholder="Category" class="search-input" size="10" autocomplete="off" />
        </div>
        <ul class="search-suggestions menu"></ul>
    </div>
</div>
<script>setupCategoryInput(categoriesInput)</script>