<div id="categoriesInput" class="row">
    <input id="categoriesInputHidden" type="hidden" name="categories" value="{% for category in obj.categories.all %}{% if not forloop.first %};{% endif %}{{ category.id }}{% endfor %}" />
    <div id="categoriesInputCurrent" class="row"></div>
    <div class="search">
        <div id="categoriesSuggestions" class="search-bar">
            <input id="categoriesInputNew" type="text" placeholder="category" class="search-input" size="10" autocomplete="off" />
        </div>
        <ul id="categoriesSuggestionsItems" class="search-suggestions menu"></ul>
    </div>
</div>