<a class="link-hidden oneline-truncate" href="{% url 'orgapy:map' mid=map.id %}">{{map.title}}</a>
{% if map.public %}
<a class="button-inline" href="{% url 'orgapy:toggle_map_public' mid=map.id %}?next={{ request.path }}" title="Make private"><i class="ri-lock-line"></i></a>
{% endif %}
<div class="show-on-parent-hover">
    <div class="dropdown">
        <a class="button-inline dropdown-toggle" title="More options" tabindex="0"><i class="ri-more-fill"></i></a>
        <ul class="menu">
            {% if not map.public %}
            <li class="menu-item"><a href="{% url 'orgapy:toggle_map_public' mid=map.id %}?next={{ request.path }}" title="Make public"><i class="ri-lock-unlock-line"></i> Publish</a></li>
            {% else %}
            <li class="menu-item"><a href="{% url 'orgapy:toggle_map_public' mid=map.id %}?next={{ request.path }}" title="Make private"><i class="ri-lock-line"></i> Make private</a></li>
            <li class="menu-item"><a href="{% url 'orgapy:map' mid=map.nonce %}"><i class="ri-share-line"></i> Share</a></li>
            {% endif %}
            <li class="menu-item"><a href="{% url 'orgapy:export_map' mid=map.id %}" title="Download as GeoJSON"><i class="ri-download-line"></i> Download</a></li>
            <li class="menu-item"><a href="{% url 'orgapy:delete_map' mid=map.id %}" class="link-confirm" message="Please confirm deletion of '{{ map.title }}'" title="Delete"><i class="ri-delete-bin-line"></i> Delete</a></li>
        </ul>
    </div>
</div>