<div id="modal-add-event" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-add-event')"></span>
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Add Event</div>
        </div>
        <div class="modal-body">
            <form id="form-add-event" method="post" action="{% url 'orgapy:api' %}?action=add-event">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">Calendar</label>
                    <select class="form-select" name="calendarid"></select>
                </div>
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input class="form-input" name="title" type="text" placeholder="Weekly Meeting, Launch, …" />
                </div>
                <div class="form-group">
                    <label class="form-switch">
                        <input type="checkbox" name="allday" />
                        <i class="form-icon"></i>
                        All Day
                    </label>
                </div>
                <div class="form-group">
                    <label class="form-label">Date start</label>
                    <div class="input-group">
                        <input class="form-input" name="dtstart-date" type="date" />
                        <input class="form-input" name="dtstart-time" type="time" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Date end</label>
                    <div class="input-group">
                        <input class="form-input" name="dtend-date" type="date" />
                        <input class="form-input" name="dtend-time" type="time" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Location</label>
                    <input class="form-input" name="location" type="text" placeholder="Paris, Room 5, …" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btn-add-event">Add</button>
            <button class="btn" onclick="closeModal('modal-add-event')">Cancel</button>
        </div>
    </div>
</div>

<div id="modal-add-task" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-add-task')"></span>
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Add Task</div>
        </div>
        <div class="modal-body">
            <form id="form-add-task" method="post" action="{% url 'orgapy:api' %}?action=add-task">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input class="form-input" name="title" type="text" placeholder="Housework, Call X, …" />
                </div>
                <div class="form-group">
                    <label class="form-label">Date start</label>
                    <input class="form-input" name="start_date" type="date" />
                </div>
                <div class="form-group">
                    <label class="form-label">Date due</label>
                    <input class="form-input" name="due_date" type="date" />
                </div>
                <div class="form-group">
                    <label class="form-label">Recurring mode</label>
                    <select class="form-select" name="recurring_mode">
                        <option value="ON" selected>Once</option>
                        <option value="DY">Daily</option>
                        <option value="WK">Weekly</option>
                        <option value="MN">Monthly</option>
                        <option value="YR">Yearly</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Recurring period</label>
                    <input class="form-input" name="recurring_period" type="number" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btn-add-task">Add</button>
            <button class="btn" onclick="closeModal('modal-add-task')">Cancel</button>
        </div>
    </div>
</div>

<div id="modal-edit-task" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-edit-task')"></span>
    <div class="modal-container">
        <div class="modal-header">
            <div class="modal-title h5">Edit Task</div>
        </div>
        <div class="modal-body">
            <form id="form-edit-task" method="post" action="{% url 'orgapy:api' %}?action=edit-task">
                {% csrf_token %}
                <input name="id" hidden />
                <div class="form-group">
                    <label class="form-label">Title</label>
                    <input class="form-input" name="title" type="text" placeholder="Housework, Call X, …" />
                </div>
                <div class="form-group">
                    <label class="form-label">Date start</label>
                    <input class="form-input" name="start_date" type="date" />
                </div>
                <div class="form-group">
                    <label class="form-label">Date due</label>
                    <input class="form-input" name="due_date" type="date" />
                </div>
                <div class="form-group">
                    <label class="form-label">Recurring mode</label>
                    <select class="form-select" name="recurring_mode">
                        <option value="ON" selected>Once</option>
                        <option value="DY">Daily</option>
                        <option value="WK">Weekly</option>
                        <option value="MN">Monthly</option>
                        <option value="YR">Yearly</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Recurring period</label>
                    <input class="form-input" name="recurring_period" type="number" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" id="btn-edit-task">Save</button>
            <button class="btn btn-primary" id="btn-delete-task">Delete</button>
            <button class="btn" onclick="closeModal('modal-edit-task')">Cancel</button>
        </div>
    </div>
</div>