<div id="modal-create-sheet-group" class="modal">
    <span class="modal-overlay" onclick="closeModal('modal-create-sheet-group')"></span>
    <div class="modal-container">
        <form method="post" action="{% url 'orgapy:create_sheet_group' %}?next={{ request.path }}">
            {% csrf_token %}
        <div class="modal-header">
            <div class="modal-title h5">Create Sheet Group</div>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="form-label" for="input-sheet-group-title">Title</label>
                <input class="form-input" required type="text" name="title" placeholder="My Sheet Group" id="input-sheet-group-title" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary">Add</button>
        </div>
        </form>
    </div>
</div>