
<div class="oneline oneline-striped">
    {% if mixed %}
    {% if obj.active == "notes" %}
    <i title="Note" class="ri-sticky-note-line object-icon"></i>
    {% elif obj.active == "sheets" %}
    <i title="Sheet" class="ri-table-line object-icon"></i>
    {% elif obj.active == "maps" %}
    <i title="Map" class="ri-map-2-line object-icon"></i>
    {% endif %}
    {% endif %}
    <span class="obj-date-hint">{{ obj.date_modification_display }}</span>
    {% if obj.hidden %}
    <span title="Hidden"><i class="ri-eye-line"></i></span>
    {% endif %}
    {% if obj.deleted %}
    <span class="oneline-truncate" title="{{ obj.title }}">{{ obj.title }}</span>
    {% else %}
    <a class="oneline-truncate link-hidden" href="{{ obj.get_absolute_url }}" title="{{ obj.title }}">{{ obj.title }}</a>
    {% endif %}
    <span>
        {% if obj.categories.all %}
        {% for category in obj.categories.all %}
        <a class="link-tenuous" href="{{ category.get_absolute_url }}">#{{category.name}}</a>
        {% endfor%}
        {% else %}
        <a class="link-tenuous" href="{% url 'orgapy:category' name='uncategorized' %}">uncategorized</a>
        {% endif %}
    </span>
    {% if obj.deleted %}
    <a href="{% url 'orgapy:restore' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}">Restore</a>
    <a class="link-confirm" href="{% url 'orgapy:destroy' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}">Destroy</a>
    {% else %}
    {% if obj.pinned %}
    <a class="button-inline" href="{% url 'orgapy:toggle_pin' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" title="Unpin"><i class="ri-bookmark-fill"></i></a>
    {% endif %}
    {% if obj.public %}
    <a class="button-inline" href="{% url 'orgapy:toggle_public' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" title="Make private"><i class="ri-lock-line"></i></a>
    {% endif %}
    <span class="show-on-parent-hover">
        <a href="{% url 'orgapy:edit' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" class="button-inline" title="Edit"><i class="ri-pencil-fill"></i></a>
        <div class="dropdown">
            <a class="button-inline dropdown-toggle" title="More options" tabindex="0"><i class="ri-more-fill"></i></a>
            <ul class="menu">
                {% if not obj.pinned %}
                <li class="menu-item"><a href="{% url 'orgapy:toggle_pin' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" title="Mark as favorite"><i class="ri-bookmark-fill"></i> Pin</a></li>
                {% endif %}
                {% if not obj.public %}
                <li class="menu-item"><a href="{% url 'orgapy:toggle_public' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" title="Make public"><i class="ri-lock-unlock-line"></i> Publish</a></li>
                {% else %}
                <li class="menu-item"><a href="{% url 'orgapy:toggle_public' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" title="Make private"><i class="ri-lock-line"></i> Make private</a></li>
                <li class="menu-item"><a href="{% url 'orgapy:share' active=obj.active nonce=obj.nonce %}"><i class="ri-share-line"></i> Share</a></li>
                {% endif %}
                <li class="menu-item"><a href="{% url 'orgapy:export' active=obj.active object_id=obj.id %}" title="Download"><i class="ri-download-line"></i> Download</a></li>
                <li class="menu-item"><a href="{% url 'orgapy:delete' active=obj.active object_id=obj.id %}?next={{ request.get_full_path | urlencode }}" class="link-confirm" message="Please confirm deletion of '{{ obj.title }}'" title="Delete"><i class="ri-delete-bin-line"></i> Delete</a></li>
            </ul>
        </div>
    </span>
    {% endif %}
</div>