<dialog id="dialogObjective" closedby="any">
    <form class="card">
        {% csrf_token %}
        <input hidden name="id" />
        <input hidden name="history" />
        <input hidden name="archived" />
        <h2 class="card-header">Create objective</h2>
        <div class="card-body colll">
            <div>
                <label for="input-objective-name">Name</label>
                <input required minlength="1" name="name" type="text" id="input-objective-name" />
            </div>
            <div>
                <label cfor="input-objective-period">Period (days)</label>
                <input required name="period" type="number" id="input-objective-period" min="1" step="1" max="365" />
            </div>
            <div>
                <label for="input-objective-flexible" class="toggle">
                    <input name="flexible" type="checkbox" id="input-objective-flexible" />
                    <span class="toggle-slider"></span>
                    <span class="toggle-text">Flexible</span>
                </label>
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add"/>
            <input type="submit" name="save" value="Save"/>
            <input type="submit" name="archive" value="Archive"/>
            <input type="submit" name="completion" value="Add completion"/>
            <input type="submit" class="button-danger" name="delete" value="Delete"/>
        </div>
    </form>
</dialog>

<dialog id="dialogCompletion" closedby="any">
    <form class="card">
        {% csrf_token %}
        <input hidden name="id" />
        <input hidden name="history" />
        <input hidden name="timestamp" />
        <h2 class="card-header">Add completion</h2>
        <div class="card-body colll">
            <div>
                <label>Date</label>
                <input type="date" name="date" />
            </div>
            <div>
                <label>Time</label>
                <input type="time" name="time" step="1" />
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add"/>
            <input type="submit" name="save" value="Save"/>
            <input type="submit" class="button-danger" name="delete" value="Delete"/>
        </div>
    </form>
</dialog>
