<div class="card-actions">
    <button id="gotoButton" title="Go to page"><i class="ri-arrow-right-circle-line"></i></button>
    {% for page in paginator.pages %}
        {% if page %}
            <a class="button {% if page == paginator.active %}active{% endif %}" href="{% querystring page=page %}">{{ page }}</a>
        {% else %}
            <button disabled>…</button>
        {% endif %}
    {% endfor %}
    <span class="hint" style="width: 100%; text-align: right; margin-right: .8rem">{{ paginator.count }} result{{ paginator.count | pluralize }}</span>
</div>
<script>bindGotoPaginatorButton(gotoButton, {{ paginator.active }}, {{ paginator.max }})</script>