<ul class="pagination">
    <button id="button-paginator-goto" class="paginator-button" title="Go to page"><i class="ri-arrow-right-circle-line"></i></button>
    {% for page in paginator.pages %}
        {% if page %}
        <li class="page-item{% if page == paginator.active %} active{% endif %}">
            <a href="?page={{ page }}{{ paginator.attr_string }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <span>…</span>
        </li>
        {% endif %}
    {% endfor %}
</ul>

<script>
    bindGotoPaginatorButton("#button-paginator-goto", {{ paginator.active }}, {{ paginator.max }}, "{{ paginator.attr_string | safe }}");
</script>