<div class="card-actions">
    <button id="button-paginator-goto" title="Go to page"><i class="ri-arrow-right-circle-line"></i></button>
    {% for page in paginator.pages %}
        {% if page %}
            <a class="button {% if page == paginator.active %}active{% endif %}" href="?page={{ page }}{{ paginator.attr_string }}">{{ page }}</a>
        {% else %}
            <span>…</span>
        {% endif %}
    {% endfor %}
</div>

<script>
    bindGotoPaginatorButton("#button-paginator-goto", {{ paginator.active }}, {{ paginator.max }}, "{{ paginator.attr_string | safe }}");
</script>