<form id="searchbar" class="searchbar" action="{% url 'orgapy:search' %}" method="get">
    <div class="searchbar-container">         
        <input class="searchbar-input" autocomplete="off" type="text" name="query" placeholder="Search a note, sheet or map" value="{% if query %}{{query}}{% endif %}" />
        <i class="searchbar-icon ri-close-line"></i>
        <div class="searchbar-suggestions"></div>
    </div>
    <button class="searchbar-search">Search</button>
</form>

<script>
    bindSearchbarSuggestions(document.getElementById("searchbar"), "suggestions");
</script>