<form id="sheet-searchbar" class="searchbar" action="{% url 'orgapy:sheets' %}" method="get">
    <div class="searchbar-container">         
        <input class="searchbar-input" type="text" name="query" placeholder="Search a sheet" value="{% if query %}{{query}}{% endif %}" />
        <i class="searchbar-icon ri-close-line"></i>
        <div class="searchbar-suggestions"></div>
    </div>
    <button class="searchbar-search">Search</button>
    <a class="searchbar-create button" href="{% url 'orgapy:create_sheet' %}{% if query %}?title={{query}}{% endif %}">Create sheet</a>
</form>

<script>
    bindSearchbarSuggestions(document.getElementById("sheet-searchbar"), "sheet-suggestions");
</script>