<dialog id="dialogTask" closedby="any">
    <form class="card">
        <h2 class="card-header">Create task</h2>
        {% csrf_token %}
        <input name="id" hidden />
        <div class="card-body colll">
            <div>
                <label>Title</label>
                <input name="title" type="text" placeholder="Housework, Call X, …" />
            </div>
            <div>
                <label>Date start</label>
                <input name="start_date" type="date" />
            </div>
            <div>
                <label>Date due</label>
                <input name="due_date" type="date" />
            </div>
            <div>
                <label>Recurring mode</label>
                <select class="form-select" name="recurring_mode">
                    <option value="ON" selected>Once</option>
                    <option value="DY">Daily</option>
                    <option value="WK">Weekly</option>
                    <option value="MN">Monthly</option>
                    <option value="YR">Yearly</option>
                </select>
            </div>
            <div>
                <label>Recurring period</label>
                <input name="recurring_period" type="number" />
            </div>
        </div>
        <div class="card-actions">
            <input type="submit" name="add" value="Add" />
            <input type="submit" name="save" value="Save" />
            <input type="submit" class="button-danger" name="delete" value="Delete" />
        </div>
    </form>
</dialog>