{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block column_main %}

{% block content_title %}{% endblock content_title %}

{% if objects %}
<div class="card card-lines">
    {% for obj in objects %}
    {% include 'orgapy/partials/object_list_item.html' %}
    {% endfor %}
    {% include 'orgapy/partials/pagination.html' %}
</div>
{% else %}
{% block empty %}
<div class="card">
    Nothing found 😔
</div>
{% endblock empty %}
{% endif %}

<script>document.querySelectorAll(".oli .dropdown").forEach(bindDropdown);</script>

{% endblock column_main %}
