{% extends "orgapy/layout/skeleton.html" %}
{% load static %}

{% block menu %}
<hr class="menu-separator">
<li class="menu-item"><a href="?hidden=1"><i class="ri-eye-line"></i> View Hidden</a></li>
<hr class="menu-separator">
{{ block.super }}
{% endblock menu %}

{% block main_content %}

{% block content_title %}{% endblock content_title %}

{% if objects %}
<div class="card card-oneline">
    {% for obj in objects %}
    {% include 'orgapy/partials/object_list_item.html' %}
    {% endfor %}
</div>
{% else %}
{% block empty %}
<div class="card">
    <p>Nothing found 😔</p>
</div>
{% endblock empty %}
{% endif %}

{% include 'orgapy/partials/pagination.html' %}

<script>document.querySelectorAll(".show-on-parent-hover .dropdown").forEach(bindDropdown);</script>

{% endblock main_content %}
