{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>{% block title %}Orgapy{% endblock title %}</title>
    {% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="{% static 'orgapy/logo/32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'orgapy/logo/48.png' %}" sizes="48x48" />
    <link rel="icon" href="{% static 'orgapy/logo/96.png' %}" sizes="96x96" />
    <link rel="icon" href="{% static 'orgapy/logo/144.png' %}" sizes="144x144" />
    <link rel="stylesheet" href="{% static 'orgapy/remixicon/remixicon.css' %}" />
    <link rel="stylesheet" href="{% static 'orgapy/css/orgapy.css' %}" />
    <script src="{% static 'orgapy/js/orgapy.js' %}"></script>
    <script>
        const URL_API = "{% url 'orgapy:api' %}";
        {% if request.user.is_authenticated %}
        const CSRF_TOKEN = "{{csrf_token}}";
        {% endif %}
    </script>
    {% endblock head %}
</head>

<body>
    {% block body %}
    {% block before_columns %}{% endblock before_columns %}
    <div id="columns">
        <div id="column-left">{% block left_column %}{% endblock left_column %}</div>
        <main id="column-main">
        {% block center_column %}
            <nav id="navbar">
                <a href="{% url 'orgapy:projects' %}" class="navbar-link {% if active == 'projects' %}active{% endif %}">Projects</a>
                <a href="{% url 'orgapy:notes' %}" class="navbar-link {% if active == 'notes' %}active{% endif %}">Notes</a>
                <a href="{% url 'orgapy:quotes' %}" class="navbar-link {% if active == 'quotes' %}active{% endif %}">Quotes</a>
                <a href="{% url 'orgapy:sheets' %}" class="navbar-link {% if active == 'sheets' %}active{% endif %}">Sheets</a>
                <a href="{% url 'orgapy:maps' %}" class="navbar-link {% if active == 'maps' %}active{% endif %}">Maps</a>
            </nav>
            {% comment %}
            <header class="navbar">
                <a href="{% url 'orgapy:landing' %}" class="btn btn-link">Orgapy</a>
                <a href="{% url 'orgapy:projects' %}" class="btn {% if active != 'projects' %}btn-link{% else %}mr-1{% endif %}" title="Projects"><i class="icon icon-task"></i></a>
                <a href="{% url 'orgapy:notes' %}" class="btn {% if active != 'notes' %}btn-link{% else %}mr-1 ml-1{% endif %}" title="Notes"><i class="icon icon-note"></i></a>
                <a href="{% url 'orgapy:quotes' %}" class="btn {% if active != 'quotes' %}btn-link{% else %}mr-1 ml-1{% endif %}" title="Quotes"><i class="icon icon-quote"></i></a>
                <a href="{% url 'orgapy:sheets' %}" class="btn {% if active != 'sheets' %}btn-link{% else %}mr-1 ml-1{% endif %}" title="Sheets"><i class="icon icon-feed"></i></a>
                <a href="{% url 'orgapy:maps' %}" class="btn {% if active != 'maps' %}btn-link{% else %}mr-1 ml-1{% endif %}" title="Maps"><i class="icon icon-map"></i></a>
            </header>
            {% endcomment %}
            {% block main_content_prev %}{% endblock main_content_prev %}
            {% block main_content %}{% endblock main_content %}
            {% block main_content_next %}{% endblock main_content_next %}
        {% endblock center_column %}
        </main>
        <div id="column-right"><div id="column-right-sticky">{% block right_column %}{% endblock right_column %}</div></div>
    </div>
    {% block after_columns %}{% endblock after_columns %}
    {% endblock body %}
    <div id="snackbar"></div>
    {% block body_bottom %}{% endblock body_bottom %}
    {% block body_scripts %}{% endblock body_scripts %}
</body>

</html>
